In [1]:
import numpy as np
import pandas as pd

In [2]:

lotsDataReports01 = pd.read_csv('./data/466990-20241125T141319Z-001/466990/lotsDataReports01.csv')
lotsDataReports02 = pd.read_csv('./data/466990-20241125T141319Z-001/466990/lotsDataReports02.csv')
lotsDataReports03 = pd.read_csv('./data/466990-20241125T141319Z-001/466990/lotsDataReports03.csv')
lotsDataReports04 = pd.read_csv('./data/466990-20241125T141319Z-001/466990/lotsDataReports04.csv')
lotsDataReports05 = pd.read_csv('./data/466990-20241125T141319Z-001/466990/lotsDataReports05.csv')
lotsDataReports06 = pd.read_csv('./data/466990-20241125T141319Z-001/466990/lotsDataReports06.csv')
lotsDataReports07 = pd.read_csv('./data/466990-20241125T141319Z-001/466990/lotsDataReports07.csv')
lotsDataReports08 = pd.read_csv('./data/466990-20241125T141319Z-001/466990/lotsDataReports08.csv')
lotsDataReports09 = pd.read_csv('./data/466990-20241125T141319Z-001/466990/lotsDataReports09.csv')
lotsDataReports10 = pd.read_csv('./data/466990-20241125T141319Z-001/466990/lotsDataReports10.csv')

lotsDataReports_466990 = pd.concat([lotsDataReports01, lotsDataReports02, lotsDataReports03, lotsDataReports04, lotsDataReports05, lotsDataReports06, lotsDataReports07, lotsDataReports08, lotsDataReports09, lotsDataReports10], axis=0)

In [3]:
#把lotsDataReports中object欄位轉換成float64，並且把None轉換成缺失值
lotsDataReports_466990 = lotsDataReports_466990.apply(pd.to_numeric, errors='coerce')

lotsDataReports_466990['stno'] = 466990

#把stno欄位移至第一欄
cols = list(lotsDataReports_466990)
cols.insert(0, cols.pop(cols.index('stno')))
lotsDataReports_466990 = lotsDataReports_466990.loc[:, cols]

#刪除第二欄
lotsDataReports_466990 = lotsDataReports_466990.drop(lotsDataReports_466990.columns[1], axis=1)

In [4]:
#新創一欄位"Date"，值為yyyymmddhh欄位前8碼
lotsDataReports_466990['Date'] = lotsDataReports_466990[' yyyymmddhh'].astype(str).str[:8]

#新創一欄位"Time"，值為yyyymmddhh欄位後2碼
lotsDataReports_466990['Time'] = lotsDataReports_466990[' yyyymmddhh'].astype(str).str[8:]

#刪除"Time"為01、02、03、19、20、21、22、23、24的資料
lotsDataReports_466990 = lotsDataReports_466990[~lotsDataReports_466990['Time'].isin(['01', '02', '03', '19', '20', '21', '22', '23', '24'])]

In [5]:
# 計算每個欄位中出現nan的比例
lotsDataReports_466990_nan = lotsDataReports_466990.isnull().mean()
lotsDataReports_466990_nan

stno           0.000000
 yyyymmddhh    0.000000
     PS01      0.000000
     PS02      0.000000
     TX01      0.000000
     TD01      0.000000
     RH01      0.000000
     WD01      0.000000
     WD02      0.000000
     WD07      0.000000
     WD08      0.000000
     PP01      0.000000
     PP02      0.000000
     SS01      0.133333
     GR01      0.000000
     VS01      0.666667
     UV01      0.000000
     CD11      0.666667
     TS01      0.800000
     TS02      0.800000
     TS03      0.800000
     TS04      0.800000
     TS05      0.800000
     TS06      0.800000
     TS07      0.800000
Date           0.000000
Time           0.000000
dtype: float64

In [6]:
#刪除lotsDataReports_466990_nan中nan比例大於0.5的欄位
lotsDataReports_466990 = lotsDataReports_466990.drop(lotsDataReports_466990_nan[lotsDataReports_466990_nan > 0.5].index, axis=1)
lotsDataReports_466990

,stno,yyyymmddhh,PS01,PS02,TX01,TD01,RH01,WD01,WD02,WD07,WD08,PP01,PP02,SS01,GR01,UV01,Date,Time
3,466990,2024010104,1019.3,1021.6,18.7,12.0,65,6.4,40.0,11.9,50.0,0.0,0.0,NaN,0.00,0.00,20240101,04
4,466990,2024010105,1019.4,1021.7,18.6,11.7,64,4.9,40.0,12.4,50.0,0.0,0.0,NaN,0.00,0.00,20240101,05
5,466990,2024010106,1020.1,1022.4,18.7,11.5,63,7.3,40.0,11.0,30.0,0.0,0.0,0.0,0.00,0.00,20240101,06
6,466990,2024010107,1020.7,1023.0,18.8,11.9,64,5.6,50.0,11.4,80.0,0.0,0.0,0.0,0.01,0.00,20240101,07
7,466990,2024010108,1021.4,1023.7,18.7,12.2,66,6.6,40.0,12.0,50.0,0.0,0.0,0.0,0.07,0.07,20240101,08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
733,466990,2024103114,989.5,991.7,25.9,24.7,93,19.0,110.0,30.7,90.0,10.5,1.0,0.0,0.09,0.27,20241031,14
734,466990,2024103115,989.1,991.3,25.6,24.4,93,23.0,130.0,35.0,120.0,5.5,1.0,0.0,0.07,0.17,20241031,15
735,466990,2024103116,989.7,991.9,26.0,25.0,94,15.1,130.0,32.1,140.0,6.5,1.0,0.0,0.03,0.05,20241031,16
736,466990,2024103117,990.3,992.5,25.9,24.9,94,18.6,140.0,30.4,140.0,10.0,1.0,0.0,0.02,0.01,20241031,17
737,466990,2024103118,991.5,993.7,26.0,25.1,95,16.0,160.0,29.1,140.0,7.0,1.0,0.0,0.00,0.00,20241031,18

In [ ]:
#把lotsDataReports_466990欄位名稱改為'stno','yyyymmddhh','PS01_466990','PS02_466990','TX01_466990','TD01_466990','RH01_466990','WD01_466990','WD02_466990','WD07_466990','WD08_466990','PP01_466990','PP02_466990','SS01_466990','GR01_466990','UV01_466990','Date','Time'
lotsDataReports_466990.columns = ['stno','yyyymmddhh','PS01_466990','PS02_466990','TX01_466990','TD01_466990','RH01_466990','WD01_466990','WD02_466990','WD07_466990','WD08_466990','PP01_466990','PP02_466990','SS01_466990','GR01_466990','UV01_466990','Date','Time']
lotsDataReports_466990.columns

Index(['stno', 'yyyymmddhh', 'PS01_466990', 'PS02_466990', 'TX01_466990',
       'TD01_466990', 'RH01_466990', 'WD01_466990', 'WD02_466990',
       'WD07_466990', 'WD08_466990', 'PP01_466990', 'PP02_466990',
       'SS01_466990', 'GR01_466990', 'UV01_466990', 'Date', 'Time'],
      dtype='object')

In [8]:

lotsDataReports01 = pd.read_csv('./data/72T250/lotsDataReports01.csv')
lotsDataReports02 = pd.read_csv('./data/72T250/lotsDataReports02.csv')
lotsDataReports03 = pd.read_csv('./data/72T250/lotsDataReports03.csv')
lotsDataReports04 = pd.read_csv('./data/72T250/lotsDataReports04.csv')
lotsDataReports05 = pd.read_csv('./data/72T250/lotsDataReports05.csv')
lotsDataReports06 = pd.read_csv('./data/72T250/lotsDataReports06.csv')
lotsDataReports07 = pd.read_csv('./data/72T250/lotsDataReports07.csv')
lotsDataReports08 = pd.read_csv('./data/72T250/lotsDataReports08.csv')
lotsDataReports09 = pd.read_csv('./data/72T250/lotsDataReports09.csv')
lotsDataReports10 = pd.read_csv('./data/72T250/lotsDataReports10.csv')

lotsDataReports_72250 = pd.concat([lotsDataReports01, lotsDataReports02, lotsDataReports03, lotsDataReports04, lotsDataReports05, lotsDataReports06, lotsDataReports07, lotsDataReports08, lotsDataReports09, lotsDataReports10], axis=0)

In [9]:
lotsDataReports_72250 = lotsDataReports_72250.apply(pd.to_numeric, errors='coerce')

#把lotsDataReports_72T250中stno欄位的值用72250取代
lotsDataReports_72250['stno'] = 72250
lotsDataReports_72250

#把stno欄位移至第一欄
cols = list(lotsDataReports_72250)
cols.insert(0, cols.pop(cols.index('stno')))
lotsDataReports_72250 = lotsDataReports_72250.loc[:, cols]

#刪除第二欄
lotsDataReports_72250 = lotsDataReports_72250.drop(lotsDataReports_72250.columns[1], axis=1)

In [10]:
#新創一欄位"Date"，值為yyyymmddhh欄位前8碼
lotsDataReports_72250['Date'] = lotsDataReports_72250[' yyyymmddhh'].astype(str).str[:8]

#新創一欄位"Time"，值為yyyymmddhh欄位後2碼
lotsDataReports_72250['Time'] = lotsDataReports_72250[' yyyymmddhh'].astype(str).str[8:]

#刪除"Time"為01、02、03、19、20、21、22、23、24的資料
lotsDataReports_72250 = lotsDataReports_72250[~lotsDataReports_72250['Time'].isin(['01', '02', '03', '19', '20', '21', '22', '23', '24'])]

In [11]:
# 計算每個欄位中出現nan的比例
lotsDataReports_72250_nan = lotsDataReports_72250.isnull().mean()

#刪除lotsDataReports_72250_nan中nan比例大於0.2的欄位
lotsDataReports_72250 = lotsDataReports_72250.drop(lotsDataReports_72250_nan[lotsDataReports_72250_nan > 0.2].index, axis=1)

In [12]:
#把lotsDataReports_72250欄位名稱改為'stno','yyyymmddhh','PS01_72250','PS02_72250','TX01_72250','TD01_72250','RH01_72250','WD01_72250','WD02_72250','WD07_72250','WD08_72250','PP01_72250','SS01_72250','GR01_72250','TS01_72250','TS02_72250','TS03_72250','TS04_72250','TS06_72250','TS07_72250','Date','Time'
lotsDataReports_72250.columns = ['stno','yyyymmddhh','PS01_72250','PS02_72250','TX01_72250','TD01_72250','RH01_72250','WD01_72250','WD02_72250','WD07_72250','WD08_72250','PP01_72250','SS01_72250','GR01_72250','TS01_72250','TS02_72250','TS03_72250','TS04_72250','TS06_72250','TS07_72250','Date','Time']
lotsDataReports_72250.columns

Index(['stno', 'yyyymmddhh', 'PS01_72250', 'PS02_72250', 'TX01_72250',
       'TD01_72250', 'RH01_72250', 'WD01_72250', 'WD02_72250', 'WD07_72250',
       'WD08_72250', 'PP01_72250', 'SS01_72250', 'GR01_72250', 'TS01_72250',
       'TS02_72250', 'TS03_72250', 'TS04_72250', 'TS06_72250', 'TS07_72250',
       'Date', 'Time'],
      dtype='object')

In [13]:

lotsDataReports01 = pd.read_csv('./data/C0Z100/lotsDataReports01.csv')
lotsDataReports02 = pd.read_csv('./data/C0Z100/lotsDataReports02.csv')
lotsDataReports03 = pd.read_csv('./data/C0Z100/lotsDataReports03.csv')
lotsDataReports04 = pd.read_csv('./data/C0Z100/lotsDataReports04.csv')
lotsDataReports05 = pd.read_csv('./data/C0Z100/lotsDataReports05.csv')
lotsDataReports06 = pd.read_csv('./data/C0Z100/lotsDataReports06.csv')
lotsDataReports07 = pd.read_csv('./data/C0Z100/lotsDataReports07.csv')
lotsDataReports08 = pd.read_csv('./data/C0Z100/lotsDataReports08.csv')
lotsDataReports09 = pd.read_csv('./data/C0Z100/lotsDataReports09.csv')
lotsDataReports10 = pd.read_csv('./data/C0Z100/lotsDataReports10.csv')

lotsDataReports_100 = pd.concat([lotsDataReports01, lotsDataReports02, lotsDataReports03, lotsDataReports04, lotsDataReports05, lotsDataReports06, lotsDataReports07, lotsDataReports08, lotsDataReports09, lotsDataReports10], axis=0)

In [14]:
lotsDataReports_100  = lotsDataReports_100 .apply(pd.to_numeric, errors='coerce')

lotsDataReports_100 ['stno'] = 100

#把stno欄位移至第一欄
cols = list(lotsDataReports_100 )
cols.insert(0, cols.pop(cols.index('stno')))
lotsDataReports_100  = lotsDataReports_100 .loc[:, cols]

#刪除第二欄
lotsDataReports_100  = lotsDataReports_100 .drop(lotsDataReports_100 .columns[1], axis=1)

In [15]:
#新創一欄位"Date"，值為yyyymmddhh欄位前8碼
lotsDataReports_100 ['Date'] = lotsDataReports_100 [' yyyymmddhh'].astype(str).str[:8]

#新創一欄位"Time"，值為yyyymmddhh欄位後2碼
lotsDataReports_100 ['Time'] = lotsDataReports_100 [' yyyymmddhh'].astype(str).str[8:]

#刪除"Time"為01、02、03、04、05、06、17、18、19、20、21、22、23、24的資料
lotsDataReports_100  = lotsDataReports_100 [~lotsDataReports_100 ['Time'].isin(['01', '02', '03', '19', '20', '21', '22', '23', '24'])]

In [16]:
# 計算每個欄位中出現nan的比例
lotsDataReports_100_nan = lotsDataReports_100.isnull().mean()

In [17]:
#欄位名稱改為
lotsDataReports_100.columns = ['stno','yyyymmddhh','PS01_100','TX01_100','RH01_100','WD01_100','WD02_100','WD07_100','WD08_100','PP01_100','Date','Time']
lotsDataReports_100.columns

Index(['stno', 'yyyymmddhh', 'PS01_100', 'TX01_100', 'RH01_100', 'WD01_100',
       'WD02_100', 'WD07_100', 'WD08_100', 'PP01_100', 'Date', 'Time'],
      dtype='object')

In [18]:
#列出lotsDataReports_100, lotsDataReports_72250, lotsDataReports_466990的欄位
print('lotsDataReports_100.columns:', lotsDataReports_100.columns)
print('lotsDataReports_72250.columns:', lotsDataReports_72250.columns)
print('lotsDataReports_466990.columns:', lotsDataReports_466990.columns)

lotsDataReports_100.columns: Index(['stno', 'yyyymmddhh', 'PS01_100', 'TX01_100', 'RH01_100', 'WD01_100',
       'WD02_100', 'WD07_100', 'WD08_100', 'PP01_100', 'Date', 'Time'],
      dtype='object')
lotsDataReports_72250.columns: Index(['stno', 'yyyymmddhh', 'PS01_72250', 'PS02_72250', 'TX01_72250',
       'TD01_72250', 'RH01_72250', 'WD01_72250', 'WD02_72250', 'WD07_72250',
       'WD08_72250', 'PP01_72250', 'SS01_72250', 'GR01_72250', 'TS01_72250',
       'TS02_72250', 'TS03_72250', 'TS04_72250', 'TS06_72250', 'TS07_72250',
       'Date', 'Time'],
      dtype='object')
lotsDataReports_466990.columns: Index(['stno', 'yyyymmddhh', 'PS01_466990', 'PS02_466990', 'TX01_466990',
       'TD01_466990', 'RH01_466990', 'WD01_466990', 'WD02_466990',
       'WD07_466990', 'WD08_466990', 'PP01_466990', 'PP02_466990',
       'SS01_466990', 'GR01_466990', 'UV01_466990', 'Date', 'Time'],
      dtype='object')

使用lotsDataReports_72250和lotsDataReports_466990,lotsDataReports_100

In [19]:
#將lotsDataReports_466990和lotsDataReports_72250和lotsDataReports_100合併，依照'Date', 'Time'
lotsDataReports = pd.merge(lotsDataReports_466990, lotsDataReports_72250, on=['yyyymmddhh', 'Date', 'Time'], how='outer')
lotsDataReports = pd.merge(lotsDataReports, lotsDataReports_100, on=['yyyymmddhh', 'Date', 'Time'], how='outer')

#刪除lotsDataReports中stno_x和stno_y欄位
lotsDataReports = lotsDataReports.drop(['stno_x', 'stno_y', 'stno'], axis=1)
lotsDataReports

,yyyymmddhh,PS01_466990,PS02_466990,TX01_466990,TD01_466990,RH01_466990,WD01_466990,WD02_466990,WD07_466990,WD08_466990,...,TS06_72250,TS07_72250,PS01_100,TX01_100,RH01_100,WD01_100,WD02_100,WD07_100,WD08_100,PP01_100
0,2024010104,1019.3,1021.6,18.7,12.0,65,6.4,40.0,11.9,50.0,...,19.9,20.7,NaN,NaN,NaN,NaN,NaN,3.9,18.0,0.0
1,2024010105,1019.4,1021.7,18.6,11.7,64,4.9,40.0,12.4,50.0,...,19.9,20.7,NaN,NaN,NaN,NaN,NaN,3.3,62.0,0.0
2,2024010106,1020.1,1022.4,18.7,11.5,63,7.3,40.0,11.0,30.0,...,19.9,20.7,NaN,NaN,NaN,NaN,NaN,3.2,12.0,0.0
3,2024010107,1020.7,1023.0,18.8,11.9,64,5.6,50.0,11.4,80.0,...,19.9,20.7,NaN,NaN,NaN,NaN,NaN,1.6,342.0,0.0
4,2024010108,1021.4,1023.7,18.7,12.2,66,6.6,40.0,12.0,50.0,...,19.8,20.7,NaN,NaN,NaN,NaN,NaN,2.2,244.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4570,2024103114,989.5,991.7,25.9,24.7,93,19.0,110.0,30.7,90.0,...,25.2,26.2,986.9,25.2,99.0,4.6,62.0,19.9,89.0,10.0
4571,2024103115,989.1,991.3,25.6,24.4,93,23.0,130.0,35.0,120.0,...,25.2,26.2,986.5,25.5,96.0,3.8,101.0,18.2,107.0,8.0
4572,2024103116,989.7,991.9,26.0,25.0,94,15.1,130.0,32.1,140.0,...,25.2,26.2,987.2,25.4,99.0,3.6,122.0,17.9,90.0,7.5
4573,2024103117,990.3,992.5,25.9,24.9,94,18.6,140.0,30.4,140.0,...,25.1,26.2,987.4,25.3,100.0,2.4,148.0,15.3,102.0,15.0
4574,2024103118,991.5,993.7,26.0,25.1,95,16.0,160.0,29.1,140.0,...,25.0,26.2,988.7,25.3,99.0,1.6,157.0,14.5,196.0,11.0

In [20]:
lotsDataReports['Date'] = pd.to_datetime(lotsDataReports['Date'])

In [21]:
#列出lotsDataReports的所有欄位(tolist)
lotsDataReports.columns.tolist()
print(lotsDataReports.columns.tolist())

['yyyymmddhh', 'PS01_466990', 'PS02_466990', 'TX01_466990', 'TD01_466990', 'RH01_466990', 'WD01_466990', 'WD02_466990', 'WD07_466990', 'WD08_466990', 'PP01_466990', 'PP02_466990', 'SS01_466990', 'GR01_466990', 'UV01_466990', 'Date', 'Time', 'PS01_72250', 'PS02_72250', 'TX01_72250', 'TD01_72250', 'RH01_72250', 'WD01_72250', 'WD02_72250', 'WD07_72250', 'WD08_72250', 'PP01_72250', 'SS01_72250', 'GR01_72250', 'TS01_72250', 'TS02_72250', 'TS03_72250', 'TS04_72250', 'TS06_72250', 'TS07_72250', 'PS01_100', 'TX01_100', 'RH01_100', 'WD01_100', 'WD02_100', 'WD07_100', 'WD08_100', 'PP01_100']

In [22]:
#列出lotsDataReports中有缺失值的row
lotsDataReports[lotsDataReports.isnull().any(axis=1)]

,yyyymmddhh,PS01_466990,PS02_466990,TX01_466990,TD01_466990,RH01_466990,WD01_466990,WD02_466990,WD07_466990,WD08_466990,...,TS06_72250,TS07_72250,PS01_100,TX01_100,RH01_100,WD01_100,WD02_100,WD07_100,WD08_100,PP01_100
0,2024010104,1019.3,1021.6,18.7,12.0,65,6.4,40.0,11.9,50.0,...,19.9,20.7,NaN,NaN,NaN,NaN,NaN,3.9,18.0,0.0
1,2024010105,1019.4,1021.7,18.6,11.7,64,4.9,40.0,12.4,50.0,...,19.9,20.7,NaN,NaN,NaN,NaN,NaN,3.3,62.0,0.0
2,2024010106,1020.1,1022.4,18.7,11.5,63,7.3,40.0,11.0,30.0,...,19.9,20.7,NaN,NaN,NaN,NaN,NaN,3.2,12.0,0.0
3,2024010107,1020.7,1023.0,18.8,11.9,64,5.6,50.0,11.4,80.0,...,19.9,20.7,NaN,NaN,NaN,NaN,NaN,1.6,342.0,0.0
4,2024010108,1021.4,1023.7,18.7,12.2,66,6.6,40.0,12.0,50.0,...,19.8,20.7,NaN,NaN,NaN,NaN,NaN,2.2,244.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4531,2024102905,1007.3,1009.5,25.1,21.4,80,6.4,20.0,11.7,60.0,...,26.2,26.4,1006.0,23.9,92.0,0.1,0.0,2.7,30.0,0.0
4545,2024103004,1007.7,1009.9,23.0,20.4,85,1.7,290.0,4.5,250.0,...,25.9,26.4,1006.1,22.0,98.0,0.2,0.0,1.6,207.0,0.0
4546,2024103005,1007.6,1009.8,23.2,20.9,87,2.5,300.0,4.9,250.0,...,25.9,26.4,1006.2,21.9,99.0,0.0,0.0,1.3,218.0,0.0
4560,2024103104,998.7,1000.9,26.6,25.0,91,7.8,30.0,16.7,360.0,...,25.8,26.4,997.0,25.9,97.0,1.9,24.0,7.3,75.0,1.5
4561,2024103105,998.0,1000.2,27.0,25.2,90,11.9,20.0,22.3,30.0,...,25.7,26.4,995.6,25.9,98.0,2.7,23.0,8.9,43.0,4.5

In [23]:
#歸一化
name=""
# name="_maxmin"

In [24]:
final_result = pd.read_csv(f'./data/preprocess_data/TimeMinGroupData{name}.csv')
final_result_1 = final_result.copy()
final_result_1

,LocationCode,Date,TimeMinGroup,Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW)
0,1,2024-01-01,07:00,1016.730,17.50,86.99,470.834,0.083
1,1,2024-01-01,07:10,1016.774,17.57,86.97,659.667,0.139
2,1,2024-01-01,07:20,1016.922,17.63,86.18,889.666,0.247
3,1,2024-01-01,07:30,1016.992,17.74,85.41,1263.833,0.447
4,1,2024-01-01,07:40,1017.094,17.90,85.41,2136.833,1.129
...,...,...,...,...,...,...,...,...
124915,17,2024-07-12,16:10,NaN,NaN,NaN,NaN,NaN
124916,17,2024-07-12,16:20,NaN,NaN,NaN,NaN,NaN
124917,17,2024-07-12,16:30,NaN,NaN,NaN,NaN,NaN
124918,17,2024-07-12,16:40,NaN,NaN,NaN,NaN,NaN
124919,17,2024-07-12,16:50,NaN,NaN,NaN,NaN,NaN

In [25]:
#看final_result_1中Power(mW)最大值
final_result_1['Power(mW)'].max()

2272.618

In [26]:
#列出final_result_1中'power'有缺失值的row，取叫filtered_result
filtered_result = final_result_1[final_result_1['Power(mW)'].isnull()]

#把filtered_result中'Power(mW)'的值都改成-100
filtered_result.loc[filtered_result['Power(mW)'].isnull(), 'Power(mW)'] = -100
filtered_result

,LocationCode,Date,TimeMinGroup,Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW)
312,1,2024-01-06,09:00,NaN,NaN,NaN,NaN,-100.0
313,1,2024-01-06,09:10,NaN,NaN,NaN,NaN,-100.0
314,1,2024-01-06,09:20,NaN,NaN,NaN,NaN,-100.0
315,1,2024-01-06,09:30,NaN,NaN,NaN,NaN,-100.0
316,1,2024-01-06,09:40,NaN,NaN,NaN,NaN,-100.0
...,...,...,...,...,...,...,...,...
124915,17,2024-07-12,16:10,NaN,NaN,NaN,NaN,-100.0
124916,17,2024-07-12,16:20,NaN,NaN,NaN,NaN,-100.0
124917,17,2024-07-12,16:30,NaN,NaN,NaN,NaN,-100.0
124918,17,2024-07-12,16:40,NaN,NaN,NaN,NaN,-100.0
124919,17,2024-07-12,16:50,NaN,NaN,NaN,NaN,-100.0

In [27]:
filtered_result[filtered_result['Power(mW)'].isnull()]

Empty DataFrame
Columns: [LocationCode, Date, TimeMinGroup, Pressure(hpa), Temperature(°C), Humidity(%), Sunlight(Lux), Power(mW)]
Index: []

In [28]:
#將final_result_1中'Power(mW)'有缺失值的row刪除
final_result_1 = final_result_1.dropna(subset=['Power(mW)'])
final_result_1

,LocationCode,Date,TimeMinGroup,Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW)
0,1,2024-01-01,07:00,1016.730,17.50,86.99,470.834,0.083
1,1,2024-01-01,07:10,1016.774,17.57,86.97,659.667,0.139
2,1,2024-01-01,07:20,1016.922,17.63,86.18,889.666,0.247
3,1,2024-01-01,07:30,1016.992,17.74,85.41,1263.833,0.447
4,1,2024-01-01,07:40,1017.094,17.90,85.41,2136.833,1.129
...,...,...,...,...,...,...,...,...
124907,17,2024-07-12,14:50,1004.010,36.58,64.56,11530.249,29.948
124908,17,2024-07-12,15:00,1003.978,36.33,63.15,11156.418,28.025
124909,17,2024-07-12,15:10,1004.064,36.11,65.83,13226.666,41.568
124910,17,2024-07-12,15:20,1004.078,36.39,65.17,12541.167,36.892
124911,17,2024-07-12,15:30,1004.070,36.40,64.90,12288.330,34.870

In [29]:
final_result_1[final_result_1['Power(mW)'].isnull()]

Empty DataFrame
Columns: [LocationCode, Date, TimeMinGroup, Pressure(hpa), Temperature(°C), Humidity(%), Sunlight(Lux), Power(mW)]
Index: []

In [30]:
#創新欄位"Time"，值為TimeMinGroup的前2碼，並轉成整數
final_result_1['Time'] = final_result_1['TimeMinGroup'].astype(str).str[:2]
filtered_result['Time'] = filtered_result['TimeMinGroup'].astype(str).str[:2]

final_result_1['Time'] = final_result_1['Time'].astype(int)
filtered_result['Time'] = filtered_result['Time'].astype(int)

/tmp/ipykernel_3049494/2791130138.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_result_1['Time'] = final_result_1['TimeMinGroup'].astype(str).str[:2]
/tmp/ipykernel_3049494/2791130138.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_result['Time'] = filtered_result['TimeMinGroup'].astype(str).str[:2]
/tmp/ipykernel_3049494/2791130138.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_result_1['Time'] = final_result_1['Time'].astype(int)
/tmp/ipykernel_3049494/2791130138.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_result['Time'] = filtered_result['Time'].astype(int)

In [31]:
#看final_result_1中有幾種LocationCode和Date和Time的組合，加總組合數，列出所有count加總
final_result_1.groupby(['LocationCode', 'Date', 'Time']).size().reset_index(name='count').count()

LocationCode    17734
Date            17734
Time            17734
count           17734
dtype: int64

In [32]:
#將final_result_11依照相同LocationCode,Date,Time,將各row的Power(mW)依序加在column後面
# 透過 pivot_table 將每小時的 Power(mW) 整合到一列
result = final_result_1.pivot_table(
    index=["LocationCode", "Date", "Time"],
    columns=final_result_1.groupby(["LocationCode", "Date", "Time"]).cumcount(),
    values="Power(mW)"
).reset_index()

# 調整欄位名稱
result.columns = ["LocationCode", "Date", "Time"] + [f"Power_{i+1}" for i in range(result.shape[1] - 3)]

# 顯示整理後的 DataFrame
print(result)

       LocationCode        Date  Time   Power_1   Power_2   Power_3   Power_4  \
0                 1  2024-01-01     7     0.083     0.139     0.247     0.447
1                 1  2024-01-01     8     1.180     1.440     2.369     4.183
2                 1  2024-01-01     9    17.368    12.612     8.807    17.564
3                 1  2024-01-01    10    19.709    20.346    20.435    14.007
4                 1  2024-01-01    11    13.197     9.474    10.262    15.875
...             ...         ...   ...       ...       ...       ...       ...
17729            17  2024-07-12    11  1268.184  1240.828  1187.528  1043.731
17730            17  2024-07-12    12  1213.114  1051.640  1057.633   937.805
17731            17  2024-07-12    13   638.922   624.088   720.986   470.042
17732            17  2024-07-12    14   195.425    56.789    14.412    26.899
17733            17  2024-07-12    15    28.025    41.568    36.892    34.870

        Power_5   Power_6
0         1.129     1.597
1         9.765    11.859
2         7.508     7.032
3         9.333    13.533
4        22.822    20.508
...         ...       ...
17729  1288.217  1257.187
17730   914.582  1085.705
17731   392.483   564.158
17732    28.467    29.948
17733       NaN       NaN

[17734 rows x 9 columns]

In [33]:
#看result中有缺失值的row
result[result.isnull().any(axis=1)]

,LocationCode,Date,Time,Power_1,Power_2,Power_3,Power_4,Power_5,Power_6
216,1,2024-01-26,13,61.517143,42.692857,35.980000,29.773000,21.031667,NaN
217,1,2024-01-26,14,24.780000,20.685000,13.176667,NaN,NaN,NaN
339,1,2024-02-07,16,10.583000,8.096000,9.520000,NaN,NaN,NaN
340,1,2024-02-08,12,137.907500,NaN,NaN,NaN,NaN,NaN
399,1,2024-02-15,9,1256.628571,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
16767,17,2024-02-02,12,2.415000,1.775000,2.293333,NaN,NaN,NaN
17391,17,2024-05-15,16,26.388000,21.131000,14.569000,8.922222,NaN,NaN
17412,17,2024-05-26,16,10.304000,NaN,NaN,NaN,NaN,NaN
17589,17,2024-06-23,11,1210.750000,NaN,NaN,NaN,NaN,NaN
17733,17,2024-07-12,15,28.025000,41.568000,36.892000,34.870000,NaN,NaN

In [34]:
# 假設 filtered 是您的 DataFrame
result = result.dropna()

# 顯示刪除後的結果
result

,LocationCode,Date,Time,Power_1,Power_2,Power_3,Power_4,Power_5,Power_6
0,1,2024-01-01,7,0.083,0.139,0.247,0.447,1.129,1.597
1,1,2024-01-01,8,1.180,1.440,2.369,4.183,9.765,11.859
2,1,2024-01-01,9,17.368,12.612,8.807,17.564,7.508,7.032
3,1,2024-01-01,10,19.709,20.346,20.435,14.007,9.333,13.533
4,1,2024-01-01,11,13.197,9.474,10.262,15.875,22.822,20.508
...,...,...,...,...,...,...,...,...,...
17728,17,2024-07-12,10,1036.557,1139.295,957.427,1205.549,1215.459,1146.666
17729,17,2024-07-12,11,1268.184,1240.828,1187.528,1043.731,1288.217,1257.187
17730,17,2024-07-12,12,1213.114,1051.640,1057.633,937.805,914.582,1085.705
17731,17,2024-07-12,13,638.922,624.088,720.986,470.042,392.483,564.158
17732,17,2024-07-12,14,195.425,56.789,14.412,26.899,28.467,29.948

In [35]:
#看filtered_result中有幾種LocationCode和Date和Time的組合，加總組合數，列出所有count加總
filtered_result.groupby(['LocationCode', 'Date', 'Time']).size().reset_index(name='count').count()

LocationCode    3507
Date            3507
Time            3507
count           3507
dtype: int64

In [36]:

filtered = filtered_result.pivot_table(
    index=["LocationCode", "Date", "Time"],
    columns=filtered_result.groupby(["LocationCode", "Date", "Time"]).cumcount(),
    values="Power(mW)"
).reset_index()
# 調整欄位名稱
filtered.columns = ["LocationCode", "Date", "Time"] + [f"Power_{i+1}" for i in range(filtered.shape[1] - 3)]

# 顯示整理後的 DataFrame
print(filtered)

      LocationCode        Date  Time  Power_1  Power_2  Power_3  Power_4  \
0                1  2024-01-06     9   -100.0   -100.0   -100.0   -100.0
1                1  2024-01-06    10   -100.0   -100.0   -100.0   -100.0
2                1  2024-01-06    11   -100.0   -100.0   -100.0   -100.0
3                1  2024-01-06    12   -100.0   -100.0   -100.0   -100.0
4                1  2024-01-06    13   -100.0   -100.0   -100.0   -100.0
...            ...         ...   ...      ...      ...      ...      ...
3502            17  2024-07-09    14   -100.0   -100.0   -100.0   -100.0
3503            17  2024-07-09    15   -100.0   -100.0   -100.0   -100.0
3504            17  2024-07-09    16   -100.0   -100.0   -100.0   -100.0
3505            17  2024-07-12    15   -100.0   -100.0      NaN      NaN
3506            17  2024-07-12    16   -100.0   -100.0   -100.0   -100.0

      Power_5  Power_6
0      -100.0   -100.0
1      -100.0   -100.0
2      -100.0   -100.0
3      -100.0   -100.0
4      -100.0   -100.0
...       ...      ...
3502   -100.0   -100.0
3503   -100.0   -100.0
3504   -100.0   -100.0
3505      NaN      NaN
3506   -100.0   -100.0

[3507 rows x 9 columns]

In [37]:
# 假設 filtered 是您的 DataFrame
filtered = filtered.dropna()

# 顯示刪除後的結果
filtered

,LocationCode,Date,Time,Power_1,Power_2,Power_3,Power_4,Power_5,Power_6
0,1,2024-01-06,9,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0
1,1,2024-01-06,10,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0
2,1,2024-01-06,11,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0
3,1,2024-01-06,12,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0
4,1,2024-01-06,13,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0
...,...,...,...,...,...,...,...,...,...
3501,17,2024-07-09,13,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0
3502,17,2024-07-09,14,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0
3503,17,2024-07-09,15,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0
3504,17,2024-07-09,16,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0
3506,17,2024-07-12,16,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0

result
filtered

合併資料

In [38]:
# 資料整理成字典格式
infor_after = {
    "LocationCode": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17],
    # "地點名稱": [
    #     "頂樓一號", "頂樓二號", "頂樓三號", "頂樓四號", "頂樓五號", "頂樓六號", "頂樓七號",
    #     "D303", "E303", "一樓一號", "一樓二號", "一樓三號", "管理一號", "管理二號", "美崙一號", "美崙二號", "自家倉庫"
    # ],
    "nearby": [0] * 14 + [1,1,1],  # 東華為0，花蓮為1
    "Lat": [
        23.5358, 23.5359, 23.5359, 23.5358, 23.5358, 23.5358, 23.5358, 23.5359, 23.5358,
        23.5358, 23.5359, 23.5359, 23.5352, 23.5352, 24.0033, 24.0032, 23.5352
    ],
    "Lon": [
        121.3240, 121.3241, 121.3242, 121.3240, 121.3241, 121.3240, 121.3240, 121.3242,
        121.3240, 121.3240, 121.3241, 121.3241, 121.3222, 121.3222, 121.3702, 121.3702, 121.3222
    ],
    # "degree": [
    #     181, 175, 180, 161, 208, 208, 172, 219, 151, 223, 131, 298, 249, 197, 127, 82, None
    # ],
    "direction": [
        "南", "南", "南", "南", "西南", "西南", "南", "西南", "東南", "西南", "東南", "西北", "西", "南", "東南", "東", "西"
    ],
    "floor": [
        5, 5, 5, 5, 5, 5, 5, 3, 3, 1, 1, 1, 5, 5, 1, 1, 5
    ]
}

# 將資料轉為 DataFrame
df_after = pd.DataFrame(infor_after)

# 顯示 DataFrame
print(df_after)

    LocationCode  nearby      Lat       Lon direction  floor
0              1       0  23.5358  121.3240         南      5
1              2       0  23.5359  121.3241         南      5
2              3       0  23.5359  121.3242         南      5
3              4       0  23.5358  121.3240         南      5
4              5       0  23.5358  121.3241        西南      5
5              6       0  23.5358  121.3240        西南      5
6              7       0  23.5358  121.3240         南      5
7              8       0  23.5359  121.3242        西南      3
8              9       0  23.5358  121.3240        東南      3
9             10       0  23.5358  121.3240        西南      1
10            11       0  23.5359  121.3241        東南      1
11            12       0  23.5359  121.3241        西北      1
12            13       0  23.5352  121.3222         西      5
13            14       0  23.5352  121.3222         南      5
14            15       1  24.0033  121.3702        東南      1
15            16       1  24.0032  121.3702         東      1
16            17       1  23.5352  121.3222         西      5

In [39]:
final_result_11 = result.copy()

final_result_11['Date'] = pd.to_datetime(final_result_11['Date'])
final_result_11['Month'] = pd.to_datetime(final_result_11['Date']).dt.month
#第一組(1)，第二組(2、9)，第三組(3)，第四組(4、5)，第五組(6)、第六組(7)、第八組(8)
#把data['Month']中為2、9的值改為29，為4、5的值改為45
#final_result_11['Month'] = final_result_11['Month'].apply(lambda x: 29 if x in [2,9] else 45 if x in [4,5] else x)

#創新欄位"Seson"，值為'Date_Day2'的季節，冬天(12,1,2)、春天(3,4,5)、夏天(6,7,8)、秋天(9,10,11)
final_result_11['Season'] = final_result_11['Month'].apply(lambda x: 'Winter' if x in [12,1,2] else 'Spring' if x in [3,4,5] else 'Summer' if x in [6,7,8] else 'Autumn')

final_result_11

,LocationCode,Date,Time,Power_1,Power_2,Power_3,Power_4,Power_5,Power_6,Month,Season
0,1,2024-01-01,7,0.083,0.139,0.247,0.447,1.129,1.597,1,Winter
1,1,2024-01-01,8,1.180,1.440,2.369,4.183,9.765,11.859,1,Winter
2,1,2024-01-01,9,17.368,12.612,8.807,17.564,7.508,7.032,1,Winter
3,1,2024-01-01,10,19.709,20.346,20.435,14.007,9.333,13.533,1,Winter
4,1,2024-01-01,11,13.197,9.474,10.262,15.875,22.822,20.508,1,Winter
...,...,...,...,...,...,...,...,...,...,...,...
17728,17,2024-07-12,10,1036.557,1139.295,957.427,1205.549,1215.459,1146.666,7,Summer
17729,17,2024-07-12,11,1268.184,1240.828,1187.528,1043.731,1288.217,1257.187,7,Summer
17730,17,2024-07-12,12,1213.114,1051.640,1057.633,937.805,914.582,1085.705,7,Summer
17731,17,2024-07-12,13,638.922,624.088,720.986,470.042,392.483,564.158,7,Summer
17732,17,2024-07-12,14,195.425,56.789,14.412,26.899,28.467,29.948,7,Summer

In [40]:
#lotsDataReports的Time欄位轉成整數
lotsDataReports['Time'] = lotsDataReports['Time'].astype(int)

In [41]:
#將final_result_11和lotsDataReports左合併，依照'Date', 'Time'
final_result_11 = pd.merge(final_result_11, lotsDataReports, on=['Date', 'Time'], how='left')
final_result_11

,LocationCode,Date,Time,Power_1,Power_2,Power_3,Power_4,Power_5,Power_6,Month,...,TS06_72250,TS07_72250,PS01_100,TX01_100,RH01_100,WD01_100,WD02_100,WD07_100,WD08_100,PP01_100
0,1,2024-01-01,7,0.083,0.139,0.247,0.447,1.129,1.597,1,...,19.9,20.7,NaN,NaN,NaN,NaN,NaN,1.6,342.0,0.0
1,1,2024-01-01,8,1.180,1.440,2.369,4.183,9.765,11.859,1,...,19.8,20.7,NaN,NaN,NaN,NaN,NaN,2.2,244.0,0.0
2,1,2024-01-01,9,17.368,12.612,8.807,17.564,7.508,7.032,1,...,19.8,20.7,NaN,NaN,NaN,NaN,NaN,2.7,294.0,0.0
3,1,2024-01-01,10,19.709,20.346,20.435,14.007,9.333,13.533,1,...,19.8,20.7,NaN,NaN,NaN,NaN,NaN,1.8,116.0,0.0
4,1,2024-01-01,11,13.197,9.474,10.262,15.875,22.822,20.508,1,...,19.8,20.7,NaN,NaN,NaN,NaN,NaN,4.1,43.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17308,17,2024-07-12,10,1036.557,1139.295,957.427,1205.549,1215.459,1146.666,7,...,29.2,27.9,1001.7,33.8,71.0,0.3,136.0,2.2,237.0,0.0
17309,17,2024-07-12,11,1268.184,1240.828,1187.528,1043.731,1288.217,1257.187,7,...,29.2,27.9,1001.5,34.7,65.0,0.4,170.0,2.7,96.0,0.0
17310,17,2024-07-12,12,1213.114,1051.640,1057.633,937.805,914.582,1085.705,7,...,29.2,27.9,1001.0,34.5,65.0,1.1,50.0,3.9,18.0,0.0
17311,17,2024-07-12,13,638.922,624.088,720.986,470.042,392.483,564.158,7,...,29.2,27.9,1000.8,34.6,64.0,1.1,54.0,3.8,355.0,0.0
17312,17,2024-07-12,14,195.425,56.789,14.412,26.899,28.467,29.948,7,...,29.2,27.9,1000.9,34.1,63.0,1.3,57.0,3.9,42.0,0.0

In [42]:
#看final_result_11中所有欄位(tolist)
final_result_11.columns.tolist()
print(final_result_11.columns.tolist())

['LocationCode', 'Date', 'Time', 'Power_1', 'Power_2', 'Power_3', 'Power_4', 'Power_5', 'Power_6', 'Month', 'Season', 'yyyymmddhh', 'PS01_466990', 'PS02_466990', 'TX01_466990', 'TD01_466990', 'RH01_466990', 'WD01_466990', 'WD02_466990', 'WD07_466990', 'WD08_466990', 'PP01_466990', 'PP02_466990', 'SS01_466990', 'GR01_466990', 'UV01_466990', 'PS01_72250', 'PS02_72250', 'TX01_72250', 'TD01_72250', 'RH01_72250', 'WD01_72250', 'WD02_72250', 'WD07_72250', 'WD08_72250', 'PP01_72250', 'SS01_72250', 'GR01_72250', 'TS01_72250', 'TS02_72250', 'TS03_72250', 'TS04_72250', 'TS06_72250', 'TS07_72250', 'PS01_100', 'TX01_100', 'RH01_100', 'WD01_100', 'WD02_100', 'WD07_100', 'WD08_100', 'PP01_100']

In [43]:
#對final_result_11創新欄位'Time_plus_1'，值為'Time'加1
final_result_11['Time_plus_1'] = final_result_11['Time'] + 1

#對final_result_11創新欄位'Time_minus_1'，值為'Time'減1
final_result_11['Time_minus_1'] = final_result_11['Time'] - 1

# #對final_result_11創新欄位'Time_minus_2'，值為'Time'減2
# final_result_11['Time_minus_2'] = final_result_11['Time'] - 2

# #對final_result_11創新欄位'Time_minus_3'，值為'Time'減3
# final_result_11['Time_minus_3'] = final_result_11['Time'] - 3

# #對final_result_11創新欄位'Date_minus_1'，值為'Date'減1
final_result_11['Date_minus_1'] = final_result_11['Date'] - pd.DateOffset(days=1)

final_result_11

,LocationCode,Date,Time,Power_1,Power_2,Power_3,Power_4,Power_5,Power_6,Month,...,TX01_100,RH01_100,WD01_100,WD02_100,WD07_100,WD08_100,PP01_100,Time_plus_1,Time_minus_1,Date_minus_1
0,1,2024-01-01,7,0.083,0.139,0.247,0.447,1.129,1.597,1,...,NaN,NaN,NaN,NaN,1.6,342.0,0.0,8,6,2023-12-31
1,1,2024-01-01,8,1.180,1.440,2.369,4.183,9.765,11.859,1,...,NaN,NaN,NaN,NaN,2.2,244.0,0.0,9,7,2023-12-31
2,1,2024-01-01,9,17.368,12.612,8.807,17.564,7.508,7.032,1,...,NaN,NaN,NaN,NaN,2.7,294.0,0.0,10,8,2023-12-31
3,1,2024-01-01,10,19.709,20.346,20.435,14.007,9.333,13.533,1,...,NaN,NaN,NaN,NaN,1.8,116.0,0.0,11,9,2023-12-31
4,1,2024-01-01,11,13.197,9.474,10.262,15.875,22.822,20.508,1,...,NaN,NaN,NaN,NaN,4.1,43.0,0.0,12,10,2023-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17308,17,2024-07-12,10,1036.557,1139.295,957.427,1205.549,1215.459,1146.666,7,...,33.8,71.0,0.3,136.0,2.2,237.0,0.0,11,9,2024-07-11
17309,17,2024-07-12,11,1268.184,1240.828,1187.528,1043.731,1288.217,1257.187,7,...,34.7,65.0,0.4,170.0,2.7,96.0,0.0,12,10,2024-07-11
17310,17,2024-07-12,12,1213.114,1051.640,1057.633,937.805,914.582,1085.705,7,...,34.5,65.0,1.1,50.0,3.9,18.0,0.0,13,11,2024-07-11
17311,17,2024-07-12,13,638.922,624.088,720.986,470.042,392.483,564.158,7,...,34.6,64.0,1.1,54.0,3.8,355.0,0.0,14,12,2024-07-11
17312,17,2024-07-12,14,195.425,56.789,14.412,26.899,28.467,29.948,7,...,34.1,63.0,1.3,57.0,3.9,42.0,0.0,15,13,2024-07-11

In [44]:
final_result_11 = pd.merge(final_result_11, lotsDataReports, left_on=['Date', 'Time_plus_1'],right_on=['Date', 'Time'], how='left', suffixes=('', '_date_time_plus_1'))
final_result_11 = pd.merge(final_result_11, lotsDataReports, left_on=['Date', 'Time_minus_1'],right_on=['Date', 'Time'], how='left', suffixes=('', '_date_time_minus_1'))
# final_result_11 = pd.merge(final_result_11, lotsDataReports, left_on=['Date', 'Time_minus_2'],right_on=['Date', 'Time'], how='left', suffixes=('', '_date_time_minus_2'))
# final_result_11 = pd.merge(final_result_11, lotsDataReports, left_on=['Date', 'Time_minus_3'],right_on=['Date', 'Time'], how='left', suffixes=('', '_date_time_minus_3'))

final_result_11

,LocationCode,Date,Time,Power_1,Power_2,Power_3,Power_4,Power_5,Power_6,Month,...,TS06_72250_date_time_minus_1,TS07_72250_date_time_minus_1,PS01_100_date_time_minus_1,TX01_100_date_time_minus_1,RH01_100_date_time_minus_1,WD01_100_date_time_minus_1,WD02_100_date_time_minus_1,WD07_100_date_time_minus_1,WD08_100_date_time_minus_1,PP01_100_date_time_minus_1
0,1,2024-01-01,7,0.083,0.139,0.247,0.447,1.129,1.597,1,...,19.9,20.7,NaN,NaN,NaN,NaN,NaN,3.2,12.0,0.0
1,1,2024-01-01,8,1.180,1.440,2.369,4.183,9.765,11.859,1,...,19.9,20.7,NaN,NaN,NaN,NaN,NaN,1.6,342.0,0.0
2,1,2024-01-01,9,17.368,12.612,8.807,17.564,7.508,7.032,1,...,19.8,20.7,NaN,NaN,NaN,NaN,NaN,2.2,244.0,0.0
3,1,2024-01-01,10,19.709,20.346,20.435,14.007,9.333,13.533,1,...,19.8,20.7,NaN,NaN,NaN,NaN,NaN,2.7,294.0,0.0
4,1,2024-01-01,11,13.197,9.474,10.262,15.875,22.822,20.508,1,...,19.8,20.7,NaN,NaN,NaN,NaN,NaN,1.8,116.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17308,17,2024-07-12,10,1036.557,1139.295,957.427,1205.549,1215.459,1146.666,7,...,29.2,27.9,1002.0,33.3,72.0,0.3,153.0,2.1,306.0,0.0
17309,17,2024-07-12,11,1268.184,1240.828,1187.528,1043.731,1288.217,1257.187,7,...,29.2,27.9,1001.7,33.8,71.0,0.3,136.0,2.2,237.0,0.0
17310,17,2024-07-12,12,1213.114,1051.640,1057.633,937.805,914.582,1085.705,7,...,29.2,27.9,1001.5,34.7,65.0,0.4,170.0,2.7,96.0,0.0
17311,17,2024-07-12,13,638.922,624.088,720.986,470.042,392.483,564.158,7,...,29.2,27.9,1001.0,34.5,65.0,1.1,50.0,3.9,18.0,0.0
17312,17,2024-07-12,14,195.425,56.789,14.412,26.899,28.467,29.948,7,...,29.2,27.9,1000.8,34.6,64.0,1.1,54.0,3.8,355.0,0.0

In [45]:
final_result_11 = pd.merge(final_result_11, lotsDataReports, left_on=['Date_minus_1', 'Time'],right_on=['Date', 'Time'], how='left', suffixes=('', '_date_minus_1_time'))
#final_result_11 = pd.merge(final_result_11, lotsDataReports, left_on=['Date_minus_1', 'Time_plus_1'],right_on=['Date', 'Time'], how='left', suffixes=('', '_date_minus_1_time_plus_1'))
# final_result_11 = pd.merge(final_result_11, lotsDataReports, left_on=['Date_minus_1', 'Time_minus_1'],right_on=['Date', 'Time'], how='left', suffixes=('', '_date_minus_1_time_minus_1'))
# final_result_11 = pd.merge(final_result_11, lotsDataReports, left_on=['Date_minus_1', 'Time_minus_2'],right_on=['Date', 'Time'], how='left', suffixes=('', '_date_minus_1_time_minus_2'))
# final_result_11 = pd.merge(final_result_11, lotsDataReports, left_on=['Date_minus_1', 'Time_minus_3'],right_on=['Date', 'Time'], how='left', suffixes=('', '_date_minus_1_time_minus_3'))

In [46]:
#看final_result_11中所有欄位(tolist)
final_result_11.columns.tolist()
print(final_result_11.columns.tolist())

['LocationCode', 'Date', 'Time', 'Power_1', 'Power_2', 'Power_3', 'Power_4', 'Power_5', 'Power_6', 'Month', 'Season', 'yyyymmddhh', 'PS01_466990', 'PS02_466990', 'TX01_466990', 'TD01_466990', 'RH01_466990', 'WD01_466990', 'WD02_466990', 'WD07_466990', 'WD08_466990', 'PP01_466990', 'PP02_466990', 'SS01_466990', 'GR01_466990', 'UV01_466990', 'PS01_72250', 'PS02_72250', 'TX01_72250', 'TD01_72250', 'RH01_72250', 'WD01_72250', 'WD02_72250', 'WD07_72250', 'WD08_72250', 'PP01_72250', 'SS01_72250', 'GR01_72250', 'TS01_72250', 'TS02_72250', 'TS03_72250', 'TS04_72250', 'TS06_72250', 'TS07_72250', 'PS01_100', 'TX01_100', 'RH01_100', 'WD01_100', 'WD02_100', 'WD07_100', 'WD08_100', 'PP01_100', 'Time_plus_1', 'Time_minus_1', 'Date_minus_1', 'yyyymmddhh_date_time_plus_1', 'PS01_466990_date_time_plus_1', 'PS02_466990_date_time_plus_1', 'TX01_466990_date_time_plus_1', 'TD01_466990_date_time_plus_1', 'RH01_466990_date_time_plus_1', 'WD01_466990_date_time_plus_1', 'WD02_466990_date_time_plus_1', 'WD07_466990_date_time_plus_1', 'WD08_466990_date_time_plus_1', 'PP01_466990_date_time_plus_1', 'PP02_466990_date_time_plus_1', 'SS01_466990_date_time_plus_1', 'GR01_466990_date_time_plus_1', 'UV01_466990_date_time_plus_1', 'Time_date_time_plus_1', 'PS01_72250_date_time_plus_1', 'PS02_72250_date_time_plus_1', 'TX01_72250_date_time_plus_1', 'TD01_72250_date_time_plus_1', 'RH01_72250_date_time_plus_1', 'WD01_72250_date_time_plus_1', 'WD02_72250_date_time_plus_1', 'WD07_72250_date_time_plus_1', 'WD08_72250_date_time_plus_1', 'PP01_72250_date_time_plus_1', 'SS01_72250_date_time_plus_1', 'GR01_72250_date_time_plus_1', 'TS01_72250_date_time_plus_1', 'TS02_72250_date_time_plus_1', 'TS03_72250_date_time_plus_1', 'TS04_72250_date_time_plus_1', 'TS06_72250_date_time_plus_1', 'TS07_72250_date_time_plus_1', 'PS01_100_date_time_plus_1', 'TX01_100_date_time_plus_1', 'RH01_100_date_time_plus_1', 'WD01_100_date_time_plus_1', 'WD02_100_date_time_plus_1', 'WD07_100_date_time_plus_1', 'WD08_100_date_time_plus_1', 'PP01_100_date_time_plus_1', 'yyyymmddhh_date_time_minus_1', 'PS01_466990_date_time_minus_1', 'PS02_466990_date_time_minus_1', 'TX01_466990_date_time_minus_1', 'TD01_466990_date_time_minus_1', 'RH01_466990_date_time_minus_1', 'WD01_466990_date_time_minus_1', 'WD02_466990_date_time_minus_1', 'WD07_466990_date_time_minus_1', 'WD08_466990_date_time_minus_1', 'PP01_466990_date_time_minus_1', 'PP02_466990_date_time_minus_1', 'SS01_466990_date_time_minus_1', 'GR01_466990_date_time_minus_1', 'UV01_466990_date_time_minus_1', 'Time_date_time_minus_1', 'PS01_72250_date_time_minus_1', 'PS02_72250_date_time_minus_1', 'TX01_72250_date_time_minus_1', 'TD01_72250_date_time_minus_1', 'RH01_72250_date_time_minus_1', 'WD01_72250_date_time_minus_1', 'WD02_72250_date_time_minus_1', 'WD07_72250_date_time_minus_1', 'WD08_72250_date_time_minus_1', 'PP01_72250_date_time_minus_1', 'SS01_72250_date_time_minus_1', 'GR01_72250_date_time_minus_1', 'TS01_72250_date_time_minus_1', 'TS02_72250_date_time_minus_1', 'TS03_72250_date_time_minus_1', 'TS04_72250_date_time_minus_1', 'TS06_72250_date_time_minus_1', 'TS07_72250_date_time_minus_1', 'PS01_100_date_time_minus_1', 'TX01_100_date_time_minus_1', 'RH01_100_date_time_minus_1', 'WD01_100_date_time_minus_1', 'WD02_100_date_time_minus_1', 'WD07_100_date_time_minus_1', 'WD08_100_date_time_minus_1', 'PP01_100_date_time_minus_1', 'yyyymmddhh_date_minus_1_time', 'PS01_466990_date_minus_1_time', 'PS02_466990_date_minus_1_time', 'TX01_466990_date_minus_1_time', 'TD01_466990_date_minus_1_time', 'RH01_466990_date_minus_1_time', 'WD01_466990_date_minus_1_time', 'WD02_466990_date_minus_1_time', 'WD07_466990_date_minus_1_time', 'WD08_466990_date_minus_1_time', 'PP01_466990_date_minus_1_time', 'PP02_466990_date_minus_1_time', 'SS01_466990_date_minus_1_time', 'GR01_466990_date_minus_1_time', 'UV01_466990_date_minus_1_time', 'Date_date_minus_1_time', 'PS01_72250_date_minus_1_time', 'PS02_72250_date_minus_1_time', 'TX01_72250_date_minus_1_time', 'TD01_72250_date_minus_1_time', 'RH01_72250_date_minus_1_time', 'WD01_72250_date_minus_1_time', 'WD02_72250_date_minus_1_time', 'WD07_72250_date_minus_1_time', 'WD08_72250_date_minus_1_time', 'PP01_72250_date_minus_1_time', 'SS01_72250_date_minus_1_time', 'GR01_72250_date_minus_1_time', 'TS01_72250_date_minus_1_time', 'TS02_72250_date_minus_1_time', 'TS03_72250_date_minus_1_time', 'TS04_72250_date_minus_1_time', 'TS06_72250_date_minus_1_time', 'TS07_72250_date_minus_1_time', 'PS01_100_date_minus_1_time', 'TX01_100_date_minus_1_time', 'RH01_100_date_minus_1_time', 'WD01_100_date_minus_1_time', 'WD02_100_date_minus_1_time', 'WD07_100_date_minus_1_time', 'WD08_100_date_minus_1_time', 'PP01_100_date_minus_1_time']

In [ ]:
# #刪除final_result_11中的'yyyymmddhh_x'、'Time_plus_1'、'yyyymmddhh_y'、'Time_y'欄位
# final_result_11 = final_result_11.drop(['yyyymmddhh_x', 'Time_plus_1', 'yyyymmddhh_y', 'Time_y'], axis=1)

# #把final_result_11中的'Time_x'改名為'Time'
# final_result_11 = final_result_11.rename(columns={'Time_x': 'Time'})
# final_result_11

In [47]:
#列出final_result_11中有缺失值的row
final_result_11[final_result_11.isnull().any(axis=1)]

,LocationCode,Date,Time,Power_1,Power_2,Power_3,Power_4,Power_5,Power_6,Month,...,TS06_72250_date_minus_1_time,TS07_72250_date_minus_1_time,PS01_100_date_minus_1_time,TX01_100_date_minus_1_time,RH01_100_date_minus_1_time,WD01_100_date_minus_1_time,WD02_100_date_minus_1_time,WD07_100_date_minus_1_time,WD08_100_date_minus_1_time,PP01_100_date_minus_1_time
0,1,2024-01-01,7,0.083000,0.139,0.247,0.447,1.129,1.597,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2024-01-01,8,1.180000,1.440,2.369,4.183,9.765,11.859,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2024-01-01,9,17.368000,12.612,8.807,17.564,7.508,7.032,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2024-01-01,10,19.709000,20.346,20.435,14.007,9.333,13.533,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2024-01-01,11,13.197000,9.474,10.262,15.875,22.822,20.508,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17188,17,2024-06-25,10,1185.162000,1157.872,1164.372,969.747,888.267,1162.630,6,...,NaN,NaN,1005.6,34.0,69.0,0.4,119.0,2.6,191.0,0.0
17206,17,2024-06-27,8,662.587000,750.251,800.282,874.639,922.056,865.949,6,...,27.9,26.6,1010.4,29.2,84.0,0.6,227.0,2.4,219.0,0.0
17209,17,2024-06-28,9,437.221000,470.535,613.562,627.537,583.110,713.484,6,...,NaN,NaN,1010.2,32.3,70.0,0.7,225.0,2.5,212.0,0.0
17248,17,2024-07-03,16,7.283000,7.059,6.401,6.340,9.570,5.911,7,...,28.4,27.2,-9999.7,-99.7,-9997.0,-99.7,-999.7,NaN,NaN,0.0
17270,17,2024-07-07,14,583.544444,378.370,7.541,6.877,6.434,6.532,7,...,NaN,NaN,1006.1,35.3,63.0,0.7,140.0,4.1,146.0,0.0

In [48]:
#列出final_result_11中有缺失值的column
final_result_11.columns[final_result_11.isnull().any()]

Index(['PS01_72250', 'PS02_72250', 'TX01_72250', 'TD01_72250', 'RH01_72250',
       'WD01_72250', 'WD02_72250', 'WD07_72250', 'WD08_72250', 'PP01_72250',
       ...
       'TS06_72250_date_minus_1_time', 'TS07_72250_date_minus_1_time',
       'PS01_100_date_minus_1_time', 'TX01_100_date_minus_1_time',
       'RH01_100_date_minus_1_time', 'WD01_100_date_minus_1_time',
       'WD02_100_date_minus_1_time', 'WD07_100_date_minus_1_time',
       'WD08_100_date_minus_1_time', 'PP01_100_date_minus_1_time'],
      dtype='object', length=115)

In [49]:
#列出final_result_11中有'WD01_466990'欄位有缺失值的row
final_result_11[final_result_11['WD01_466990'].isnull()]

Empty DataFrame
Columns: [LocationCode, Date, Time, Power_1, Power_2, Power_3, Power_4, Power_5, Power_6, Month, Season, yyyymmddhh, PS01_466990, PS02_466990, TX01_466990, TD01_466990, RH01_466990, WD01_466990, WD02_466990, WD07_466990, WD08_466990, PP01_466990, PP02_466990, SS01_466990, GR01_466990, UV01_466990, PS01_72250, PS02_72250, TX01_72250, TD01_72250, RH01_72250, WD01_72250, WD02_72250, WD07_72250, WD08_72250, PP01_72250, SS01_72250, GR01_72250, TS01_72250, TS02_72250, TS03_72250, TS04_72250, TS06_72250, TS07_72250, PS01_100, TX01_100, RH01_100, WD01_100, WD02_100, WD07_100, WD08_100, PP01_100, Time_plus_1, Time_minus_1, Date_minus_1, yyyymmddhh_date_time_plus_1, PS01_466990_date_time_plus_1, PS02_466990_date_time_plus_1, TX01_466990_date_time_plus_1, TD01_466990_date_time_plus_1, RH01_466990_date_time_plus_1, WD01_466990_date_time_plus_1, WD02_466990_date_time_plus_1, WD07_466990_date_time_plus_1, WD08_466990_date_time_plus_1, PP01_466990_date_time_plus_1, PP02_466990_date_time_plus_1, SS01_466990_date_time_plus_1, GR01_466990_date_time_plus_1, UV01_466990_date_time_plus_1, Time_date_time_plus_1, PS01_72250_date_time_plus_1, PS02_72250_date_time_plus_1, TX01_72250_date_time_plus_1, TD01_72250_date_time_plus_1, RH01_72250_date_time_plus_1, WD01_72250_date_time_plus_1, WD02_72250_date_time_plus_1, WD07_72250_date_time_plus_1, WD08_72250_date_time_plus_1, PP01_72250_date_time_plus_1, SS01_72250_date_time_plus_1, GR01_72250_date_time_plus_1, TS01_72250_date_time_plus_1, TS02_72250_date_time_plus_1, TS03_72250_date_time_plus_1, TS04_72250_date_time_plus_1, TS06_72250_date_time_plus_1, TS07_72250_date_time_plus_1, PS01_100_date_time_plus_1, TX01_100_date_time_plus_1, RH01_100_date_time_plus_1, WD01_100_date_time_plus_1, WD02_100_date_time_plus_1, WD07_100_date_time_plus_1, WD08_100_date_time_plus_1, PP01_100_date_time_plus_1, yyyymmddhh_date_time_minus_1, PS01_466990_date_time_minus_1, PS02_466990_date_time_minus_1, ...]
Index: []

[0 rows x 181 columns]

In [50]:
data_after = pd.merge(final_result_11,df_after,on='LocationCode',how='left')
data_after

,LocationCode,Date,Time,Power_1,Power_2,Power_3,Power_4,Power_5,Power_6,Month,...,WD01_100_date_minus_1_time,WD02_100_date_minus_1_time,WD07_100_date_minus_1_time,WD08_100_date_minus_1_time,PP01_100_date_minus_1_time,nearby,Lat,Lon,direction,floor
0,1,2024-01-01,7,0.083,0.139,0.247,0.447,1.129,1.597,1,...,NaN,NaN,NaN,NaN,NaN,0,23.5358,121.3240,南,5
1,1,2024-01-01,8,1.180,1.440,2.369,4.183,9.765,11.859,1,...,NaN,NaN,NaN,NaN,NaN,0,23.5358,121.3240,南,5
2,1,2024-01-01,9,17.368,12.612,8.807,17.564,7.508,7.032,1,...,NaN,NaN,NaN,NaN,NaN,0,23.5358,121.3240,南,5
3,1,2024-01-01,10,19.709,20.346,20.435,14.007,9.333,13.533,1,...,NaN,NaN,NaN,NaN,NaN,0,23.5358,121.3240,南,5
4,1,2024-01-01,11,13.197,9.474,10.262,15.875,22.822,20.508,1,...,NaN,NaN,NaN,NaN,NaN,0,23.5358,121.3240,南,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17308,17,2024-07-12,10,1036.557,1139.295,957.427,1205.549,1215.459,1146.666,7,...,0.8,250.0,3.9,197.0,0.0,1,23.5352,121.3222,西,5
17309,17,2024-07-12,11,1268.184,1240.828,1187.528,1043.731,1288.217,1257.187,7,...,0.8,148.0,3.6,265.0,0.0,1,23.5352,121.3222,西,5
17310,17,2024-07-12,12,1213.114,1051.640,1057.633,937.805,914.582,1085.705,7,...,0.6,180.0,3.2,233.0,0.0,1,23.5352,121.3222,西,5
17311,17,2024-07-12,13,638.922,624.088,720.986,470.042,392.483,564.158,7,...,0.7,199.0,3.4,122.0,0.0,1,23.5352,121.3222,西,5
17312,17,2024-07-12,14,195.425,56.789,14.412,26.899,28.467,29.948,7,...,0.8,122.0,3.6,79.0,0.0,1,23.5352,121.3222,西,5

In [51]:
#把data_after的"Month"、"direction"、"floor"做one-hot encoding
data_after = pd.get_dummies(data_after, columns=['Month', 'Season' ,'direction', 'floor'])

# 將布林值 (True, False) 轉換為數值 (1, 0)
data_after = data_after.replace({True: 1, False: 0})

data_after

/tmp/ipykernel_3049494/3220008186.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_after = data_after.replace({True: 1, False: 0})

,LocationCode,Date,Time,Power_1,Power_2,Power_3,Power_4,Power_5,Power_6,yyyymmddhh,...,Season_Winter,direction_南,direction_東,direction_東南,direction_西,direction_西北,direction_西南,floor_1,floor_3,floor_5
0,1,2024-01-01,7,0.083,0.139,0.247,0.447,1.129,1.597,2024010107,...,1,1,0,0,0,0,0,0,0,1
1,1,2024-01-01,8,1.180,1.440,2.369,4.183,9.765,11.859,2024010108,...,1,1,0,0,0,0,0,0,0,1
2,1,2024-01-01,9,17.368,12.612,8.807,17.564,7.508,7.032,2024010109,...,1,1,0,0,0,0,0,0,0,1
3,1,2024-01-01,10,19.709,20.346,20.435,14.007,9.333,13.533,2024010110,...,1,1,0,0,0,0,0,0,0,1
4,1,2024-01-01,11,13.197,9.474,10.262,15.875,22.822,20.508,2024010111,...,1,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17308,17,2024-07-12,10,1036.557,1139.295,957.427,1205.549,1215.459,1146.666,2024071210,...,0,0,0,0,1,0,0,0,0,1
17309,17,2024-07-12,11,1268.184,1240.828,1187.528,1043.731,1288.217,1257.187,2024071211,...,0,0,0,0,1,0,0,0,0,1
17310,17,2024-07-12,12,1213.114,1051.640,1057.633,937.805,914.582,1085.705,2024071212,...,0,0,0,0,1,0,0,0,0,1
17311,17,2024-07-12,13,638.922,624.088,720.986,470.042,392.483,564.158,2024071213,...,0,0,0,0,1,0,0,0,0,1
17312,17,2024-07-12,14,195.425,56.789,14.412,26.899,28.467,29.948,2024071214,...,0,0,0,0,1,0,0,0,0,1

In [52]:
filtered_result_11 = filtered.copy()

filtered_result_11['Date'] = pd.to_datetime(filtered_result_11['Date'])
filtered_result_11['Month'] = pd.to_datetime(filtered_result_11['Date']).dt.month
#第一組(1)，第二組(2、9)，第三組(3)，第四組(4、5)，第五組(6)、第六組(7)、第八組(8)
#把data['Month']中為2、9的值改為29，為4、5的值改為45
#filtered_result_11['Month'] = filtered_result_11['Month'].apply(lambda x: 29 if x in [2,9] else 45 if x in [4,5] else x)

#創新欄位"Seson"，值為'Date_Day2'的季節，冬天(12,1,2)、春天(3,4,5)、夏天(6,7,8)、秋天(9,10,11)
filtered_result_11['Season'] = filtered_result_11['Month'].apply(lambda x: 'Winter' if x in [12,1,2] else 'Spring' if x in [3,4,5] else 'Summer' if x in [6,7,8] else 'Autumn')

filtered_result_11

,LocationCode,Date,Time,Power_1,Power_2,Power_3,Power_4,Power_5,Power_6,Month,Season
0,1,2024-01-06,9,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,Winter
1,1,2024-01-06,10,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,Winter
2,1,2024-01-06,11,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,Winter
3,1,2024-01-06,12,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,Winter
4,1,2024-01-06,13,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,Winter
...,...,...,...,...,...,...,...,...,...,...,...
3501,17,2024-07-09,13,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,7,Summer
3502,17,2024-07-09,14,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,7,Summer
3503,17,2024-07-09,15,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,7,Summer
3504,17,2024-07-09,16,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,7,Summer
3506,17,2024-07-12,16,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,7,Summer

In [53]:
#將filtered_result_11和lotsDataReports左合併，依照'Date', 'Time'
filtered_result_11 = pd.merge(filtered_result_11, lotsDataReports, on=['Date', 'Time'], how='left')
filtered_result_11

,LocationCode,Date,Time,Power_1,Power_2,Power_3,Power_4,Power_5,Power_6,Month,...,TS06_72250,TS07_72250,PS01_100,TX01_100,RH01_100,WD01_100,WD02_100,WD07_100,WD08_100,PP01_100
0,1,2024-01-06,9,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,...,18.8,20.4,NaN,NaN,NaN,NaN,NaN,2.2,214.0,0.0
1,1,2024-01-06,10,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,...,18.8,20.4,NaN,NaN,NaN,NaN,NaN,2.6,211.0,0.0
2,1,2024-01-06,11,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,...,18.8,20.4,NaN,NaN,NaN,NaN,NaN,1.9,244.0,0.0
3,1,2024-01-06,12,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,...,18.7,20.4,NaN,NaN,NaN,NaN,NaN,4.1,41.0,0.0
4,1,2024-01-06,13,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,...,18.7,20.4,NaN,NaN,NaN,NaN,NaN,4.0,121.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3081,17,2024-07-09,13,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,7,...,28.9,27.8,1006.3,34.6,63.0,0.7,171.0,3.0,118.0,0.0
3082,17,2024-07-09,14,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,7,...,28.9,27.8,1005.9,34.3,61.0,0.8,137.0,3.5,131.0,0.0
3083,17,2024-07-09,15,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,7,...,28.9,27.8,1005.7,34.8,59.0,0.6,153.0,3.3,147.0,0.0
3084,17,2024-07-09,16,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,7,...,28.9,27.8,1005.4,33.1,62.0,0.6,223.0,3.1,221.0,0.0
3085,17,2024-07-12,16,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,7,...,29.2,27.9,1001.0,33.1,66.0,0.6,63.0,3.4,50.0,0.0

In [54]:
#將filtered_result_11中Time為07、08的值刪除
filtered_result_11 = filtered_result_11[~filtered_result_11['Time'].isin([7, 8])]
filtered_result_11

,LocationCode,Date,Time,Power_1,Power_2,Power_3,Power_4,Power_5,Power_6,Month,...,TS06_72250,TS07_72250,PS01_100,TX01_100,RH01_100,WD01_100,WD02_100,WD07_100,WD08_100,PP01_100
0,1,2024-01-06,9,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,...,18.8,20.4,NaN,NaN,NaN,NaN,NaN,2.2,214.0,0.0
1,1,2024-01-06,10,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,...,18.8,20.4,NaN,NaN,NaN,NaN,NaN,2.6,211.0,0.0
2,1,2024-01-06,11,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,...,18.8,20.4,NaN,NaN,NaN,NaN,NaN,1.9,244.0,0.0
3,1,2024-01-06,12,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,...,18.7,20.4,NaN,NaN,NaN,NaN,NaN,4.1,41.0,0.0
4,1,2024-01-06,13,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,...,18.7,20.4,NaN,NaN,NaN,NaN,NaN,4.0,121.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3081,17,2024-07-09,13,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,7,...,28.9,27.8,1006.3,34.6,63.0,0.7,171.0,3.0,118.0,0.0
3082,17,2024-07-09,14,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,7,...,28.9,27.8,1005.9,34.3,61.0,0.8,137.0,3.5,131.0,0.0
3083,17,2024-07-09,15,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,7,...,28.9,27.8,1005.7,34.8,59.0,0.6,153.0,3.3,147.0,0.0
3084,17,2024-07-09,16,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,7,...,28.9,27.8,1005.4,33.1,62.0,0.6,223.0,3.1,221.0,0.0
3085,17,2024-07-12,16,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,7,...,29.2,27.9,1001.0,33.1,66.0,0.6,63.0,3.4,50.0,0.0

In [55]:
filtered_result_11['Time_plus_1'] = filtered_result_11['Time'] + 1

filtered_result_11['Time_minus_1'] = filtered_result_11['Time'] - 1

# filtered_result_11['Time_minus_2'] = filtered_result_11['Time'] - 2

# filtered_result_11['Time_minus_3'] = filtered_result_11['Time'] - 3

filtered_result_11['Date_minus_1'] = filtered_result_11['Date'] - pd.DateOffset(days=1)

filtered_result_11

/tmp/ipykernel_3049494/3453347408.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_result_11['Time_plus_1'] = filtered_result_11['Time'] + 1
/tmp/ipykernel_3049494/3453347408.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_result_11['Time_minus_1'] = filtered_result_11['Time'] - 1
/tmp/ipykernel_3049494/3453347408.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_result_11['Date_minus_1'] = filtered_result_11['Date'] - pd.DateOffset(days=1)

,LocationCode,Date,Time,Power_1,Power_2,Power_3,Power_4,Power_5,Power_6,Month,...,TX01_100,RH01_100,WD01_100,WD02_100,WD07_100,WD08_100,PP01_100,Time_plus_1,Time_minus_1,Date_minus_1
0,1,2024-01-06,9,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,...,NaN,NaN,NaN,NaN,2.2,214.0,0.0,10,8,2024-01-05
1,1,2024-01-06,10,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,...,NaN,NaN,NaN,NaN,2.6,211.0,0.0,11,9,2024-01-05
2,1,2024-01-06,11,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,...,NaN,NaN,NaN,NaN,1.9,244.0,0.0,12,10,2024-01-05
3,1,2024-01-06,12,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,...,NaN,NaN,NaN,NaN,4.1,41.0,0.0,13,11,2024-01-05
4,1,2024-01-06,13,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,...,NaN,NaN,NaN,NaN,4.0,121.0,0.0,14,12,2024-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3081,17,2024-07-09,13,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,7,...,34.6,63.0,0.7,171.0,3.0,118.0,0.0,14,12,2024-07-08
3082,17,2024-07-09,14,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,7,...,34.3,61.0,0.8,137.0,3.5,131.0,0.0,15,13,2024-07-08
3083,17,2024-07-09,15,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,7,...,34.8,59.0,0.6,153.0,3.3,147.0,0.0,16,14,2024-07-08
3084,17,2024-07-09,16,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,7,...,33.1,62.0,0.6,223.0,3.1,221.0,0.0,17,15,2024-07-08
3085,17,2024-07-12,16,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,7,...,33.1,66.0,0.6,63.0,3.4,50.0,0.0,17,15,2024-07-11

In [56]:
filtered_result_11 = pd.merge(filtered_result_11, lotsDataReports, left_on=['Date', 'Time_plus_1'],right_on=['Date', 'Time'], how='left', suffixes=('', '_date_time_plus_1'))
filtered_result_11 = pd.merge(filtered_result_11, lotsDataReports, left_on=['Date', 'Time_minus_1'],right_on=['Date', 'Time'], how='left', suffixes=('', '_date_time_minus_1'))
# filtered_result_11= pd.merge(filtered_result_11, lotsDataReports, left_on=['Date', 'Time_minus_2'],right_on=['Date', 'Time'], how='left', suffixes=('', '_date_time_minus_2'))
# filtered_result_11 = pd.merge(filtered_result_11, lotsDataReports, left_on=['Date', 'Time_minus_3'],right_on=['Date', 'Time'], how='left', suffixes=('', '_date_time_minus_3'))

filtered_result_11 = pd.merge(filtered_result_11, lotsDataReports, left_on=['Date_minus_1', 'Time'],right_on=['Date', 'Time'], how='left', suffixes=('', '_date_minus_1_time'))
#filtered_result_11 = pd.merge(filtered_result_11, lotsDataReports, left_on=['Date_minus_1', 'Time_plus_1'],right_on=['Date', 'Time'], how='left', suffixes=('', '_date_minus_1_time_plus_1'))
# filtered_result_11 = pd.merge(filtered_result_11, lotsDataReports, left_on=['Date_minus_1', 'Time_minus_1'],right_on=['Date', 'Time'], how='left', suffixes=('', '_date_minus_1_time_minus_1'))
# filtered_result_11 = pd.merge(filtered_result_11, lotsDataReports, left_on=['Date_minus_1', 'Time_minus_2'],right_on=['Date', 'Time'], how='left', suffixes=('', '_date_minus_1_time_minus_2'))
# filtered_result_11 = pd.merge(filtered_result_11, lotsDataReports, left_on=['Date_minus_1', 'Time_minus_3'],right_on=['Date', 'Time'], how='left', suffixes=('', '_date_minus_1_time_minus_3'))

In [57]:
#看filtered_result_11中所有欄位(tolist)
filtered_result_11.columns.tolist()
print(filtered_result_11.columns.tolist())

['LocationCode', 'Date', 'Time', 'Power_1', 'Power_2', 'Power_3', 'Power_4', 'Power_5', 'Power_6', 'Month', 'Season', 'yyyymmddhh', 'PS01_466990', 'PS02_466990', 'TX01_466990', 'TD01_466990', 'RH01_466990', 'WD01_466990', 'WD02_466990', 'WD07_466990', 'WD08_466990', 'PP01_466990', 'PP02_466990', 'SS01_466990', 'GR01_466990', 'UV01_466990', 'PS01_72250', 'PS02_72250', 'TX01_72250', 'TD01_72250', 'RH01_72250', 'WD01_72250', 'WD02_72250', 'WD07_72250', 'WD08_72250', 'PP01_72250', 'SS01_72250', 'GR01_72250', 'TS01_72250', 'TS02_72250', 'TS03_72250', 'TS04_72250', 'TS06_72250', 'TS07_72250', 'PS01_100', 'TX01_100', 'RH01_100', 'WD01_100', 'WD02_100', 'WD07_100', 'WD08_100', 'PP01_100', 'Time_plus_1', 'Time_minus_1', 'Date_minus_1', 'yyyymmddhh_date_time_plus_1', 'PS01_466990_date_time_plus_1', 'PS02_466990_date_time_plus_1', 'TX01_466990_date_time_plus_1', 'TD01_466990_date_time_plus_1', 'RH01_466990_date_time_plus_1', 'WD01_466990_date_time_plus_1', 'WD02_466990_date_time_plus_1', 'WD07_466990_date_time_plus_1', 'WD08_466990_date_time_plus_1', 'PP01_466990_date_time_plus_1', 'PP02_466990_date_time_plus_1', 'SS01_466990_date_time_plus_1', 'GR01_466990_date_time_plus_1', 'UV01_466990_date_time_plus_1', 'Time_date_time_plus_1', 'PS01_72250_date_time_plus_1', 'PS02_72250_date_time_plus_1', 'TX01_72250_date_time_plus_1', 'TD01_72250_date_time_plus_1', 'RH01_72250_date_time_plus_1', 'WD01_72250_date_time_plus_1', 'WD02_72250_date_time_plus_1', 'WD07_72250_date_time_plus_1', 'WD08_72250_date_time_plus_1', 'PP01_72250_date_time_plus_1', 'SS01_72250_date_time_plus_1', 'GR01_72250_date_time_plus_1', 'TS01_72250_date_time_plus_1', 'TS02_72250_date_time_plus_1', 'TS03_72250_date_time_plus_1', 'TS04_72250_date_time_plus_1', 'TS06_72250_date_time_plus_1', 'TS07_72250_date_time_plus_1', 'PS01_100_date_time_plus_1', 'TX01_100_date_time_plus_1', 'RH01_100_date_time_plus_1', 'WD01_100_date_time_plus_1', 'WD02_100_date_time_plus_1', 'WD07_100_date_time_plus_1', 'WD08_100_date_time_plus_1', 'PP01_100_date_time_plus_1', 'yyyymmddhh_date_time_minus_1', 'PS01_466990_date_time_minus_1', 'PS02_466990_date_time_minus_1', 'TX01_466990_date_time_minus_1', 'TD01_466990_date_time_minus_1', 'RH01_466990_date_time_minus_1', 'WD01_466990_date_time_minus_1', 'WD02_466990_date_time_minus_1', 'WD07_466990_date_time_minus_1', 'WD08_466990_date_time_minus_1', 'PP01_466990_date_time_minus_1', 'PP02_466990_date_time_minus_1', 'SS01_466990_date_time_minus_1', 'GR01_466990_date_time_minus_1', 'UV01_466990_date_time_minus_1', 'Time_date_time_minus_1', 'PS01_72250_date_time_minus_1', 'PS02_72250_date_time_minus_1', 'TX01_72250_date_time_minus_1', 'TD01_72250_date_time_minus_1', 'RH01_72250_date_time_minus_1', 'WD01_72250_date_time_minus_1', 'WD02_72250_date_time_minus_1', 'WD07_72250_date_time_minus_1', 'WD08_72250_date_time_minus_1', 'PP01_72250_date_time_minus_1', 'SS01_72250_date_time_minus_1', 'GR01_72250_date_time_minus_1', 'TS01_72250_date_time_minus_1', 'TS02_72250_date_time_minus_1', 'TS03_72250_date_time_minus_1', 'TS04_72250_date_time_minus_1', 'TS06_72250_date_time_minus_1', 'TS07_72250_date_time_minus_1', 'PS01_100_date_time_minus_1', 'TX01_100_date_time_minus_1', 'RH01_100_date_time_minus_1', 'WD01_100_date_time_minus_1', 'WD02_100_date_time_minus_1', 'WD07_100_date_time_minus_1', 'WD08_100_date_time_minus_1', 'PP01_100_date_time_minus_1', 'yyyymmddhh_date_minus_1_time', 'PS01_466990_date_minus_1_time', 'PS02_466990_date_minus_1_time', 'TX01_466990_date_minus_1_time', 'TD01_466990_date_minus_1_time', 'RH01_466990_date_minus_1_time', 'WD01_466990_date_minus_1_time', 'WD02_466990_date_minus_1_time', 'WD07_466990_date_minus_1_time', 'WD08_466990_date_minus_1_time', 'PP01_466990_date_minus_1_time', 'PP02_466990_date_minus_1_time', 'SS01_466990_date_minus_1_time', 'GR01_466990_date_minus_1_time', 'UV01_466990_date_minus_1_time', 'Date_date_minus_1_time', 'PS01_72250_date_minus_1_time', 'PS02_72250_date_minus_1_time', 'TX01_72250_date_minus_1_time', 'TD01_72250_date_minus_1_time', 'RH01_72250_date_minus_1_time', 'WD01_72250_date_minus_1_time', 'WD02_72250_date_minus_1_time', 'WD07_72250_date_minus_1_time', 'WD08_72250_date_minus_1_time', 'PP01_72250_date_minus_1_time', 'SS01_72250_date_minus_1_time', 'GR01_72250_date_minus_1_time', 'TS01_72250_date_minus_1_time', 'TS02_72250_date_minus_1_time', 'TS03_72250_date_minus_1_time', 'TS04_72250_date_minus_1_time', 'TS06_72250_date_minus_1_time', 'TS07_72250_date_minus_1_time', 'PS01_100_date_minus_1_time', 'TX01_100_date_minus_1_time', 'RH01_100_date_minus_1_time', 'WD01_100_date_minus_1_time', 'WD02_100_date_minus_1_time', 'WD07_100_date_minus_1_time', 'WD08_100_date_minus_1_time', 'PP01_100_date_minus_1_time']

In [58]:
#列出filtered_result_11中有缺失值的row
filtered_result_11[filtered_result_11.isnull().any(axis=1)]

,LocationCode,Date,Time,Power_1,Power_2,Power_3,Power_4,Power_5,Power_6,Month,...,TS06_72250_date_minus_1_time,TS07_72250_date_minus_1_time,PS01_100_date_minus_1_time,TX01_100_date_minus_1_time,RH01_100_date_minus_1_time,WD01_100_date_minus_1_time,WD02_100_date_minus_1_time,WD07_100_date_minus_1_time,WD08_100_date_minus_1_time,PP01_100_date_minus_1_time
0,1,2024-01-06,9,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,...,18.9,20.5,NaN,NaN,NaN,NaN,NaN,3.3,205.0,0.0
1,1,2024-01-06,10,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,...,18.9,20.5,NaN,NaN,NaN,NaN,NaN,3.0,195.0,0.0
2,1,2024-01-06,11,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,...,18.9,20.5,NaN,NaN,NaN,NaN,NaN,3.6,292.0,0.0
3,1,2024-01-06,12,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,...,18.9,20.5,NaN,NaN,NaN,NaN,NaN,2.4,214.0,0.0
4,1,2024-01-06,13,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,1,...,18.9,20.5,NaN,NaN,NaN,NaN,NaN,2.3,90.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2761,17,2024-06-27,10,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,6,...,27.9,26.6,1010.2,33.3,67.0,0.8,237.0,2.2,278.0,0.0
2788,17,2024-07-06,13,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,7,...,28.8,27.5,1006.1,34.8,65.0,0.8,151.0,3.7,149.0,0.0
2789,17,2024-07-06,14,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,7,...,28.8,27.5,1005.9,34.8,61.0,0.8,113.0,4.0,56.0,0.0
2790,17,2024-07-06,15,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,7,...,28.8,27.5,1005.7,34.4,64.0,0.6,142.0,4.4,110.0,0.0
2791,17,2024-07-06,16,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,7,...,28.8,27.5,1005.3,32.4,71.0,0.4,96.0,3.1,132.0,0.0

In [59]:
#列出filtered_result_11中有缺失值的column
filtered_result_11.columns[filtered_result_11.isnull().any()]

Index(['PS01_72250', 'PS02_72250', 'TX01_72250', 'TD01_72250', 'RH01_72250',
       'WD01_72250', 'WD02_72250', 'WD07_72250', 'WD08_72250', 'PP01_72250',
       'SS01_72250', 'GR01_72250', 'TS01_72250', 'TS02_72250', 'TS03_72250',
       'TS04_72250', 'TS06_72250', 'TS07_72250', 'PS01_100', 'TX01_100',
       'RH01_100', 'WD01_100', 'WD02_100', 'WD07_100', 'WD08_100',
       'PS01_72250_date_time_plus_1', 'PS02_72250_date_time_plus_1',
       'TX01_72250_date_time_plus_1', 'TD01_72250_date_time_plus_1',
       'RH01_72250_date_time_plus_1', 'WD01_72250_date_time_plus_1',
       'WD02_72250_date_time_plus_1', 'WD07_72250_date_time_plus_1',
       'WD08_72250_date_time_plus_1', 'PP01_72250_date_time_plus_1',
       'SS01_72250_date_time_plus_1', 'GR01_72250_date_time_plus_1',
       'TS01_72250_date_time_plus_1', 'TS02_72250_date_time_plus_1',
       'TS03_72250_date_time_plus_1', 'TS04_72250_date_time_plus_1',
       'TS06_72250_date_time_plus_1', 'TS07_72250_date_time_plus_1',
       'PS01_100_date_time_plus_1', 'TX01_100_date_time_plus_1',
       'RH01_100_date_time_plus_1', 'WD01_100_date_time_plus_1',
       'WD02_100_date_time_plus_1', 'WD07_100_date_time_plus_1',
       'WD08_100_date_time_plus_1', 'PS01_72250_date_time_minus_1',
       'PS02_72250_date_time_minus_1', 'TX01_72250_date_time_minus_1',
       'TD01_72250_date_time_minus_1', 'RH01_72250_date_time_minus_1',
       'WD01_72250_date_time_minus_1', 'WD02_72250_date_time_minus_1',
       'WD07_72250_date_time_minus_1', 'WD08_72250_date_time_minus_1',
       'PP01_72250_date_time_minus_1', 'SS01_72250_date_time_minus_1',
       'GR01_72250_date_time_minus_1', 'TS01_72250_date_time_minus_1',
       'TS02_72250_date_time_minus_1', 'TS03_72250_date_time_minus_1',
       'TS04_72250_date_time_minus_1', 'TS06_72250_date_time_minus_1',
       'TS07_72250_date_time_minus_1', 'PS01_100_date_time_minus_1',
       'TX01_100_date_time_minus_1', 'RH01_100_date_time_minus_1',
       'WD01_100_date_time_minus_1', 'WD02_100_date_time_minus_1',
       'PS01_72250_date_minus_1_time', 'PS02_72250_date_minus_1_time',
       'TX01_72250_date_minus_1_time', 'TD01_72250_date_minus_1_time',
       'RH01_72250_date_minus_1_time', 'WD01_72250_date_minus_1_time',
       'WD02_72250_date_minus_1_time', 'WD07_72250_date_minus_1_time',
       'WD08_72250_date_minus_1_time', 'PP01_72250_date_minus_1_time',
       'SS01_72250_date_minus_1_time', 'GR01_72250_date_minus_1_time',
       'TS01_72250_date_minus_1_time', 'TS02_72250_date_minus_1_time',
       'TS03_72250_date_minus_1_time', 'TS04_72250_date_minus_1_time',
       'TS06_72250_date_minus_1_time', 'TS07_72250_date_minus_1_time',
       'PS01_100_date_minus_1_time', 'TX01_100_date_minus_1_time',
       'RH01_100_date_minus_1_time', 'WD01_100_date_minus_1_time',
       'WD02_100_date_minus_1_time', 'WD07_100_date_minus_1_time',
       'WD08_100_date_minus_1_time'],
      dtype='object')

In [60]:
#列出filtered_result_11中有'WD01_466990'欄位有缺失值的row
filtered_result_11[filtered_result_11['WD01_466990'].isnull()]

Empty DataFrame
Columns: [LocationCode, Date, Time, Power_1, Power_2, Power_3, Power_4, Power_5, Power_6, Month, Season, yyyymmddhh, PS01_466990, PS02_466990, TX01_466990, TD01_466990, RH01_466990, WD01_466990, WD02_466990, WD07_466990, WD08_466990, PP01_466990, PP02_466990, SS01_466990, GR01_466990, UV01_466990, PS01_72250, PS02_72250, TX01_72250, TD01_72250, RH01_72250, WD01_72250, WD02_72250, WD07_72250, WD08_72250, PP01_72250, SS01_72250, GR01_72250, TS01_72250, TS02_72250, TS03_72250, TS04_72250, TS06_72250, TS07_72250, PS01_100, TX01_100, RH01_100, WD01_100, WD02_100, WD07_100, WD08_100, PP01_100, Time_plus_1, Time_minus_1, Date_minus_1, yyyymmddhh_date_time_plus_1, PS01_466990_date_time_plus_1, PS02_466990_date_time_plus_1, TX01_466990_date_time_plus_1, TD01_466990_date_time_plus_1, RH01_466990_date_time_plus_1, WD01_466990_date_time_plus_1, WD02_466990_date_time_plus_1, WD07_466990_date_time_plus_1, WD08_466990_date_time_plus_1, PP01_466990_date_time_plus_1, PP02_466990_date_time_plus_1, SS01_466990_date_time_plus_1, GR01_466990_date_time_plus_1, UV01_466990_date_time_plus_1, Time_date_time_plus_1, PS01_72250_date_time_plus_1, PS02_72250_date_time_plus_1, TX01_72250_date_time_plus_1, TD01_72250_date_time_plus_1, RH01_72250_date_time_plus_1, WD01_72250_date_time_plus_1, WD02_72250_date_time_plus_1, WD07_72250_date_time_plus_1, WD08_72250_date_time_plus_1, PP01_72250_date_time_plus_1, SS01_72250_date_time_plus_1, GR01_72250_date_time_plus_1, TS01_72250_date_time_plus_1, TS02_72250_date_time_plus_1, TS03_72250_date_time_plus_1, TS04_72250_date_time_plus_1, TS06_72250_date_time_plus_1, TS07_72250_date_time_plus_1, PS01_100_date_time_plus_1, TX01_100_date_time_plus_1, RH01_100_date_time_plus_1, WD01_100_date_time_plus_1, WD02_100_date_time_plus_1, WD07_100_date_time_plus_1, WD08_100_date_time_plus_1, PP01_100_date_time_plus_1, yyyymmddhh_date_time_minus_1, PS01_466990_date_time_minus_1, PS02_466990_date_time_minus_1, ...]
Index: []

[0 rows x 181 columns]

In [61]:
#看filtered_result_11中所有欄位(tolist)
filtered_result_11.columns.tolist()
print(filtered_result_11.columns.tolist())

['LocationCode', 'Date', 'Time', 'Power_1', 'Power_2', 'Power_3', 'Power_4', 'Power_5', 'Power_6', 'Month', 'Season', 'yyyymmddhh', 'PS01_466990', 'PS02_466990', 'TX01_466990', 'TD01_466990', 'RH01_466990', 'WD01_466990', 'WD02_466990', 'WD07_466990', 'WD08_466990', 'PP01_466990', 'PP02_466990', 'SS01_466990', 'GR01_466990', 'UV01_466990', 'PS01_72250', 'PS02_72250', 'TX01_72250', 'TD01_72250', 'RH01_72250', 'WD01_72250', 'WD02_72250', 'WD07_72250', 'WD08_72250', 'PP01_72250', 'SS01_72250', 'GR01_72250', 'TS01_72250', 'TS02_72250', 'TS03_72250', 'TS04_72250', 'TS06_72250', 'TS07_72250', 'PS01_100', 'TX01_100', 'RH01_100', 'WD01_100', 'WD02_100', 'WD07_100', 'WD08_100', 'PP01_100', 'Time_plus_1', 'Time_minus_1', 'Date_minus_1', 'yyyymmddhh_date_time_plus_1', 'PS01_466990_date_time_plus_1', 'PS02_466990_date_time_plus_1', 'TX01_466990_date_time_plus_1', 'TD01_466990_date_time_plus_1', 'RH01_466990_date_time_plus_1', 'WD01_466990_date_time_plus_1', 'WD02_466990_date_time_plus_1', 'WD07_466990_date_time_plus_1', 'WD08_466990_date_time_plus_1', 'PP01_466990_date_time_plus_1', 'PP02_466990_date_time_plus_1', 'SS01_466990_date_time_plus_1', 'GR01_466990_date_time_plus_1', 'UV01_466990_date_time_plus_1', 'Time_date_time_plus_1', 'PS01_72250_date_time_plus_1', 'PS02_72250_date_time_plus_1', 'TX01_72250_date_time_plus_1', 'TD01_72250_date_time_plus_1', 'RH01_72250_date_time_plus_1', 'WD01_72250_date_time_plus_1', 'WD02_72250_date_time_plus_1', 'WD07_72250_date_time_plus_1', 'WD08_72250_date_time_plus_1', 'PP01_72250_date_time_plus_1', 'SS01_72250_date_time_plus_1', 'GR01_72250_date_time_plus_1', 'TS01_72250_date_time_plus_1', 'TS02_72250_date_time_plus_1', 'TS03_72250_date_time_plus_1', 'TS04_72250_date_time_plus_1', 'TS06_72250_date_time_plus_1', 'TS07_72250_date_time_plus_1', 'PS01_100_date_time_plus_1', 'TX01_100_date_time_plus_1', 'RH01_100_date_time_plus_1', 'WD01_100_date_time_plus_1', 'WD02_100_date_time_plus_1', 'WD07_100_date_time_plus_1', 'WD08_100_date_time_plus_1', 'PP01_100_date_time_plus_1', 'yyyymmddhh_date_time_minus_1', 'PS01_466990_date_time_minus_1', 'PS02_466990_date_time_minus_1', 'TX01_466990_date_time_minus_1', 'TD01_466990_date_time_minus_1', 'RH01_466990_date_time_minus_1', 'WD01_466990_date_time_minus_1', 'WD02_466990_date_time_minus_1', 'WD07_466990_date_time_minus_1', 'WD08_466990_date_time_minus_1', 'PP01_466990_date_time_minus_1', 'PP02_466990_date_time_minus_1', 'SS01_466990_date_time_minus_1', 'GR01_466990_date_time_minus_1', 'UV01_466990_date_time_minus_1', 'Time_date_time_minus_1', 'PS01_72250_date_time_minus_1', 'PS02_72250_date_time_minus_1', 'TX01_72250_date_time_minus_1', 'TD01_72250_date_time_minus_1', 'RH01_72250_date_time_minus_1', 'WD01_72250_date_time_minus_1', 'WD02_72250_date_time_minus_1', 'WD07_72250_date_time_minus_1', 'WD08_72250_date_time_minus_1', 'PP01_72250_date_time_minus_1', 'SS01_72250_date_time_minus_1', 'GR01_72250_date_time_minus_1', 'TS01_72250_date_time_minus_1', 'TS02_72250_date_time_minus_1', 'TS03_72250_date_time_minus_1', 'TS04_72250_date_time_minus_1', 'TS06_72250_date_time_minus_1', 'TS07_72250_date_time_minus_1', 'PS01_100_date_time_minus_1', 'TX01_100_date_time_minus_1', 'RH01_100_date_time_minus_1', 'WD01_100_date_time_minus_1', 'WD02_100_date_time_minus_1', 'WD07_100_date_time_minus_1', 'WD08_100_date_time_minus_1', 'PP01_100_date_time_minus_1', 'yyyymmddhh_date_minus_1_time', 'PS01_466990_date_minus_1_time', 'PS02_466990_date_minus_1_time', 'TX01_466990_date_minus_1_time', 'TD01_466990_date_minus_1_time', 'RH01_466990_date_minus_1_time', 'WD01_466990_date_minus_1_time', 'WD02_466990_date_minus_1_time', 'WD07_466990_date_minus_1_time', 'WD08_466990_date_minus_1_time', 'PP01_466990_date_minus_1_time', 'PP02_466990_date_minus_1_time', 'SS01_466990_date_minus_1_time', 'GR01_466990_date_minus_1_time', 'UV01_466990_date_minus_1_time', 'Date_date_minus_1_time', 'PS01_72250_date_minus_1_time', 'PS02_72250_date_minus_1_time', 'TX01_72250_date_minus_1_time', 'TD01_72250_date_minus_1_time', 'RH01_72250_date_minus_1_time', 'WD01_72250_date_minus_1_time', 'WD02_72250_date_minus_1_time', 'WD07_72250_date_minus_1_time', 'WD08_72250_date_minus_1_time', 'PP01_72250_date_minus_1_time', 'SS01_72250_date_minus_1_time', 'GR01_72250_date_minus_1_time', 'TS01_72250_date_minus_1_time', 'TS02_72250_date_minus_1_time', 'TS03_72250_date_minus_1_time', 'TS04_72250_date_minus_1_time', 'TS06_72250_date_minus_1_time', 'TS07_72250_date_minus_1_time', 'PS01_100_date_minus_1_time', 'TX01_100_date_minus_1_time', 'RH01_100_date_minus_1_time', 'WD01_100_date_minus_1_time', 'WD02_100_date_minus_1_time', 'WD07_100_date_minus_1_time', 'WD08_100_date_minus_1_time', 'PP01_100_date_minus_1_time']

In [ ]:
# #刪除filtered_result_11中的'yyyymmddhh_x'、'Time_plus_1'、'yyyymmddhh_y'、'Time_y'欄位
# filtered_result_11 = filtered_result_11.drop(['yyyymmddhh_x', 'Time_plus_1', 'yyyymmddhh_y', 'Time_y'], axis=1)

# #把filtered_result_11中的'Time_x'改名為'Time'
# filtered_result_11 = filtered_result_11.rename(columns={'Time_x': 'Time'})
# filtered_result_11

In [62]:
data_after_test = pd.merge(filtered_result_11,df_after,on='LocationCode',how='left')

#把data_after_test的"Month"、"direction"、"floor"做one-hot encoding
data_after_test = pd.get_dummies(data_after_test, columns=['Month', 'Season', 'direction', 'floor'])

# 將布林值 (True, False) 轉換為數值 (1, 0)
data_after_test = data_after_test.replace({True: 1, False: 0})

data_after_test

/tmp/ipykernel_3049494/3512164864.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_after_test = data_after_test.replace({True: 1, False: 0})

,LocationCode,Date,Time,Power_1,Power_2,Power_3,Power_4,Power_5,Power_6,yyyymmddhh,...,Season_Winter,direction_南,direction_東,direction_東南,direction_西,direction_西北,direction_西南,floor_1,floor_3,floor_5
0,1,2024-01-06,9,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024010609,...,1,1,0,0,0,0,0,0,0,1
1,1,2024-01-06,10,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024010610,...,1,1,0,0,0,0,0,0,0,1
2,1,2024-01-06,11,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024010611,...,1,1,0,0,0,0,0,0,0,1
3,1,2024-01-06,12,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024010612,...,1,1,0,0,0,0,0,0,0,1
4,1,2024-01-06,13,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024010613,...,1,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2796,17,2024-07-09,13,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024070913,...,0,0,0,0,1,0,0,0,0,1
2797,17,2024-07-09,14,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024070914,...,0,0,0,0,1,0,0,0,0,1
2798,17,2024-07-09,15,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024070915,...,0,0,0,0,1,0,0,0,0,1
2799,17,2024-07-09,16,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024070916,...,0,0,0,0,1,0,0,0,0,1
2800,17,2024-07-12,16,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024071216,...,0,0,0,0,1,0,0,0,0,1

In [63]:
#看data_after中有缺失值的欄位，列出大於0的
data_after.isnull().sum()[data_after.isnull().sum() > 0]

data_after_72250 = data_after.copy()
#將data_after_72250中有缺失值的row刪除
data_after_72250 = data_after_72250.dropna()

In [64]:
#看data_after_test中有缺失值的欄位，列出大於0的
data_after_test.isnull().sum()[data_after_test.isnull().sum() > 0]

PS01_72250                     17
PS02_72250                     17
TX01_72250                     17
TD01_72250                     17
RH01_72250                     17
                             ...
RH01_100_date_minus_1_time    713
WD01_100_date_minus_1_time    713
WD02_100_date_minus_1_time    713
WD07_100_date_minus_1_time      1
WD08_100_date_minus_1_time      1
Length: 98, dtype: int64

In [65]:
data_after_72250_test = data_after_test.copy()
#將data_after_72250_test中RH01_72250欄位有缺失值的row刪除
data_after_72250_test = data_after_72250_test.dropna(subset=['TS04_72250_date_minus_1_time'])
data_after_72250_test

,LocationCode,Date,Time,Power_1,Power_2,Power_3,Power_4,Power_5,Power_6,yyyymmddhh,...,Season_Winter,direction_南,direction_東,direction_東南,direction_西,direction_西北,direction_西南,floor_1,floor_3,floor_5
0,1,2024-01-06,9,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024010609,...,1,1,0,0,0,0,0,0,0,1
1,1,2024-01-06,10,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024010610,...,1,1,0,0,0,0,0,0,0,1
2,1,2024-01-06,11,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024010611,...,1,1,0,0,0,0,0,0,0,1
3,1,2024-01-06,12,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024010612,...,1,1,0,0,0,0,0,0,0,1
4,1,2024-01-06,13,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024010613,...,1,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2796,17,2024-07-09,13,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024070913,...,0,0,0,0,1,0,0,0,0,1
2797,17,2024-07-09,14,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024070914,...,0,0,0,0,1,0,0,0,0,1
2798,17,2024-07-09,15,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024070915,...,0,0,0,0,1,0,0,0,0,1
2799,17,2024-07-09,16,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024070916,...,0,0,0,0,1,0,0,0,0,1
2800,17,2024-07-12,16,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024071216,...,0,0,0,0,1,0,0,0,0,1

In [66]:
#列出中所有欄位(tolist)
data_after.columns.tolist()
print(data_after.columns.tolist())
print(data_after.shape)

data_after_test.columns.tolist()
print(data_after_test.columns.tolist())
print(data_after_test.shape)

data_after_72250.columns.tolist()
print(data_after_72250.columns.tolist())
print(data_after_72250.shape)

data_after_72250_test.columns.tolist()
print(data_after_72250_test.columns.tolist())
print(data_after_72250_test.shape)

['LocationCode', 'Date', 'Time', 'Power_1', 'Power_2', 'Power_3', 'Power_4', 'Power_5', 'Power_6', 'yyyymmddhh', 'PS01_466990', 'PS02_466990', 'TX01_466990', 'TD01_466990', 'RH01_466990', 'WD01_466990', 'WD02_466990', 'WD07_466990', 'WD08_466990', 'PP01_466990', 'PP02_466990', 'SS01_466990', 'GR01_466990', 'UV01_466990', 'PS01_72250', 'PS02_72250', 'TX01_72250', 'TD01_72250', 'RH01_72250', 'WD01_72250', 'WD02_72250', 'WD07_72250', 'WD08_72250', 'PP01_72250', 'SS01_72250', 'GR01_72250', 'TS01_72250', 'TS02_72250', 'TS03_72250', 'TS04_72250', 'TS06_72250', 'TS07_72250', 'PS01_100', 'TX01_100', 'RH01_100', 'WD01_100', 'WD02_100', 'WD07_100', 'WD08_100', 'PP01_100', 'Time_plus_1', 'Time_minus_1', 'Date_minus_1', 'yyyymmddhh_date_time_plus_1', 'PS01_466990_date_time_plus_1', 'PS02_466990_date_time_plus_1', 'TX01_466990_date_time_plus_1', 'TD01_466990_date_time_plus_1', 'RH01_466990_date_time_plus_1', 'WD01_466990_date_time_plus_1', 'WD02_466990_date_time_plus_1', 'WD07_466990_date_time_plus_1', 'WD08_466990_date_time_plus_1', 'PP01_466990_date_time_plus_1', 'PP02_466990_date_time_plus_1', 'SS01_466990_date_time_plus_1', 'GR01_466990_date_time_plus_1', 'UV01_466990_date_time_plus_1', 'Time_date_time_plus_1', 'PS01_72250_date_time_plus_1', 'PS02_72250_date_time_plus_1', 'TX01_72250_date_time_plus_1', 'TD01_72250_date_time_plus_1', 'RH01_72250_date_time_plus_1', 'WD01_72250_date_time_plus_1', 'WD02_72250_date_time_plus_1', 'WD07_72250_date_time_plus_1', 'WD08_72250_date_time_plus_1', 'PP01_72250_date_time_plus_1', 'SS01_72250_date_time_plus_1', 'GR01_72250_date_time_plus_1', 'TS01_72250_date_time_plus_1', 'TS02_72250_date_time_plus_1', 'TS03_72250_date_time_plus_1', 'TS04_72250_date_time_plus_1', 'TS06_72250_date_time_plus_1', 'TS07_72250_date_time_plus_1', 'PS01_100_date_time_plus_1', 'TX01_100_date_time_plus_1', 'RH01_100_date_time_plus_1', 'WD01_100_date_time_plus_1', 'WD02_100_date_time_plus_1', 'WD07_100_date_time_plus_1', 'WD08_100_date_time_plus_1', 'PP01_100_date_time_plus_1', 'yyyymmddhh_date_time_minus_1', 'PS01_466990_date_time_minus_1', 'PS02_466990_date_time_minus_1', 'TX01_466990_date_time_minus_1', 'TD01_466990_date_time_minus_1', 'RH01_466990_date_time_minus_1', 'WD01_466990_date_time_minus_1', 'WD02_466990_date_time_minus_1', 'WD07_466990_date_time_minus_1', 'WD08_466990_date_time_minus_1', 'PP01_466990_date_time_minus_1', 'PP02_466990_date_time_minus_1', 'SS01_466990_date_time_minus_1', 'GR01_466990_date_time_minus_1', 'UV01_466990_date_time_minus_1', 'Time_date_time_minus_1', 'PS01_72250_date_time_minus_1', 'PS02_72250_date_time_minus_1', 'TX01_72250_date_time_minus_1', 'TD01_72250_date_time_minus_1', 'RH01_72250_date_time_minus_1', 'WD01_72250_date_time_minus_1', 'WD02_72250_date_time_minus_1', 'WD07_72250_date_time_minus_1', 'WD08_72250_date_time_minus_1', 'PP01_72250_date_time_minus_1', 'SS01_72250_date_time_minus_1', 'GR01_72250_date_time_minus_1', 'TS01_72250_date_time_minus_1', 'TS02_72250_date_time_minus_1', 'TS03_72250_date_time_minus_1', 'TS04_72250_date_time_minus_1', 'TS06_72250_date_time_minus_1', 'TS07_72250_date_time_minus_1', 'PS01_100_date_time_minus_1', 'TX01_100_date_time_minus_1', 'RH01_100_date_time_minus_1', 'WD01_100_date_time_minus_1', 'WD02_100_date_time_minus_1', 'WD07_100_date_time_minus_1', 'WD08_100_date_time_minus_1', 'PP01_100_date_time_minus_1', 'yyyymmddhh_date_minus_1_time', 'PS01_466990_date_minus_1_time', 'PS02_466990_date_minus_1_time', 'TX01_466990_date_minus_1_time', 'TD01_466990_date_minus_1_time', 'RH01_466990_date_minus_1_time', 'WD01_466990_date_minus_1_time', 'WD02_466990_date_minus_1_time', 'WD07_466990_date_minus_1_time', 'WD08_466990_date_minus_1_time', 'PP01_466990_date_minus_1_time', 'PP02_466990_date_minus_1_time', 'SS01_466990_date_minus_1_time', 'GR01_466990_date_minus_1_time', 'UV01_466990_date_minus_1_time', 'Date_date_minus_1_time', 'PS01_72250_date_minus_1_time', 'PS02_72250_date_minus_1_time', 'TX01_72250_date_minus_1_time', 'TD01_72250_date_minus_1_time', 'RH01_72250_date_minus_1_time', 'WD01_72250_date_minus_1_time', 'WD02_72250_date_minus_1_time', 'WD07_72250_date_minus_1_time', 'WD08_72250_date_minus_1_time', 'PP01_72250_date_minus_1_time', 'SS01_72250_date_minus_1_time', 'GR01_72250_date_minus_1_time', 'TS01_72250_date_minus_1_time', 'TS02_72250_date_minus_1_time', 'TS03_72250_date_minus_1_time', 'TS04_72250_date_minus_1_time', 'TS06_72250_date_minus_1_time', 'TS07_72250_date_minus_1_time', 'PS01_100_date_minus_1_time', 'TX01_100_date_minus_1_time', 'RH01_100_date_minus_1_time', 'WD01_100_date_minus_1_time', 'WD02_100_date_minus_1_time', 'WD07_100_date_minus_1_time', 'WD08_100_date_minus_1_time', 'PP01_100_date_minus_1_time', 'nearby', 'Lat', 'Lon', 'Month_1', 'Month_2', 'Month_3', 'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8', 'Month_9', 'Month_10', 'Season_Autumn', 'Season_Spring', 'Season_Summer', 'Season_Winter', 'direction_南', 'direction_東', 'direction_東南', 'direction_西', 'direction_西北', 'direction_西南', 'floor_1', 'floor_3', 'floor_5']
(17313, 205)
['LocationCode', 'Date', 'Time', 'Power_1', 'Power_2', 'Power_3', 'Power_4', 'Power_5', 'Power_6', 'yyyymmddhh', 'PS01_466990', 'PS02_466990', 'TX01_466990', 'TD01_466990', 'RH01_466990', 'WD01_466990', 'WD02_466990', 'WD07_466990', 'WD08_466990', 'PP01_466990', 'PP02_466990', 'SS01_466990', 'GR01_466990', 'UV01_466990', 'PS01_72250', 'PS02_72250', 'TX01_72250', 'TD01_72250', 'RH01_72250', 'WD01_72250', 'WD02_72250', 'WD07_72250', 'WD08_72250', 'PP01_72250', 'SS01_72250', 'GR01_72250', 'TS01_72250', 'TS02_72250', 'TS03_72250', 'TS04_72250', 'TS06_72250', 'TS07_72250', 'PS01_100', 'TX01_100', 'RH01_100', 'WD01_100', 'WD02_100', 'WD07_100', 'WD08_100', 'PP01_100', 'Time_plus_1', 'Time_minus_1', 'Date_minus_1', 'yyyymmddhh_date_time_plus_1', 'PS01_466990_date_time_plus_1', 'PS02_466990_date_time_plus_1', 'TX01_466990_date_time_plus_1', 'TD01_466990_date_time_plus_1', 'RH01_466990_date_time_plus_1', 'WD01_466990_date_time_plus_1', 'WD02_466990_date_time_plus_1', 'WD07_466990_date_time_plus_1', 'WD08_466990_date_time_plus_1', 'PP01_466990_date_time_plus_1', 'PP02_466990_date_time_plus_1', 'SS01_466990_date_time_plus_1', 'GR01_466990_date_time_plus_1', 'UV01_466990_date_time_plus_1', 'Time_date_time_plus_1', 'PS01_72250_date_time_plus_1', 'PS02_72250_date_time_plus_1', 'TX01_72250_date_time_plus_1', 'TD01_72250_date_time_plus_1', 'RH01_72250_date_time_plus_1', 'WD01_72250_date_time_plus_1', 'WD02_72250_date_time_plus_1', 'WD07_72250_date_time_plus_1', 'WD08_72250_date_time_plus_1', 'PP01_72250_date_time_plus_1', 'SS01_72250_date_time_plus_1', 'GR01_72250_date_time_plus_1', 'TS01_72250_date_time_plus_1', 'TS02_72250_date_time_plus_1', 'TS03_72250_date_time_plus_1', 'TS04_72250_date_time_plus_1', 'TS06_72250_date_time_plus_1', 'TS07_72250_date_time_plus_1', 'PS01_100_date_time_plus_1', 'TX01_100_date_time_plus_1', 'RH01_100_date_time_plus_1', 'WD01_100_date_time_plus_1', 'WD02_100_date_time_plus_1', 'WD07_100_date_time_plus_1', 'WD08_100_date_time_plus_1', 'PP01_100_date_time_plus_1', 'yyyymmddhh_date_time_minus_1', 'PS01_466990_date_time_minus_1', 'PS02_466990_date_time_minus_1', 'TX01_466990_date_time_minus_1', 'TD01_466990_date_time_minus_1', 'RH01_466990_date_time_minus_1', 'WD01_466990_date_time_minus_1', 'WD02_466990_date_time_minus_1', 'WD07_466990_date_time_minus_1', 'WD08_466990_date_time_minus_1', 'PP01_466990_date_time_minus_1', 'PP02_466990_date_time_minus_1', 'SS01_466990_date_time_minus_1', 'GR01_466990_date_time_minus_1', 'UV01_466990_date_time_minus_1', 'Time_date_time_minus_1', 'PS01_72250_date_time_minus_1', 'PS02_72250_date_time_minus_1', 'TX01_72250_date_time_minus_1', 'TD01_72250_date_time_minus_1', 'RH01_72250_date_time_minus_1', 'WD01_72250_date_time_minus_1', 'WD02_72250_date_time_minus_1', 'WD07_72250_date_time_minus_1', 'WD08_72250_date_time_minus_1', 'PP01_72250_date_time_minus_1', 'SS01_72250_date_time_minus_1', 'GR01_72250_date_time_minus_1', 'TS01_72250_date_time_minus_1', 'TS02_72250_date_time_minus_1', 'TS03_72250_date_time_minus_1', 'TS04_72250_date_time_minus_1', 'TS06_72250_date_time_minus_1', 'TS07_72250_date_time_minus_1', 'PS01_100_date_time_minus_1', 'TX01_100_date_time_minus_1', 'RH01_100_date_time_minus_1', 'WD01_100_date_time_minus_1', 'WD02_100_date_time_minus_1', 'WD07_100_date_time_minus_1', 'WD08_100_date_time_minus_1', 'PP01_100_date_time_minus_1', 'yyyymmddhh_date_minus_1_time', 'PS01_466990_date_minus_1_time', 'PS02_466990_date_minus_1_time', 'TX01_466990_date_minus_1_time', 'TD01_466990_date_minus_1_time', 'RH01_466990_date_minus_1_time', 'WD01_466990_date_minus_1_time', 'WD02_466990_date_minus_1_time', 'WD07_466990_date_minus_1_time', 'WD08_466990_date_minus_1_time', 'PP01_466990_date_minus_1_time', 'PP02_466990_date_minus_1_time', 'SS01_466990_date_minus_1_time', 'GR01_466990_date_minus_1_time', 'UV01_466990_date_minus_1_time', 'Date_date_minus_1_time', 'PS01_72250_date_minus_1_time', 'PS02_72250_date_minus_1_time', 'TX01_72250_date_minus_1_time', 'TD01_72250_date_minus_1_time', 'RH01_72250_date_minus_1_time', 'WD01_72250_date_minus_1_time', 'WD02_72250_date_minus_1_time', 'WD07_72250_date_minus_1_time', 'WD08_72250_date_minus_1_time', 'PP01_72250_date_minus_1_time', 'SS01_72250_date_minus_1_time', 'GR01_72250_date_minus_1_time', 'TS01_72250_date_minus_1_time', 'TS02_72250_date_minus_1_time', 'TS03_72250_date_minus_1_time', 'TS04_72250_date_minus_1_time', 'TS06_72250_date_minus_1_time', 'TS07_72250_date_minus_1_time', 'PS01_100_date_minus_1_time', 'TX01_100_date_minus_1_time', 'RH01_100_date_minus_1_time', 'WD01_100_date_minus_1_time', 'WD02_100_date_minus_1_time', 'WD07_100_date_minus_1_time', 'WD08_100_date_minus_1_time', 'PP01_100_date_minus_1_time', 'nearby', 'Lat', 'Lon', 'Month_1', 'Month_2', 'Month_3', 'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8', 'Month_9', 'Month_10', 'Season_Autumn', 'Season_Spring', 'Season_Summer', 'Season_Winter', 'direction_南', 'direction_東', 'direction_東南', 'direction_西', 'direction_西北', 'direction_西南', 'floor_1', 'floor_3', 'floor_5']
(2801, 205)
['LocationCode', 'Date', 'Time', 'Power_1', 'Power_2', 'Power_3', 'Power_4', 'Power_5', 'Power_6', 'yyyymmddhh', 'PS01_466990', 'PS02_466990', 'TX01_466990', 'TD01_466990', 'RH01_466990', 'WD01_466990', 'WD02_466990', 'WD07_466990', 'WD08_466990', 'PP01_466990', 'PP02_466990', 'SS01_466990', 'GR01_466990', 'UV01_466990', 'PS01_72250', 'PS02_72250', 'TX01_72250', 'TD01_72250', 'RH01_72250', 'WD01_72250', 'WD02_72250', 'WD07_72250', 'WD08_72250', 'PP01_72250', 'SS01_72250', 'GR01_72250', 'TS01_72250', 'TS02_72250', 'TS03_72250', 'TS04_72250', 'TS06_72250', 'TS07_72250', 'PS01_100', 'TX01_100', 'RH01_100', 'WD01_100', 'WD02_100', 'WD07_100', 'WD08_100', 'PP01_100', 'Time_plus_1', 'Time_minus_1', 'Date_minus_1', 'yyyymmddhh_date_time_plus_1', 'PS01_466990_date_time_plus_1', 'PS02_466990_date_time_plus_1', 'TX01_466990_date_time_plus_1', 'TD01_466990_date_time_plus_1', 'RH01_466990_date_time_plus_1', 'WD01_466990_date_time_plus_1', 'WD02_466990_date_time_plus_1', 'WD07_466990_date_time_plus_1', 'WD08_466990_date_time_plus_1', 'PP01_466990_date_time_plus_1', 'PP02_466990_date_time_plus_1', 'SS01_466990_date_time_plus_1', 'GR01_466990_date_time_plus_1', 'UV01_466990_date_time_plus_1', 'Time_date_time_plus_1', 'PS01_72250_date_time_plus_1', 'PS02_72250_date_time_plus_1', 'TX01_72250_date_time_plus_1', 'TD01_72250_date_time_plus_1', 'RH01_72250_date_time_plus_1', 'WD01_72250_date_time_plus_1', 'WD02_72250_date_time_plus_1', 'WD07_72250_date_time_plus_1', 'WD08_72250_date_time_plus_1', 'PP01_72250_date_time_plus_1', 'SS01_72250_date_time_plus_1', 'GR01_72250_date_time_plus_1', 'TS01_72250_date_time_plus_1', 'TS02_72250_date_time_plus_1', 'TS03_72250_date_time_plus_1', 'TS04_72250_date_time_plus_1', 'TS06_72250_date_time_plus_1', 'TS07_72250_date_time_plus_1', 'PS01_100_date_time_plus_1', 'TX01_100_date_time_plus_1', 'RH01_100_date_time_plus_1', 'WD01_100_date_time_plus_1', 'WD02_100_date_time_plus_1', 'WD07_100_date_time_plus_1', 'WD08_100_date_time_plus_1', 'PP01_100_date_time_plus_1', 'yyyymmddhh_date_time_minus_1', 'PS01_466990_date_time_minus_1', 'PS02_466990_date_time_minus_1', 'TX01_466990_date_time_minus_1', 'TD01_466990_date_time_minus_1', 'RH01_466990_date_time_minus_1', 'WD01_466990_date_time_minus_1', 'WD02_466990_date_time_minus_1', 'WD07_466990_date_time_minus_1', 'WD08_466990_date_time_minus_1', 'PP01_466990_date_time_minus_1', 'PP02_466990_date_time_minus_1', 'SS01_466990_date_time_minus_1', 'GR01_466990_date_time_minus_1', 'UV01_466990_date_time_minus_1', 'Time_date_time_minus_1', 'PS01_72250_date_time_minus_1', 'PS02_72250_date_time_minus_1', 'TX01_72250_date_time_minus_1', 'TD01_72250_date_time_minus_1', 'RH01_72250_date_time_minus_1', 'WD01_72250_date_time_minus_1', 'WD02_72250_date_time_minus_1', 'WD07_72250_date_time_minus_1', 'WD08_72250_date_time_minus_1', 'PP01_72250_date_time_minus_1', 'SS01_72250_date_time_minus_1', 'GR01_72250_date_time_minus_1', 'TS01_72250_date_time_minus_1', 'TS02_72250_date_time_minus_1', 'TS03_72250_date_time_minus_1', 'TS04_72250_date_time_minus_1', 'TS06_72250_date_time_minus_1', 'TS07_72250_date_time_minus_1', 'PS01_100_date_time_minus_1', 'TX01_100_date_time_minus_1', 'RH01_100_date_time_minus_1', 'WD01_100_date_time_minus_1', 'WD02_100_date_time_minus_1', 'WD07_100_date_time_minus_1', 'WD08_100_date_time_minus_1', 'PP01_100_date_time_minus_1', 'yyyymmddhh_date_minus_1_time', 'PS01_466990_date_minus_1_time', 'PS02_466990_date_minus_1_time', 'TX01_466990_date_minus_1_time', 'TD01_466990_date_minus_1_time', 'RH01_466990_date_minus_1_time', 'WD01_466990_date_minus_1_time', 'WD02_466990_date_minus_1_time', 'WD07_466990_date_minus_1_time', 'WD08_466990_date_minus_1_time', 'PP01_466990_date_minus_1_time', 'PP02_466990_date_minus_1_time', 'SS01_466990_date_minus_1_time', 'GR01_466990_date_minus_1_time', 'UV01_466990_date_minus_1_time', 'Date_date_minus_1_time', 'PS01_72250_date_minus_1_time', 'PS02_72250_date_minus_1_time', 'TX01_72250_date_minus_1_time', 'TD01_72250_date_minus_1_time', 'RH01_72250_date_minus_1_time', 'WD01_72250_date_minus_1_time', 'WD02_72250_date_minus_1_time', 'WD07_72250_date_minus_1_time', 'WD08_72250_date_minus_1_time', 'PP01_72250_date_minus_1_time', 'SS01_72250_date_minus_1_time', 'GR01_72250_date_minus_1_time', 'TS01_72250_date_minus_1_time', 'TS02_72250_date_minus_1_time', 'TS03_72250_date_minus_1_time', 'TS04_72250_date_minus_1_time', 'TS06_72250_date_minus_1_time', 'TS07_72250_date_minus_1_time', 'PS01_100_date_minus_1_time', 'TX01_100_date_minus_1_time', 'RH01_100_date_minus_1_time', 'WD01_100_date_minus_1_time', 'WD02_100_date_minus_1_time', 'WD07_100_date_minus_1_time', 'WD08_100_date_minus_1_time', 'PP01_100_date_minus_1_time', 'nearby', 'Lat', 'Lon', 'Month_1', 'Month_2', 'Month_3', 'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8', 'Month_9', 'Month_10', 'Season_Autumn', 'Season_Spring', 'Season_Summer', 'Season_Winter', 'direction_南', 'direction_東', 'direction_東南', 'direction_西', 'direction_西北', 'direction_西南', 'floor_1', 'floor_3', 'floor_5']
(11657, 205)

LocationCode也做one-hot encoding

In [67]:
data_after_1 = data_after.copy()

#把data_after_1的'LocationCode'做one-hot encoding
data_after_1 = pd.get_dummies(data_after_1, columns=['LocationCode'])

# 將布林值 (True, False) 轉換為數值 (1, 0)
data_after_1 = data_after_1.replace({True: 1, False: 0})

data_after_1

/tmp/ipykernel_3049494/3204877302.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_after_1 = data_after_1.replace({True: 1, False: 0})

,Date,Time,Power_1,Power_2,Power_3,Power_4,Power_5,Power_6,yyyymmddhh,PS01_466990,...,LocationCode_8,LocationCode_9,LocationCode_10,LocationCode_11,LocationCode_12,LocationCode_13,LocationCode_14,LocationCode_15,LocationCode_16,LocationCode_17
0,2024-01-01,7,0.083,0.139,0.247,0.447,1.129,1.597,2024010107,1020.7,...,0,0,0,0,0,0,0,0,0,0
1,2024-01-01,8,1.180,1.440,2.369,4.183,9.765,11.859,2024010108,1021.4,...,0,0,0,0,0,0,0,0,0,0
2,2024-01-01,9,17.368,12.612,8.807,17.564,7.508,7.032,2024010109,1021.9,...,0,0,0,0,0,0,0,0,0,0
3,2024-01-01,10,19.709,20.346,20.435,14.007,9.333,13.533,2024010110,1021.9,...,0,0,0,0,0,0,0,0,0,0
4,2024-01-01,11,13.197,9.474,10.262,15.875,22.822,20.508,2024010111,1021.5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17308,2024-07-12,10,1036.557,1139.295,957.427,1205.549,1215.459,1146.666,2024071210,1003.3,...,0,0,0,0,0,0,0,0,0,1
17309,2024-07-12,11,1268.184,1240.828,1187.528,1043.731,1288.217,1257.187,2024071211,1003.2,...,0,0,0,0,0,0,0,0,0,1
17310,2024-07-12,12,1213.114,1051.640,1057.633,937.805,914.582,1085.705,2024071212,1002.7,...,0,0,0,0,0,0,0,0,0,1
17311,2024-07-12,13,638.922,624.088,720.986,470.042,392.483,564.158,2024071213,1002.4,...,0,0,0,0,0,0,0,0,0,1
17312,2024-07-12,14,195.425,56.789,14.412,26.899,28.467,29.948,2024071214,1002.5,...,0,0,0,0,0,0,0,0,0,1

In [68]:
data_after_72250_1 = data_after_72250.copy()

#把data_after_1的'LocationCode'做one-hot encoding
data_after_72250_1 = pd.get_dummies(data_after_72250_1, columns=['LocationCode'])

# 將布林值 (True, False) 轉換為數值 (1, 0)
data_after_72250_1 = data_after_72250_1.replace({True: 1, False: 0})

data_after_72250_1

/tmp/ipykernel_3049494/1051354841.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_after_72250_1 = data_after_72250_1.replace({True: 1, False: 0})

,Date,Time,Power_1,Power_2,Power_3,Power_4,Power_5,Power_6,yyyymmddhh,PS01_466990,...,LocationCode_8,LocationCode_9,LocationCode_10,LocationCode_11,LocationCode_12,LocationCode_13,LocationCode_14,LocationCode_15,LocationCode_16,LocationCode_17
615,2024-03-30,7,3.307,4.875,10.715,13.553000,15.083,13.122,2024033007,1013.5,...,0,0,0,0,0,0,0,0,0,0
616,2024-03-30,8,15.237,24.568,28.445,44.978889,49.573,51.640,2024033008,1014.6,...,0,0,0,0,0,0,0,0,0,0
617,2024-03-30,9,96.517,36.421,65.317,58.947000,94.395,200.326,2024033009,1014.9,...,0,0,0,0,0,0,0,0,0,0
618,2024-03-30,10,342.083,392.400,146.229,128.786000,606.005,1211.790,2024033010,1014.5,...,0,0,0,0,0,0,0,0,0,0
619,2024-03-30,11,1115.579,698.509,405.631,223.472000,113.259,124.936,2024033011,1014.5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17308,2024-07-12,10,1036.557,1139.295,957.427,1205.549000,1215.459,1146.666,2024071210,1003.3,...,0,0,0,0,0,0,0,0,0,1
17309,2024-07-12,11,1268.184,1240.828,1187.528,1043.731000,1288.217,1257.187,2024071211,1003.2,...,0,0,0,0,0,0,0,0,0,1
17310,2024-07-12,12,1213.114,1051.640,1057.633,937.805000,914.582,1085.705,2024071212,1002.7,...,0,0,0,0,0,0,0,0,0,1
17311,2024-07-12,13,638.922,624.088,720.986,470.042000,392.483,564.158,2024071213,1002.4,...,0,0,0,0,0,0,0,0,0,1
17312,2024-07-12,14,195.425,56.789,14.412,26.899000,28.467,29.948,2024071214,1002.5,...,0,0,0,0,0,0,0,0,0,1

In [69]:
data_after_test_1 = data_after_test.copy()

#把data_after_1的'LocationCode'做one-hot encoding
data_after_test_1 = pd.get_dummies(data_after_test_1, columns=['LocationCode'])

# 將布林值 (True, False) 轉換為數值 (1, 0)
data_after_test_1 = data_after_test_1.replace({True: 1, False: 0})

data_after_test_1

/tmp/ipykernel_3049494/2102549650.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_after_test_1 = data_after_test_1.replace({True: 1, False: 0})

,Date,Time,Power_1,Power_2,Power_3,Power_4,Power_5,Power_6,yyyymmddhh,PS01_466990,...,LocationCode_8,LocationCode_9,LocationCode_10,LocationCode_11,LocationCode_12,LocationCode_13,LocationCode_14,LocationCode_15,LocationCode_16,LocationCode_17
0,2024-01-06,9,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024010609,1019.8,...,0,0,0,0,0,0,0,0,0,0
1,2024-01-06,10,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024010610,1019.1,...,0,0,0,0,0,0,0,0,0,0
2,2024-01-06,11,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024010611,1018.1,...,0,0,0,0,0,0,0,0,0,0
3,2024-01-06,12,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024010612,1017.4,...,0,0,0,0,0,0,0,0,0,0
4,2024-01-06,13,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024010613,1016.6,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2796,2024-07-09,13,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024070913,1007.9,...,0,0,0,0,0,0,0,0,0,1
2797,2024-07-09,14,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024070914,1007.5,...,0,0,0,0,0,0,0,0,0,1
2798,2024-07-09,15,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024070915,1007.2,...,0,0,0,0,0,0,0,0,0,1
2799,2024-07-09,16,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024070916,1006.8,...,0,0,0,0,0,0,0,0,0,1
2800,2024-07-12,16,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024071216,1002.4,...,0,0,0,0,0,0,0,0,0,1

In [70]:
data_after_72250_test_1 = data_after_72250_test.copy()

#把data_after_1的'LocationCode'做one-hot encoding
data_after_72250_test_1 = pd.get_dummies(data_after_72250_test_1, columns=['LocationCode'])

# 將布林值 (True, False) 轉換為數值 (1, 0)
data_after_72250_test_1 = data_after_72250_test_1.replace({True: 1, False: 0})

data_after_72250_test_1

/tmp/ipykernel_3049494/3923868398.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_after_72250_test_1 = data_after_72250_test_1.replace({True: 1, False: 0})

,Date,Time,Power_1,Power_2,Power_3,Power_4,Power_5,Power_6,yyyymmddhh,PS01_466990,...,LocationCode_8,LocationCode_9,LocationCode_10,LocationCode_11,LocationCode_12,LocationCode_13,LocationCode_14,LocationCode_15,LocationCode_16,LocationCode_17
0,2024-01-06,9,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024010609,1019.8,...,0,0,0,0,0,0,0,0,0,0
1,2024-01-06,10,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024010610,1019.1,...,0,0,0,0,0,0,0,0,0,0
2,2024-01-06,11,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024010611,1018.1,...,0,0,0,0,0,0,0,0,0,0
3,2024-01-06,12,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024010612,1017.4,...,0,0,0,0,0,0,0,0,0,0
4,2024-01-06,13,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024010613,1016.6,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2796,2024-07-09,13,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024070913,1007.9,...,0,0,0,0,0,0,0,0,0,1
2797,2024-07-09,14,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024070914,1007.5,...,0,0,0,0,0,0,0,0,0,1
2798,2024-07-09,15,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024070915,1007.2,...,0,0,0,0,0,0,0,0,0,1
2799,2024-07-09,16,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024070916,1006.8,...,0,0,0,0,0,0,0,0,0,1
2800,2024-07-12,16,-100.0,-100.0,-100.0,-100.0,-100.0,-100.0,2024071216,1002.4,...,0,0,0,0,0,0,0,0,0,1

In [71]:
data_after_1.columns.tolist()
print(data_after_1.columns.tolist())
print(data_after_1.shape)

data_after_test_1.columns.tolist()
print(data_after_test_1.columns.tolist())
print(data_after_test_1.shape)

data_after_72250_1.columns.tolist()
print(data_after_72250_1.columns.tolist())
print(data_after_72250_1.shape)

data_after_72250_test_1.columns.tolist()
print(data_after_72250_test_1.columns.tolist())
print(data_after_72250_test_1.shape)

['Date', 'Time', 'Power_1', 'Power_2', 'Power_3', 'Power_4', 'Power_5', 'Power_6', 'yyyymmddhh', 'PS01_466990', 'PS02_466990', 'TX01_466990', 'TD01_466990', 'RH01_466990', 'WD01_466990', 'WD02_466990', 'WD07_466990', 'WD08_466990', 'PP01_466990', 'PP02_466990', 'SS01_466990', 'GR01_466990', 'UV01_466990', 'PS01_72250', 'PS02_72250', 'TX01_72250', 'TD01_72250', 'RH01_72250', 'WD01_72250', 'WD02_72250', 'WD07_72250', 'WD08_72250', 'PP01_72250', 'SS01_72250', 'GR01_72250', 'TS01_72250', 'TS02_72250', 'TS03_72250', 'TS04_72250', 'TS06_72250', 'TS07_72250', 'PS01_100', 'TX01_100', 'RH01_100', 'WD01_100', 'WD02_100', 'WD07_100', 'WD08_100', 'PP01_100', 'Time_plus_1', 'Time_minus_1', 'Date_minus_1', 'yyyymmddhh_date_time_plus_1', 'PS01_466990_date_time_plus_1', 'PS02_466990_date_time_plus_1', 'TX01_466990_date_time_plus_1', 'TD01_466990_date_time_plus_1', 'RH01_466990_date_time_plus_1', 'WD01_466990_date_time_plus_1', 'WD02_466990_date_time_plus_1', 'WD07_466990_date_time_plus_1', 'WD08_466990_date_time_plus_1', 'PP01_466990_date_time_plus_1', 'PP02_466990_date_time_plus_1', 'SS01_466990_date_time_plus_1', 'GR01_466990_date_time_plus_1', 'UV01_466990_date_time_plus_1', 'Time_date_time_plus_1', 'PS01_72250_date_time_plus_1', 'PS02_72250_date_time_plus_1', 'TX01_72250_date_time_plus_1', 'TD01_72250_date_time_plus_1', 'RH01_72250_date_time_plus_1', 'WD01_72250_date_time_plus_1', 'WD02_72250_date_time_plus_1', 'WD07_72250_date_time_plus_1', 'WD08_72250_date_time_plus_1', 'PP01_72250_date_time_plus_1', 'SS01_72250_date_time_plus_1', 'GR01_72250_date_time_plus_1', 'TS01_72250_date_time_plus_1', 'TS02_72250_date_time_plus_1', 'TS03_72250_date_time_plus_1', 'TS04_72250_date_time_plus_1', 'TS06_72250_date_time_plus_1', 'TS07_72250_date_time_plus_1', 'PS01_100_date_time_plus_1', 'TX01_100_date_time_plus_1', 'RH01_100_date_time_plus_1', 'WD01_100_date_time_plus_1', 'WD02_100_date_time_plus_1', 'WD07_100_date_time_plus_1', 'WD08_100_date_time_plus_1', 'PP01_100_date_time_plus_1', 'yyyymmddhh_date_time_minus_1', 'PS01_466990_date_time_minus_1', 'PS02_466990_date_time_minus_1', 'TX01_466990_date_time_minus_1', 'TD01_466990_date_time_minus_1', 'RH01_466990_date_time_minus_1', 'WD01_466990_date_time_minus_1', 'WD02_466990_date_time_minus_1', 'WD07_466990_date_time_minus_1', 'WD08_466990_date_time_minus_1', 'PP01_466990_date_time_minus_1', 'PP02_466990_date_time_minus_1', 'SS01_466990_date_time_minus_1', 'GR01_466990_date_time_minus_1', 'UV01_466990_date_time_minus_1', 'Time_date_time_minus_1', 'PS01_72250_date_time_minus_1', 'PS02_72250_date_time_minus_1', 'TX01_72250_date_time_minus_1', 'TD01_72250_date_time_minus_1', 'RH01_72250_date_time_minus_1', 'WD01_72250_date_time_minus_1', 'WD02_72250_date_time_minus_1', 'WD07_72250_date_time_minus_1', 'WD08_72250_date_time_minus_1', 'PP01_72250_date_time_minus_1', 'SS01_72250_date_time_minus_1', 'GR01_72250_date_time_minus_1', 'TS01_72250_date_time_minus_1', 'TS02_72250_date_time_minus_1', 'TS03_72250_date_time_minus_1', 'TS04_72250_date_time_minus_1', 'TS06_72250_date_time_minus_1', 'TS07_72250_date_time_minus_1', 'PS01_100_date_time_minus_1', 'TX01_100_date_time_minus_1', 'RH01_100_date_time_minus_1', 'WD01_100_date_time_minus_1', 'WD02_100_date_time_minus_1', 'WD07_100_date_time_minus_1', 'WD08_100_date_time_minus_1', 'PP01_100_date_time_minus_1', 'yyyymmddhh_date_minus_1_time', 'PS01_466990_date_minus_1_time', 'PS02_466990_date_minus_1_time', 'TX01_466990_date_minus_1_time', 'TD01_466990_date_minus_1_time', 'RH01_466990_date_minus_1_time', 'WD01_466990_date_minus_1_time', 'WD02_466990_date_minus_1_time', 'WD07_466990_date_minus_1_time', 'WD08_466990_date_minus_1_time', 'PP01_466990_date_minus_1_time', 'PP02_466990_date_minus_1_time', 'SS01_466990_date_minus_1_time', 'GR01_466990_date_minus_1_time', 'UV01_466990_date_minus_1_time', 'Date_date_minus_1_time', 'PS01_72250_date_minus_1_time', 'PS02_72250_date_minus_1_time', 'TX01_72250_date_minus_1_time', 'TD01_72250_date_minus_1_time', 'RH01_72250_date_minus_1_time', 'WD01_72250_date_minus_1_time', 'WD02_72250_date_minus_1_time', 'WD07_72250_date_minus_1_time', 'WD08_72250_date_minus_1_time', 'PP01_72250_date_minus_1_time', 'SS01_72250_date_minus_1_time', 'GR01_72250_date_minus_1_time', 'TS01_72250_date_minus_1_time', 'TS02_72250_date_minus_1_time', 'TS03_72250_date_minus_1_time', 'TS04_72250_date_minus_1_time', 'TS06_72250_date_minus_1_time', 'TS07_72250_date_minus_1_time', 'PS01_100_date_minus_1_time', 'TX01_100_date_minus_1_time', 'RH01_100_date_minus_1_time', 'WD01_100_date_minus_1_time', 'WD02_100_date_minus_1_time', 'WD07_100_date_minus_1_time', 'WD08_100_date_minus_1_time', 'PP01_100_date_minus_1_time', 'nearby', 'Lat', 'Lon', 'Month_1', 'Month_2', 'Month_3', 'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8', 'Month_9', 'Month_10', 'Season_Autumn', 'Season_Spring', 'Season_Summer', 'Season_Winter', 'direction_南', 'direction_東', 'direction_東南', 'direction_西', 'direction_西北', 'direction_西南', 'floor_1', 'floor_3', 'floor_5', 'LocationCode_1', 'LocationCode_2', 'LocationCode_3', 'LocationCode_4', 'LocationCode_5', 'LocationCode_6', 'LocationCode_7', 'LocationCode_8', 'LocationCode_9', 'LocationCode_10', 'LocationCode_11', 'LocationCode_12', 'LocationCode_13', 'LocationCode_14', 'LocationCode_15', 'LocationCode_16', 'LocationCode_17']
(17313, 221)
['Date', 'Time', 'Power_1', 'Power_2', 'Power_3', 'Power_4', 'Power_5', 'Power_6', 'yyyymmddhh', 'PS01_466990', 'PS02_466990', 'TX01_466990', 'TD01_466990', 'RH01_466990', 'WD01_466990', 'WD02_466990', 'WD07_466990', 'WD08_466990', 'PP01_466990', 'PP02_466990', 'SS01_466990', 'GR01_466990', 'UV01_466990', 'PS01_72250', 'PS02_72250', 'TX01_72250', 'TD01_72250', 'RH01_72250', 'WD01_72250', 'WD02_72250', 'WD07_72250', 'WD08_72250', 'PP01_72250', 'SS01_72250', 'GR01_72250', 'TS01_72250', 'TS02_72250', 'TS03_72250', 'TS04_72250', 'TS06_72250', 'TS07_72250', 'PS01_100', 'TX01_100', 'RH01_100', 'WD01_100', 'WD02_100', 'WD07_100', 'WD08_100', 'PP01_100', 'Time_plus_1', 'Time_minus_1', 'Date_minus_1', 'yyyymmddhh_date_time_plus_1', 'PS01_466990_date_time_plus_1', 'PS02_466990_date_time_plus_1', 'TX01_466990_date_time_plus_1', 'TD01_466990_date_time_plus_1', 'RH01_466990_date_time_plus_1', 'WD01_466990_date_time_plus_1', 'WD02_466990_date_time_plus_1', 'WD07_466990_date_time_plus_1', 'WD08_466990_date_time_plus_1', 'PP01_466990_date_time_plus_1', 'PP02_466990_date_time_plus_1', 'SS01_466990_date_time_plus_1', 'GR01_466990_date_time_plus_1', 'UV01_466990_date_time_plus_1', 'Time_date_time_plus_1', 'PS01_72250_date_time_plus_1', 'PS02_72250_date_time_plus_1', 'TX01_72250_date_time_plus_1', 'TD01_72250_date_time_plus_1', 'RH01_72250_date_time_plus_1', 'WD01_72250_date_time_plus_1', 'WD02_72250_date_time_plus_1', 'WD07_72250_date_time_plus_1', 'WD08_72250_date_time_plus_1', 'PP01_72250_date_time_plus_1', 'SS01_72250_date_time_plus_1', 'GR01_72250_date_time_plus_1', 'TS01_72250_date_time_plus_1', 'TS02_72250_date_time_plus_1', 'TS03_72250_date_time_plus_1', 'TS04_72250_date_time_plus_1', 'TS06_72250_date_time_plus_1', 'TS07_72250_date_time_plus_1', 'PS01_100_date_time_plus_1', 'TX01_100_date_time_plus_1', 'RH01_100_date_time_plus_1', 'WD01_100_date_time_plus_1', 'WD02_100_date_time_plus_1', 'WD07_100_date_time_plus_1', 'WD08_100_date_time_plus_1', 'PP01_100_date_time_plus_1', 'yyyymmddhh_date_time_minus_1', 'PS01_466990_date_time_minus_1', 'PS02_466990_date_time_minus_1', 'TX01_466990_date_time_minus_1', 'TD01_466990_date_time_minus_1', 'RH01_466990_date_time_minus_1', 'WD01_466990_date_time_minus_1', 'WD02_466990_date_time_minus_1', 'WD07_466990_date_time_minus_1', 'WD08_466990_date_time_minus_1', 'PP01_466990_date_time_minus_1', 'PP02_466990_date_time_minus_1', 'SS01_466990_date_time_minus_1', 'GR01_466990_date_time_minus_1', 'UV01_466990_date_time_minus_1', 'Time_date_time_minus_1', 'PS01_72250_date_time_minus_1', 'PS02_72250_date_time_minus_1', 'TX01_72250_date_time_minus_1', 'TD01_72250_date_time_minus_1', 'RH01_72250_date_time_minus_1', 'WD01_72250_date_time_minus_1', 'WD02_72250_date_time_minus_1', 'WD07_72250_date_time_minus_1', 'WD08_72250_date_time_minus_1', 'PP01_72250_date_time_minus_1', 'SS01_72250_date_time_minus_1', 'GR01_72250_date_time_minus_1', 'TS01_72250_date_time_minus_1', 'TS02_72250_date_time_minus_1', 'TS03_72250_date_time_minus_1', 'TS04_72250_date_time_minus_1', 'TS06_72250_date_time_minus_1', 'TS07_72250_date_time_minus_1', 'PS01_100_date_time_minus_1', 'TX01_100_date_time_minus_1', 'RH01_100_date_time_minus_1', 'WD01_100_date_time_minus_1', 'WD02_100_date_time_minus_1', 'WD07_100_date_time_minus_1', 'WD08_100_date_time_minus_1', 'PP01_100_date_time_minus_1', 'yyyymmddhh_date_minus_1_time', 'PS01_466990_date_minus_1_time', 'PS02_466990_date_minus_1_time', 'TX01_466990_date_minus_1_time', 'TD01_466990_date_minus_1_time', 'RH01_466990_date_minus_1_time', 'WD01_466990_date_minus_1_time', 'WD02_466990_date_minus_1_time', 'WD07_466990_date_minus_1_time', 'WD08_466990_date_minus_1_time', 'PP01_466990_date_minus_1_time', 'PP02_466990_date_minus_1_time', 'SS01_466990_date_minus_1_time', 'GR01_466990_date_minus_1_time', 'UV01_466990_date_minus_1_time', 'Date_date_minus_1_time', 'PS01_72250_date_minus_1_time', 'PS02_72250_date_minus_1_time', 'TX01_72250_date_minus_1_time', 'TD01_72250_date_minus_1_time', 'RH01_72250_date_minus_1_time', 'WD01_72250_date_minus_1_time', 'WD02_72250_date_minus_1_time', 'WD07_72250_date_minus_1_time', 'WD08_72250_date_minus_1_time', 'PP01_72250_date_minus_1_time', 'SS01_72250_date_minus_1_time', 'GR01_72250_date_minus_1_time', 'TS01_72250_date_minus_1_time', 'TS02_72250_date_minus_1_time', 'TS03_72250_date_minus_1_time', 'TS04_72250_date_minus_1_time', 'TS06_72250_date_minus_1_time', 'TS07_72250_date_minus_1_time', 'PS01_100_date_minus_1_time', 'TX01_100_date_minus_1_time', 'RH01_100_date_minus_1_time', 'WD01_100_date_minus_1_time', 'WD02_100_date_minus_1_time', 'WD07_100_date_minus_1_time', 'WD08_100_date_minus_1_time', 'PP01_100_date_minus_1_time', 'nearby', 'Lat', 'Lon', 'Month_1', 'Month_2', 'Month_3', 'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8', 'Month_9', 'Month_10', 'Season_Autumn', 'Season_Spring', 'Season_Summer', 'Season_Winter', 'direction_南', 'direction_東', 'direction_東南', 'direction_西', 'direction_西北', 'direction_西南', 'floor_1', 'floor_3', 'floor_5', 'LocationCode_1', 'LocationCode_2', 'LocationCode_3', 'LocationCode_4', 'LocationCode_5', 'LocationCode_6', 'LocationCode_7', 'LocationCode_8', 'LocationCode_9', 'LocationCode_10', 'LocationCode_11', 'LocationCode_12', 'LocationCode_13', 'LocationCode_14', 'LocationCode_15', 'LocationCode_16', 'LocationCode_17']
(2801, 221)
['Date', 'Time', 'Power_1', 'Power_2', 'Power_3', 'Power_4', 'Power_5', 'Power_6', 'yyyymmddhh', 'PS01_466990', 'PS02_466990', 'TX01_466990', 'TD01_466990', 'RH01_466990', 'WD01_466990', 'WD02_466990', 'WD07_466990', 'WD08_466990', 'PP01_466990', 'PP02_466990', 'SS01_466990', 'GR01_466990', 'UV01_466990', 'PS01_72250', 'PS02_72250', 'TX01_72250', 'TD01_72250', 'RH01_72250', 'WD01_72250', 'WD02_72250', 'WD07_72250', 'WD08_72250', 'PP01_72250', 'SS01_72250', 'GR01_72250', 'TS01_72250', 'TS02_72250', 'TS03_72250', 'TS04_72250', 'TS06_72250', 'TS07_72250', 'PS01_100', 'TX01_100', 'RH01_100', 'WD01_100', 'WD02_100', 'WD07_100', 'WD08_100', 'PP01_100', 'Time_plus_1', 'Time_minus_1', 'Date_minus_1', 'yyyymmddhh_date_time_plus_1', 'PS01_466990_date_time_plus_1', 'PS02_466990_date_time_plus_1', 'TX01_466990_date_time_plus_1', 'TD01_466990_date_time_plus_1', 'RH01_466990_date_time_plus_1', 'WD01_466990_date_time_plus_1', 'WD02_466990_date_time_plus_1', 'WD07_466990_date_time_plus_1', 'WD08_466990_date_time_plus_1', 'PP01_466990_date_time_plus_1', 'PP02_466990_date_time_plus_1', 'SS01_466990_date_time_plus_1', 'GR01_466990_date_time_plus_1', 'UV01_466990_date_time_plus_1', 'Time_date_time_plus_1', 'PS01_72250_date_time_plus_1', 'PS02_72250_date_time_plus_1', 'TX01_72250_date_time_plus_1', 'TD01_72250_date_time_plus_1', 'RH01_72250_date_time_plus_1', 'WD01_72250_date_time_plus_1', 'WD02_72250_date_time_plus_1', 'WD07_72250_date_time_plus_1', 'WD08_72250_date_time_plus_1', 'PP01_72250_date_time_plus_1', 'SS01_72250_date_time_plus_1', 'GR01_72250_date_time_plus_1', 'TS01_72250_date_time_plus_1', 'TS02_72250_date_time_plus_1', 'TS03_72250_date_time_plus_1', 'TS04_72250_date_time_plus_1', 'TS06_72250_date_time_plus_1', 'TS07_72250_date_time_plus_1', 'PS01_100_date_time_plus_1', 'TX01_100_date_time_plus_1', 'RH01_100_date_time_plus_1', 'WD01_100_date_time_plus_1', 'WD02_100_date_time_plus_1', 'WD07_100_date_time_plus_1', 'WD08_100_date_time_plus_1', 'PP01_100_date_time_plus_1', 'yyyymmddhh_date_time_minus_1', 'PS01_466990_date_time_minus_1', 'PS02_466990_date_time_minus_1', 'TX01_466990_date_time_minus_1', 'TD01_466990_date_time_minus_1', 'RH01_466990_date_time_minus_1', 'WD01_466990_date_time_minus_1', 'WD02_466990_date_time_minus_1', 'WD07_466990_date_time_minus_1', 'WD08_466990_date_time_minus_1', 'PP01_466990_date_time_minus_1', 'PP02_466990_date_time_minus_1', 'SS01_466990_date_time_minus_1', 'GR01_466990_date_time_minus_1', 'UV01_466990_date_time_minus_1', 'Time_date_time_minus_1', 'PS01_72250_date_time_minus_1', 'PS02_72250_date_time_minus_1', 'TX01_72250_date_time_minus_1', 'TD01_72250_date_time_minus_1', 'RH01_72250_date_time_minus_1', 'WD01_72250_date_time_minus_1', 'WD02_72250_date_time_minus_1', 'WD07_72250_date_time_minus_1', 'WD08_72250_date_time_minus_1', 'PP01_72250_date_time_minus_1', 'SS01_72250_date_time_minus_1', 'GR01_72250_date_time_minus_1', 'TS01_72250_date_time_minus_1', 'TS02_72250_date_time_minus_1', 'TS03_72250_date_time_minus_1', 'TS04_72250_date_time_minus_1', 'TS06_72250_date_time_minus_1', 'TS07_72250_date_time_minus_1', 'PS01_100_date_time_minus_1', 'TX01_100_date_time_minus_1', 'RH01_100_date_time_minus_1', 'WD01_100_date_time_minus_1', 'WD02_100_date_time_minus_1', 'WD07_100_date_time_minus_1', 'WD08_100_date_time_minus_1', 'PP01_100_date_time_minus_1', 'yyyymmddhh_date_minus_1_time', 'PS01_466990_date_minus_1_time', 'PS02_466990_date_minus_1_time', 'TX01_466990_date_minus_1_time', 'TD01_466990_date_minus_1_time', 'RH01_466990_date_minus_1_time', 'WD01_466990_date_minus_1_time', 'WD02_466990_date_minus_1_time', 'WD07_466990_date_minus_1_time', 'WD08_466990_date_minus_1_time', 'PP01_466990_date_minus_1_time', 'PP02_466990_date_minus_1_time', 'SS01_466990_date_minus_1_time', 'GR01_466990_date_minus_1_time', 'UV01_466990_date_minus_1_time', 'Date_date_minus_1_time', 'PS01_72250_date_minus_1_time', 'PS02_72250_date_minus_1_time', 'TX01_72250_date_minus_1_time', 'TD01_72250_date_minus_1_time', 'RH01_72250_date_minus_1_time', 'WD01_72250_date_minus_1_time', 'WD02_72250_date_minus_1_time', 'WD07_72250_date_minus_1_time', 'WD08_72250_date_minus_1_time', 'PP01_72250_date_minus_1_time', 'SS01_72250_date_minus_1_time', 'GR01_72250_date_minus_1_time', 'TS01_72250_date_minus_1_time', 'TS02_72250_date_minus_1_time', 'TS03_72250_date_minus_1_time', 'TS04_72250_date_minus_1_time', 'TS06_72250_date_minus_1_time', 'TS07_72250_date_minus_1_time', 'PS01_100_date_minus_1_time', 'TX01_100_date_minus_1_time', 'RH01_100_date_minus_1_time', 'WD01_100_date_minus_1_time', 'WD02_100_date_minus_1_time', 'WD07_100_date_minus_1_time', 'WD08_100_date_minus_1_time', 'PP01_100_date_minus_1_time', 'nearby', 'Lat', 'Lon', 'Month_1', 'Month_2', 'Month_3', 'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8', 'Month_9', 'Month_10', 'Season_Autumn', 'Season_Spring', 'Season_Summer', 'Season_Winter', 'direction_南', 'direction_東', 'direction_東南', 'direction_西', 'direction_西北', 'direction_西南', 'floor_1', 'floor_3', 'floor_5', 'LocationCode_1', 'LocationCode_2', 'LocationCode_3', 'LocationCode_4', 'LocationCode_5', 'LocationCode_6', 'LocationCode_7', 'LocationCode_8', 'LocationCode_9', 'LocationCode_10', 'LocationCode_11', 'LocationCode_12', 'LocationCode_13', 'LocationCode_14', 'LocationCode_15', 'LocationCode_16', 'LocationCode_17']
(11657, 221)

In [72]:
#存檔
data_after.to_csv('./data/preprocess_data/oneday_weather_6timestep/data_after_6power.csv', index=False)
data_after_test.to_csv('./data/preprocess_data/oneday_weather_6timestep/data_after_test_6power.csv', index=False)
data_after_72250.to_csv('./data/preprocess_data/oneday_weather_6timestep/data_after_72250_6power.csv', index=False)
data_after_72250_test.to_csv('./data/preprocess_data/oneday_weather_6timestep/data_after_72250_test_6power.csv', index=False)

data_after_1.to_csv('./data/preprocess_data/oneday_weather_6timestep/data_after_1_6power.csv', index=False)
data_after_test_1.to_csv('./data/preprocess_data/oneday_weather_6timestep/data_after_test_1_6power.csv', index=False)
data_after_72250_1.to_csv('./data/preprocess_data/oneday_weather_6timestep/data_after_72250_1_6power.csv', index=False)
data_after_72250_test_1.to_csv('./data/preprocess_data/oneday_weather_6timestep/data_after_72250_test_1_6power.csv', index=False)

data_after : 完整466990資料，未刪除72250資料有缺失值的row

data_after_test : 完整466990資料，未刪除72250資料有缺失值的row

data_after_72250 : 刪除72250資料有缺失值的row

data_after_72250_test : 刪除72250資料有缺失值的row


data_after_1 : 完整466990資料，未刪除72250資料有缺失值的row，並將LocationCode做one-hot encoding

data_after_test_1 : 完整466990資料，未刪除72250資料有缺失值的row，並將LocationCode做one-hot encoding

data_after_72250_1 : 刪除72250資料有缺失值的row，並將LocationCode做one-hot encoding

data_after_72250_test_1 : 除72250資料有缺失值的row，並將LocationCode做one-hot encoding