In [12]:
import numpy as np
import pandas as pd

In [13]:

lotsDataReports01 = pd.read_csv('./data/466990-20241125T141319Z-001/466990/lotsDataReports01.csv')
lotsDataReports02 = pd.read_csv('./data/466990-20241125T141319Z-001/466990/lotsDataReports02.csv')
lotsDataReports03 = pd.read_csv('./data/466990-20241125T141319Z-001/466990/lotsDataReports03.csv')
lotsDataReports04 = pd.read_csv('./data/466990-20241125T141319Z-001/466990/lotsDataReports04.csv')
lotsDataReports05 = pd.read_csv('./data/466990-20241125T141319Z-001/466990/lotsDataReports05.csv')
lotsDataReports06 = pd.read_csv('./data/466990-20241125T141319Z-001/466990/lotsDataReports06.csv')
lotsDataReports07 = pd.read_csv('./data/466990-20241125T141319Z-001/466990/lotsDataReports07.csv')
lotsDataReports08 = pd.read_csv('./data/466990-20241125T141319Z-001/466990/lotsDataReports08.csv')
lotsDataReports09 = pd.read_csv('./data/466990-20241125T141319Z-001/466990/lotsDataReports09.csv')
lotsDataReports10 = pd.read_csv('./data/466990-20241125T141319Z-001/466990/lotsDataReports10.csv')

lotsDataReports_466990 = pd.concat([lotsDataReports01, lotsDataReports02, lotsDataReports03, lotsDataReports04, lotsDataReports05, lotsDataReports06, lotsDataReports07, lotsDataReports08, lotsDataReports09, lotsDataReports10], axis=0)

In [14]:
#把lotsDataReports中object欄位轉換成float64，並且把None轉換成缺失值
lotsDataReports_466990 = lotsDataReports_466990.apply(pd.to_numeric, errors='coerce')

lotsDataReports_466990['stno'] = 466990

#把stno欄位移至第一欄
cols = list(lotsDataReports_466990)
cols.insert(0, cols.pop(cols.index('stno')))
lotsDataReports_466990 = lotsDataReports_466990.loc[:, cols]

#刪除第二欄
lotsDataReports_466990 = lotsDataReports_466990.drop(lotsDataReports_466990.columns[1], axis=1)

In [15]:
#新創一欄位"Date"，值為yyyymmddhh欄位前8碼
lotsDataReports_466990['Date'] = lotsDataReports_466990[' yyyymmddhh'].astype(str).str[:8]

#新創一欄位"Time"，值為yyyymmddhh欄位後2碼
lotsDataReports_466990['Time'] = lotsDataReports_466990[' yyyymmddhh'].astype(str).str[8:]

#刪除"Time"為01、02、03、04、05、06、17、18、19、20、21、22、23、24的資料
lotsDataReports_466990 = lotsDataReports_466990[~lotsDataReports_466990['Time'].isin(['01', '02', '03', '04', '05', '06', '17', '18', '19', '20', '21', '22', '23', '24'])]

lotsDataReports_466990.head(3)

,stno,yyyymmddhh,PS01,PS02,TX01,TD01,RH01,WD01,WD02,WD07,...,CD11,TS01,TS02,TS03,TS04,TS05,TS06,TS07,Date,Time
6,466990,2024010107,1020.7,1023.0,18.8,11.9,64,5.6,50.0,11.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20240101,07
7,466990,2024010108,1021.4,1023.7,18.7,12.2,66,6.6,40.0,12.0,...,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20240101,08
8,466990,2024010109,1021.9,1024.2,18.8,11.9,64,6.1,40.0,12.7,...,10.0,17.6,18.2,18.8,19.3,20.5,21.4,22.5,20240101,09

In [16]:
# 計算每個欄位中出現nan的比例
lotsDataReports_466990_nan = lotsDataReports_466990.isnull().mean()
lotsDataReports_466990_nan

stno           0.0
 yyyymmddhh    0.0
     PS01      0.0
     PS02      0.0
     TX01      0.0
     TD01      0.0
     RH01      0.0
     WD01      0.0
     WD02      0.0
     WD07      0.0
     WD08      0.0
     PP01      0.0
     PP02      0.0
     SS01      0.0
     GR01      0.0
     VS01      0.6
     UV01      0.0
     CD11      0.6
     TS01      0.8
     TS02      0.8
     TS03      0.8
     TS04      0.8
     TS05      0.8
     TS06      0.8
     TS07      0.8
Date           0.0
Time           0.0
dtype: float64

In [17]:
#刪除lotsDataReports_466990_nan中nan比例大於0.5的欄位
lotsDataReports_466990 = lotsDataReports_466990.drop(lotsDataReports_466990_nan[lotsDataReports_466990_nan > 0.5].index, axis=1)
lotsDataReports_466990.head(3)

,stno,yyyymmddhh,PS01,PS02,TX01,TD01,RH01,WD01,WD02,WD07,WD08,PP01,PP02,SS01,GR01,UV01,Date,Time
6,466990,2024010107,1020.7,1023.0,18.8,11.9,64,5.6,50.0,11.4,80.0,0.0,0.0,0.0,0.01,0.00,20240101,07
7,466990,2024010108,1021.4,1023.7,18.7,12.2,66,6.6,40.0,12.0,50.0,0.0,0.0,0.0,0.07,0.07,20240101,08
8,466990,2024010109,1021.9,1024.2,18.8,11.9,64,6.1,40.0,12.7,50.0,0.0,0.0,0.0,0.19,0.35,20240101,09

In [19]:
lotsDataReports_466990.columns

#把lotsDataReports_466990欄位名稱改為'stno','yyyymmddhh','PS01_466990','PS02_466990','TX01_466990','TD01_466990','RH01_466990','WD01_466990','WD02_466990','WD07_466990','WD08_466990','PP01_466990','PP02_466990','SS01_466990','GR01_466990','UV01_466990','Date','Time'
lotsDataReports_466990.columns = ['stno','yyyymmddhh','PS01_466990','PS02_466990','TX01_466990','TD01_466990','RH01_466990','WD01_466990','WD02_466990','WD07_466990','WD08_466990','PP01_466990','PP02_466990','SS01_466990','GR01_466990','UV01_466990','Date','Time']
lotsDataReports_466990.columns

Index(['stno', 'yyyymmddhh', 'PS01_466990', 'PS02_466990', 'TX01_466990',
       'TD01_466990', 'RH01_466990', 'WD01_466990', 'WD02_466990',
       'WD07_466990', 'WD08_466990', 'PP01_466990', 'PP02_466990',
       'SS01_466990', 'GR01_466990', 'UV01_466990', 'Date', 'Time'],
      dtype='object')

In [20]:

lotsDataReports01 = pd.read_csv('./data/72T250/lotsDataReports01.csv')
lotsDataReports02 = pd.read_csv('./data/72T250/lotsDataReports02.csv')
lotsDataReports03 = pd.read_csv('./data/72T250/lotsDataReports03.csv')
lotsDataReports04 = pd.read_csv('./data/72T250/lotsDataReports04.csv')
lotsDataReports05 = pd.read_csv('./data/72T250/lotsDataReports05.csv')
lotsDataReports06 = pd.read_csv('./data/72T250/lotsDataReports06.csv')
lotsDataReports07 = pd.read_csv('./data/72T250/lotsDataReports07.csv')
lotsDataReports08 = pd.read_csv('./data/72T250/lotsDataReports08.csv')
lotsDataReports09 = pd.read_csv('./data/72T250/lotsDataReports09.csv')
lotsDataReports10 = pd.read_csv('./data/72T250/lotsDataReports10.csv')

lotsDataReports_72250 = pd.concat([lotsDataReports01, lotsDataReports02, lotsDataReports03, lotsDataReports04, lotsDataReports05, lotsDataReports06, lotsDataReports07, lotsDataReports08, lotsDataReports09, lotsDataReports10], axis=0)

In [21]:
lotsDataReports_72250 = lotsDataReports_72250.apply(pd.to_numeric, errors='coerce')

#把lotsDataReports_72T250中stno欄位的值用72250取代
lotsDataReports_72250['stno'] = 72250
lotsDataReports_72250

#把stno欄位移至第一欄
cols = list(lotsDataReports_72250)
cols.insert(0, cols.pop(cols.index('stno')))
lotsDataReports_72250 = lotsDataReports_72250.loc[:, cols]

#刪除第二欄
lotsDataReports_72250 = lotsDataReports_72250.drop(lotsDataReports_72250.columns[1], axis=1)

In [22]:
#新創一欄位"Date"，值為yyyymmddhh欄位前8碼
lotsDataReports_72250['Date'] = lotsDataReports_72250[' yyyymmddhh'].astype(str).str[:8]

#新創一欄位"Time"，值為yyyymmddhh欄位後2碼
lotsDataReports_72250['Time'] = lotsDataReports_72250[' yyyymmddhh'].astype(str).str[8:]

#刪除"Time"為01、02、03、04、05、06、17、18、19、20、21、22、23、24的資料
lotsDataReports_72250 = lotsDataReports_72250[~lotsDataReports_72250['Time'].isin(['01', '02', '03', '04', '05', '06', '17', '18', '19', '20', '21', '22', '23', '24'])]

In [23]:
# 計算每個欄位中出現nan的比例
lotsDataReports_72250_nan = lotsDataReports_72250.isnull().mean()

#刪除lotsDataReports_72250_nan中nan比例大於0.2的欄位
lotsDataReports_72250 = lotsDataReports_72250.drop(lotsDataReports_72250_nan[lotsDataReports_72250_nan > 0.2].index, axis=1)

In [24]:
#把lotsDataReports_72250欄位名稱改為'stno','yyyymmddhh','PS01_72250','PS02_72250','TX01_72250','TD01_72250','RH01_72250','WD01_72250','WD02_72250','WD07_72250','WD08_72250','PP01_72250','SS01_72250','GR01_72250','TS01_72250','TS02_72250','TS03_72250','TS04_72250','TS06_72250','TS07_72250','Date','Time'
lotsDataReports_72250.columns = ['stno','yyyymmddhh','PS01_72250','PS02_72250','TX01_72250','TD01_72250','RH01_72250','WD01_72250','WD02_72250','WD07_72250','WD08_72250','PP01_72250','SS01_72250','GR01_72250','TS01_72250','TS02_72250','TS03_72250','TS04_72250','TS06_72250','TS07_72250','Date','Time']
lotsDataReports_72250.columns

Index(['stno', 'yyyymmddhh', 'PS01_72250', 'PS02_72250', 'TX01_72250',
       'TD01_72250', 'RH01_72250', 'WD01_72250', 'WD02_72250', 'WD07_72250',
       'WD08_72250', 'PP01_72250', 'SS01_72250', 'GR01_72250', 'TS01_72250',
       'TS02_72250', 'TS03_72250', 'TS04_72250', 'TS06_72250', 'TS07_72250',
       'Date', 'Time'],
      dtype='object')

In [25]:

lotsDataReports01 = pd.read_csv('./data/C0Z100/lotsDataReports01.csv')
lotsDataReports02 = pd.read_csv('./data/C0Z100/lotsDataReports02.csv')
lotsDataReports03 = pd.read_csv('./data/C0Z100/lotsDataReports03.csv')
lotsDataReports04 = pd.read_csv('./data/C0Z100/lotsDataReports04.csv')
lotsDataReports05 = pd.read_csv('./data/C0Z100/lotsDataReports05.csv')
lotsDataReports06 = pd.read_csv('./data/C0Z100/lotsDataReports06.csv')
lotsDataReports07 = pd.read_csv('./data/C0Z100/lotsDataReports07.csv')
lotsDataReports08 = pd.read_csv('./data/C0Z100/lotsDataReports08.csv')
lotsDataReports09 = pd.read_csv('./data/C0Z100/lotsDataReports09.csv')
lotsDataReports10 = pd.read_csv('./data/C0Z100/lotsDataReports10.csv')

lotsDataReports_100 = pd.concat([lotsDataReports01, lotsDataReports02, lotsDataReports03, lotsDataReports04, lotsDataReports05, lotsDataReports06, lotsDataReports07, lotsDataReports08, lotsDataReports09, lotsDataReports10], axis=0)

In [26]:
lotsDataReports_100  = lotsDataReports_100 .apply(pd.to_numeric, errors='coerce')

lotsDataReports_100 ['stno'] = 100

#把stno欄位移至第一欄
cols = list(lotsDataReports_100 )
cols.insert(0, cols.pop(cols.index('stno')))
lotsDataReports_100  = lotsDataReports_100 .loc[:, cols]

#刪除第二欄
lotsDataReports_100  = lotsDataReports_100 .drop(lotsDataReports_100 .columns[1], axis=1)

In [27]:
#新創一欄位"Date"，值為yyyymmddhh欄位前8碼
lotsDataReports_100 ['Date'] = lotsDataReports_100 [' yyyymmddhh'].astype(str).str[:8]

#新創一欄位"Time"，值為yyyymmddhh欄位後2碼
lotsDataReports_100 ['Time'] = lotsDataReports_100 [' yyyymmddhh'].astype(str).str[8:]

#刪除"Time"為01、02、03、04、05、06、17、18、19、20、21、22、23、24的資料
lotsDataReports_100  = lotsDataReports_100 [~lotsDataReports_100 ['Time'].isin(['01', '02', '03', '04', '05', '06', '17', '18', '19', '20', '21', '22', '23', '24'])]

In [28]:
# 計算每個欄位中出現nan的比例
lotsDataReports_100_nan = lotsDataReports_100.isnull().mean()

In [29]:
#列出lotsDataReports_100, lotsDataReports_72250, lotsDataReports_466990的欄位
print('lotsDataReports_100.columns:', lotsDataReports_100.columns)
print('lotsDataReports_72250.columns:', lotsDataReports_72250.columns)
print('lotsDataReports_466990.columns:', lotsDataReports_466990.columns)

lotsDataReports_100.columns: Index(['stno', ' yyyymmddhh', '     PS01', '     TX01', '     RH01',
       '     WD01', '     WD02', '     WD07', '     WD08', '     PP01', 'Date',
       'Time'],
      dtype='object')
lotsDataReports_72250.columns: Index(['stno', 'yyyymmddhh', 'PS01_72250', 'PS02_72250', 'TX01_72250',
       'TD01_72250', 'RH01_72250', 'WD01_72250', 'WD02_72250', 'WD07_72250',
       'WD08_72250', 'PP01_72250', 'SS01_72250', 'GR01_72250', 'TS01_72250',
       'TS02_72250', 'TS03_72250', 'TS04_72250', 'TS06_72250', 'TS07_72250',
       'Date', 'Time'],
      dtype='object')
lotsDataReports_466990.columns: Index(['stno', 'yyyymmddhh', 'PS01_466990', 'PS02_466990', 'TX01_466990',
       'TD01_466990', 'RH01_466990', 'WD01_466990', 'WD02_466990',
       'WD07_466990', 'WD08_466990', 'PP01_466990', 'PP02_466990',
       'SS01_466990', 'GR01_466990', 'UV01_466990', 'Date', 'Time'],
      dtype='object')

先使用lotsDataReports_72250和lotsDataReports_466990

In [30]:
#將lotsDataReports_466990和lotsDataReports_72250合併，依照'Date', 'Time'
lotsDataReports = pd.merge(lotsDataReports_466990, lotsDataReports_72250, on=['yyyymmddhh', 'Date', 'Time'], how='outer')

#刪除lotsDataReports中stno_x和stno_y欄位
lotsDataReports = lotsDataReports.drop(['stno_x', 'stno_y'], axis=1)
lotsDataReports

,yyyymmddhh,PS01_466990,PS02_466990,TX01_466990,TD01_466990,RH01_466990,WD01_466990,WD02_466990,WD07_466990,WD08_466990,...,WD08_72250,PP01_72250,SS01_72250,GR01_72250,TS01_72250,TS02_72250,TS03_72250,TS04_72250,TS06_72250,TS07_72250
0,2024010107,1020.7,1023.0,18.8,11.9,64,5.6,50.0,11.4,80.0,...,10.0,0.0,0.0,0.00,15.9,16.2,17.6,18.6,19.9,20.7
1,2024010108,1021.4,1023.7,18.7,12.2,66,6.6,40.0,12.0,50.0,...,120.0,0.0,0.0,0.04,16.1,16.4,17.7,18.5,19.8,20.7
2,2024010109,1021.9,1024.2,18.8,11.9,64,6.1,40.0,12.7,50.0,...,310.0,0.0,0.0,0.08,16.0,16.3,17.7,18.5,19.8,20.7
3,2024010110,1021.9,1024.2,19.2,12.3,64,6.0,40.0,12.0,40.0,...,80.0,0.0,0.0,0.19,16.5,16.5,17.8,18.5,19.8,20.7
4,2024010111,1021.5,1023.8,19.2,12.0,63,5.1,40.0,11.9,40.0,...,20.0,0.0,0.0,0.26,17.2,16.8,17.8,18.5,19.8,20.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3045,2024103112,993.7,995.9,25.1,23.7,92,13.4,70.0,24.4,70.0,...,30.0,22.0,0.0,0.05,23.2,23.0,24.1,24.5,25.2,26.3
3046,2024103113,991.0,993.2,25.6,24.2,92,14.0,80.0,25.0,80.0,...,50.0,7.0,0.0,0.04,23.5,23.2,24.0,24.4,25.2,26.2
3047,2024103114,989.5,991.7,25.9,24.7,93,19.0,110.0,30.7,90.0,...,120.0,13.5,0.0,0.04,24.0,23.6,24.1,24.3,25.2,26.2
3048,2024103115,989.1,991.3,25.6,24.4,93,23.0,130.0,35.0,120.0,...,120.0,8.5,0.0,0.03,24.0,23.7,24.2,24.3,25.2,26.2
3049,2024103116,989.7,991.9,26.0,25.0,94,15.1,130.0,32.1,140.0,...,110.0,7.5,0.0,0.01,24.2,23.8,24.3,24.3,25.2,26.2

In [31]:
lotsDataReports['Date'] = pd.to_datetime(lotsDataReports['Date'])

In [32]:
#列出lotsDataReports的所有欄位(tolist)
lotsDataReports.columns.tolist()
print(lotsDataReports.columns.tolist())

['yyyymmddhh', 'PS01_466990', 'PS02_466990', 'TX01_466990', 'TD01_466990', 'RH01_466990', 'WD01_466990', 'WD02_466990', 'WD07_466990', 'WD08_466990', 'PP01_466990', 'PP02_466990', 'SS01_466990', 'GR01_466990', 'UV01_466990', 'Date', 'Time', 'PS01_72250', 'PS02_72250', 'TX01_72250', 'TD01_72250', 'RH01_72250', 'WD01_72250', 'WD02_72250', 'WD07_72250', 'WD08_72250', 'PP01_72250', 'SS01_72250', 'GR01_72250', 'TS01_72250', 'TS02_72250', 'TS03_72250', 'TS04_72250', 'TS06_72250', 'TS07_72250']

In [33]:
#列出lotsDataReports中有缺失值的row
lotsDataReports[lotsDataReports.isnull().any(axis=1)]

,yyyymmddhh,PS01_466990,PS02_466990,TX01_466990,TD01_466990,RH01_466990,WD01_466990,WD02_466990,WD07_466990,WD08_466990,...,WD08_72250,PP01_72250,SS01_72250,GR01_72250,TS01_72250,TS02_72250,TS03_72250,TS04_72250,TS06_72250,TS07_72250
12,2024010209,1019.0,1021.3,19.1,13.7,71,2.6,240.0,4.9,240.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
753,2024031610,1018.6,1020.8,24.3,17.1,64,2.0,180.0,4.1,220.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
754,2024031611,1018.0,1020.2,24.9,18.6,68,2.0,140.0,4.0,170.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755,2024031612,1017.3,1019.5,25.0,18.9,69,2.7,150.0,4.6,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
979,2024040716,1008.7,1010.9,26.3,22.2,78,3.2,50.0,8.7,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1079,2024041716,1004.1,1006.3,28.8,25.2,81,3.4,110.0,9.2,170.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1753,2024062410,1007.3,1009.5,31.5,27.2,78,6.1,170.0,8.5,180.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1782,2024062709,1011.9,1014.1,30.5,24.9,72,3.0,160.0,5.8,190.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1877,2024070614,1007.8,1010.0,32.1,27.3,76,6.1,170.0,10.3,170.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2109,2024072916,1004.6,1006.8,25.4,23.8,91,2.0,30.0,9.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
#歸一化
name=""
# name="_maxmin"

In [36]:

final_result = pd.read_csv(f'./data/preprocess_data/TimeMinGroupData{name}.csv')
final_result_1 = final_result.copy()
final_result_1

,LocationCode,Date,TimeMinGroup,Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW)
0,1,2024-01-01,07:00,1016.730,17.50,86.99,470.834,0.083
1,1,2024-01-01,07:10,1016.774,17.57,86.97,659.667,0.139
2,1,2024-01-01,07:20,1016.922,17.63,86.18,889.666,0.247
3,1,2024-01-01,07:30,1016.992,17.74,85.41,1263.833,0.447
4,1,2024-01-01,07:40,1017.094,17.90,85.41,2136.833,1.129
...,...,...,...,...,...,...,...,...
124915,17,2024-07-12,16:10,NaN,NaN,NaN,NaN,NaN
124916,17,2024-07-12,16:20,NaN,NaN,NaN,NaN,NaN
124917,17,2024-07-12,16:30,NaN,NaN,NaN,NaN,NaN
124918,17,2024-07-12,16:40,NaN,NaN,NaN,NaN,NaN
124919,17,2024-07-12,16:50,NaN,NaN,NaN,NaN,NaN

In [37]:
#列出final_result_1中有缺失值的row，取叫filtered_result
filtered_result = final_result_1[final_result_1.isnull().any(axis=1)]
filtered_result

,LocationCode,Date,TimeMinGroup,Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW)
312,1,2024-01-06,09:00,NaN,NaN,NaN,NaN,NaN
313,1,2024-01-06,09:10,NaN,NaN,NaN,NaN,NaN
314,1,2024-01-06,09:20,NaN,NaN,NaN,NaN,NaN
315,1,2024-01-06,09:30,NaN,NaN,NaN,NaN,NaN
316,1,2024-01-06,09:40,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
124915,17,2024-07-12,16:10,NaN,NaN,NaN,NaN,NaN
124916,17,2024-07-12,16:20,NaN,NaN,NaN,NaN,NaN
124917,17,2024-07-12,16:30,NaN,NaN,NaN,NaN,NaN
124918,17,2024-07-12,16:40,NaN,NaN,NaN,NaN,NaN
124919,17,2024-07-12,16:50,NaN,NaN,NaN,NaN,NaN

In [38]:
#將final_result_1中有缺失值的row刪除
final_result_1 = final_result_1.dropna()
final_result_1

,LocationCode,Date,TimeMinGroup,Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW)
0,1,2024-01-01,07:00,1016.730,17.50,86.99,470.834,0.083
1,1,2024-01-01,07:10,1016.774,17.57,86.97,659.667,0.139
2,1,2024-01-01,07:20,1016.922,17.63,86.18,889.666,0.247
3,1,2024-01-01,07:30,1016.992,17.74,85.41,1263.833,0.447
4,1,2024-01-01,07:40,1017.094,17.90,85.41,2136.833,1.129
...,...,...,...,...,...,...,...,...
124907,17,2024-07-12,14:50,1004.010,36.58,64.56,11530.249,29.948
124908,17,2024-07-12,15:00,1003.978,36.33,63.15,11156.418,28.025
124909,17,2024-07-12,15:10,1004.064,36.11,65.83,13226.666,41.568
124910,17,2024-07-12,15:20,1004.078,36.39,65.17,12541.167,36.892
124911,17,2024-07-12,15:30,1004.070,36.40,64.90,12288.330,34.870

In [39]:
filtered_result_11 = filtered_result.copy()

# #創新欄位"07:00_1_Power(mW)_mean"，值為07:00_1_Power(mW)、07:10_1_Power(mW)、07:20_1_Power(mW)、07:30_1_Power(mW)、07:40_1_Power(mW)、07:50_1_Power(mW)的平均值
# final_result_1['07:00_1_Power(mW)_mean'] = data[['07:00_1_Power(mW)', '07:10_1_Power(mW)', '07:20_1_Power(mW)', '07:30_1_Power(mW)', '07:40_1_Power(mW)', '07:50_1_Power(mW)']].mean(axis=1)
# data['08:00_1_Power(mW)_mean'] = data[['08:00_1_Power(mW)', '08:10_1_Power(mW)', '08:20_1_Power(mW)', '08:30_1_Power(mW)', '08:40_1_Power(mW)', '08:50_1_Power(mW)']].mean(axis=1)
# data['09:00_1_Power(mW)_mean'] = data[['09:00_1_Power(mW)', '09:10_1_Power(mW)', '09:20_1_Power(mW)', '09:30_1_Power(mW)', '09:40_1_Power(mW)', '09:50_1_Power(mW)']].mean(axis=1)
# data['10:00_1_Power(mW)_mean'] = data[['10:00_1_Power(mW)', '10:10_1_Power(mW)', '10:20_1_Power(mW)', '10:30_1_Power(mW)', '10:40_1_Power(mW)', '10:50_1_Power(mW)']].mean(axis=1)
# data['11:00_1_Power(mW)_mean'] = data[['11:00_1_Power(mW)', '11:10_1_Power(mW)', '11:20_1_Power(mW)', '11:30_1_Power(mW)', '11:40_1_Power(mW)', '11:50_1_Power(mW)']].mean(axis=1)
# data['12:00_1_Power(mW)_mean'] = data[['12:00_1_Power(mW)', '12:10_1_Power(mW)', '12:20_1_Power(mW)', '12:30_1_Power(mW)', '12:40_1_Power(mW)', '12:50_1_Power(mW)']].mean(axis=1)
# data['13:00_1_Power(mW)_mean'] = data[['13:00_1_Power(mW)', '13:10_1_Power(mW)', '13:20_1_Power(mW)', '13:30_1_Power(mW)', '13:40_1_Power(mW)', '13:50_1_Power(mW)']].mean(axis=1)
# data['14:00_1_Power(mW)_mean'] = data[['14:00_1_Power(mW)', '14:10_1_Power(mW)', '14:20_1_Power(mW)', '14:30_1_Power(mW)', '14:40_1_Power(mW)', '14:50_1_Power(mW)']].mean(axis=1)
# data['15:00_1_Power(mW)_mean'] = data[['15:00_1_Power(mW)', '15:10_1_Power(mW)', '15:20_1_Power(mW)', '15:30_1_Power(mW)', '15:40_1_Power(mW)', '15:50_1_Power(mW)']].mean(axis=1)
# data['16:00_1_Power(mW)_mean'] = data[['16:00_1_Power(mW)', '16:10_1_Power(mW)', '16:20_1_Power(mW)', '16:30_1_Power(mW)', '16:40_1_Power(mW)', '16:50_1_Power(mW)']].mean(axis=1)
# data['07:00_2_Power(mW)_mean'] = data[['07:00_2_Power(mW)', '07:10_2_Power(mW)', '07:20_2_Power(mW)', '07:30_2_Power(mW)', '07:40_2_Power(mW)', '07:50_2_Power(mW)']].mean(axis=1)
# data['08:00_2_Power(mW)_mean'] = data[['08:00_2_Power(mW)', '08:10_2_Power(mW)', '08:20_2_Power(mW)', '08:30_2_Power(mW)', '08:40_2_Power(mW)', '08:50_2_Power(mW)']].mean(axis=1)
# data['07:00_08:00_2_Power(mW)_mean'] = data[['07:00_2_Power(mW)', '07:10_2_Power(mW)', '07:20_2_Power(mW)', '07:30_2_Power(mW)', '07:40_2_Power(mW)', '07:50_2_Power(mW)', '08:00_2_Power(mW)', '08:10_2_Power(mW)', '08:20_2_Power(mW)', '08:30_2_Power(mW)', '08:40_2_Power(mW)', '08:50_2_Power(mW)']].mean(axis=1)

filtered_result_11['Date'] = pd.to_datetime(filtered_result_11['Date'])
filtered_result_11['Month'] = pd.to_datetime(filtered_result_11['Date']).dt.month
#第一組(1)，第二組(2、9)，第三組(3)，第四組(4、5)，第五組(6)、第六組(7)、第八組(8)
#把data['Month']中為2、9的值改為29，為4、5的值改為45
#filtered_result_11['Month'] = filtered_result_11['Month'].apply(lambda x: 29 if x in [2,9] else 45 if x in [4,5] else x)

#創新欄位"Time"，值為TimeMinGroup的前2碼
filtered_result_11['Time'] = filtered_result_11['TimeMinGroup'].astype(str).str[:2]

#創新欄位"Seson"，值為'Date_Day2'的季節，冬天(12,1,2)、春天(3,4,5)、夏天(6,7,8)、秋天(9,10,11)
filtered_result_11['Season'] = filtered_result_11['Month'].apply(lambda x: 'Winter' if x in [12,1,2] else 'Spring' if x in [3,4,5] else 'Summer' if x in [6,7,8] else 'Autumn')

filtered_result_11

,LocationCode,Date,TimeMinGroup,Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW),Month,Time,Season
312,1,2024-01-06,09:00,NaN,NaN,NaN,NaN,NaN,1,09,Winter
313,1,2024-01-06,09:10,NaN,NaN,NaN,NaN,NaN,1,09,Winter
314,1,2024-01-06,09:20,NaN,NaN,NaN,NaN,NaN,1,09,Winter
315,1,2024-01-06,09:30,NaN,NaN,NaN,NaN,NaN,1,09,Winter
316,1,2024-01-06,09:40,NaN,NaN,NaN,NaN,NaN,1,09,Winter
...,...,...,...,...,...,...,...,...,...,...,...
124915,17,2024-07-12,16:10,NaN,NaN,NaN,NaN,NaN,7,16,Summer
124916,17,2024-07-12,16:20,NaN,NaN,NaN,NaN,NaN,7,16,Summer
124917,17,2024-07-12,16:30,NaN,NaN,NaN,NaN,NaN,7,16,Summer
124918,17,2024-07-12,16:40,NaN,NaN,NaN,NaN,NaN,7,16,Summer
124919,17,2024-07-12,16:50,NaN,NaN,NaN,NaN,NaN,7,16,Summer

In [40]:
#將filtered_result_11和lotsDataReports左合併，依照'Date', 'Time'
filtered_result_11 = pd.merge(filtered_result_11, lotsDataReports, on=['Date', 'Time'], how='left')
filtered_result_11

,LocationCode,Date,TimeMinGroup,Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW),Month,Time,...,WD08_72250,PP01_72250,SS01_72250,GR01_72250,TS01_72250,TS02_72250,TS03_72250,TS04_72250,TS06_72250,TS07_72250
0,1,2024-01-06,09:00,NaN,NaN,NaN,NaN,NaN,1,09,...,240.0,0.0,1.0,1.17,18.8,17.1,16.3,16.6,18.8,20.4
1,1,2024-01-06,09:10,NaN,NaN,NaN,NaN,NaN,1,09,...,240.0,0.0,1.0,1.17,18.8,17.1,16.3,16.6,18.8,20.4
2,1,2024-01-06,09:20,NaN,NaN,NaN,NaN,NaN,1,09,...,240.0,0.0,1.0,1.17,18.8,17.1,16.3,16.6,18.8,20.4
3,1,2024-01-06,09:30,NaN,NaN,NaN,NaN,NaN,1,09,...,240.0,0.0,1.0,1.17,18.8,17.1,16.3,16.6,18.8,20.4
4,1,2024-01-06,09:40,NaN,NaN,NaN,NaN,NaN,1,09,...,240.0,0.0,1.0,1.17,18.8,17.1,16.3,16.6,18.8,20.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19754,17,2024-07-12,16:10,NaN,NaN,NaN,NaN,NaN,7,16,...,40.0,0.0,1.0,1.07,31.8,30.7,31.0,30.3,29.2,27.9
19755,17,2024-07-12,16:20,NaN,NaN,NaN,NaN,NaN,7,16,...,40.0,0.0,1.0,1.07,31.8,30.7,31.0,30.3,29.2,27.9
19756,17,2024-07-12,16:30,NaN,NaN,NaN,NaN,NaN,7,16,...,40.0,0.0,1.0,1.07,31.8,30.7,31.0,30.3,29.2,27.9
19757,17,2024-07-12,16:40,NaN,NaN,NaN,NaN,NaN,7,16,...,40.0,0.0,1.0,1.07,31.8,30.7,31.0,30.3,29.2,27.9
19758,17,2024-07-12,16:50,NaN,NaN,NaN,NaN,NaN,7,16,...,40.0,0.0,1.0,1.07,31.8,30.7,31.0,30.3,29.2,27.9

In [41]:
#將filtered_result_11中TimeMinGroup為'07:00','07:10', '07:20', '07:30', '07:40', '07:50', '08:00', '08:10','08:20', '08:30', '08:40', '08:50'的值刪除
filtered_result_11 = filtered_result_11[~filtered_result_11['TimeMinGroup'].isin(['07:00','07:10', '07:20', '07:30', '07:40', '07:50', '08:00', '08:10','08:20', '08:30', '08:40', '08:50'])]
filtered_result_11

,LocationCode,Date,TimeMinGroup,Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW),Month,Time,...,WD08_72250,PP01_72250,SS01_72250,GR01_72250,TS01_72250,TS02_72250,TS03_72250,TS04_72250,TS06_72250,TS07_72250
0,1,2024-01-06,09:00,NaN,NaN,NaN,NaN,NaN,1,09,...,240.0,0.0,1.0,1.17,18.8,17.1,16.3,16.6,18.8,20.4
1,1,2024-01-06,09:10,NaN,NaN,NaN,NaN,NaN,1,09,...,240.0,0.0,1.0,1.17,18.8,17.1,16.3,16.6,18.8,20.4
2,1,2024-01-06,09:20,NaN,NaN,NaN,NaN,NaN,1,09,...,240.0,0.0,1.0,1.17,18.8,17.1,16.3,16.6,18.8,20.4
3,1,2024-01-06,09:30,NaN,NaN,NaN,NaN,NaN,1,09,...,240.0,0.0,1.0,1.17,18.8,17.1,16.3,16.6,18.8,20.4
4,1,2024-01-06,09:40,NaN,NaN,NaN,NaN,NaN,1,09,...,240.0,0.0,1.0,1.17,18.8,17.1,16.3,16.6,18.8,20.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19754,17,2024-07-12,16:10,NaN,NaN,NaN,NaN,NaN,7,16,...,40.0,0.0,1.0,1.07,31.8,30.7,31.0,30.3,29.2,27.9
19755,17,2024-07-12,16:20,NaN,NaN,NaN,NaN,NaN,7,16,...,40.0,0.0,1.0,1.07,31.8,30.7,31.0,30.3,29.2,27.9
19756,17,2024-07-12,16:30,NaN,NaN,NaN,NaN,NaN,7,16,...,40.0,0.0,1.0,1.07,31.8,30.7,31.0,30.3,29.2,27.9
19757,17,2024-07-12,16:40,NaN,NaN,NaN,NaN,NaN,7,16,...,40.0,0.0,1.0,1.07,31.8,30.7,31.0,30.3,29.2,27.9
19758,17,2024-07-12,16:50,NaN,NaN,NaN,NaN,NaN,7,16,...,40.0,0.0,1.0,1.07,31.8,30.7,31.0,30.3,29.2,27.9

合併資料

In [42]:

# 資料整理成字典格式
infor_after = {
    "LocationCode": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17],
    # "地點名稱": [
    #     "頂樓一號", "頂樓二號", "頂樓三號", "頂樓四號", "頂樓五號", "頂樓六號", "頂樓七號",
    #     "D303", "E303", "一樓一號", "一樓二號", "一樓三號", "管理一號", "管理二號", "美崙一號", "美崙二號", "自家倉庫"
    # ],
    "nearby": [0] * 14 + [1,1,1],  # 東華為0，花蓮為1
    "Lat": [
        23.5358, 23.5359, 23.5359, 23.5358, 23.5358, 23.5358, 23.5358, 23.5359, 23.5358,
        23.5358, 23.5359, 23.5359, 23.5352, 23.5352, 24.0033, 24.0032, 23.5352
    ],
    "Lon": [
        121.3240, 121.3241, 121.3242, 121.3240, 121.3241, 121.3240, 121.3240, 121.3242,
        121.3240, 121.3240, 121.3241, 121.3241, 121.3222, 121.3222, 121.3702, 121.3702, 121.3222
    ],
    # "degree": [
    #     181, 175, 180, 161, 208, 208, 172, 219, 151, 223, 131, 298, 249, 197, 127, 82, None
    # ],
    "direction": [
        "南", "南", "南", "南", "西南", "西南", "南", "西南", "東南", "西南", "東南", "西北", "西", "南", "東南", "東", "西"
    ],
    "floor": [
        5, 5, 5, 5, 5, 5, 5, 3, 3, 1, 1, 1, 5, 5, 1, 1, 5
    ]
}

# 將資料轉為 DataFrame
df_after = pd.DataFrame(infor_after)

# 顯示 DataFrame
print(df_after)

    LocationCode  nearby      Lat       Lon direction  floor
0              1       0  23.5358  121.3240         南      5
1              2       0  23.5359  121.3241         南      5
2              3       0  23.5359  121.3242         南      5
3              4       0  23.5358  121.3240         南      5
4              5       0  23.5358  121.3241        西南      5
5              6       0  23.5358  121.3240        西南      5
6              7       0  23.5358  121.3240         南      5
7              8       0  23.5359  121.3242        西南      3
8              9       0  23.5358  121.3240        東南      3
9             10       0  23.5358  121.3240        西南      1
10            11       0  23.5359  121.3241        東南      1
11            12       0  23.5359  121.3241        西北      1
12            13       0  23.5352  121.3222         西      5
13            14       0  23.5352  121.3222         南      5
14            15       1  24.0033  121.3702        東南      1
15            16       1  24.0032  121.3702         東      1
16            17       1  23.5352  121.3222         西      5

In [43]:
final_result_11 = final_result_1.copy()

# #創新欄位"07:00_1_Power(mW)_mean"，值為07:00_1_Power(mW)、07:10_1_Power(mW)、07:20_1_Power(mW)、07:30_1_Power(mW)、07:40_1_Power(mW)、07:50_1_Power(mW)的平均值
# final_result_1['07:00_1_Power(mW)_mean'] = data[['07:00_1_Power(mW)', '07:10_1_Power(mW)', '07:20_1_Power(mW)', '07:30_1_Power(mW)', '07:40_1_Power(mW)', '07:50_1_Power(mW)']].mean(axis=1)
# data['08:00_1_Power(mW)_mean'] = data[['08:00_1_Power(mW)', '08:10_1_Power(mW)', '08:20_1_Power(mW)', '08:30_1_Power(mW)', '08:40_1_Power(mW)', '08:50_1_Power(mW)']].mean(axis=1)
# data['09:00_1_Power(mW)_mean'] = data[['09:00_1_Power(mW)', '09:10_1_Power(mW)', '09:20_1_Power(mW)', '09:30_1_Power(mW)', '09:40_1_Power(mW)', '09:50_1_Power(mW)']].mean(axis=1)
# data['10:00_1_Power(mW)_mean'] = data[['10:00_1_Power(mW)', '10:10_1_Power(mW)', '10:20_1_Power(mW)', '10:30_1_Power(mW)', '10:40_1_Power(mW)', '10:50_1_Power(mW)']].mean(axis=1)
# data['11:00_1_Power(mW)_mean'] = data[['11:00_1_Power(mW)', '11:10_1_Power(mW)', '11:20_1_Power(mW)', '11:30_1_Power(mW)', '11:40_1_Power(mW)', '11:50_1_Power(mW)']].mean(axis=1)
# data['12:00_1_Power(mW)_mean'] = data[['12:00_1_Power(mW)', '12:10_1_Power(mW)', '12:20_1_Power(mW)', '12:30_1_Power(mW)', '12:40_1_Power(mW)', '12:50_1_Power(mW)']].mean(axis=1)
# data['13:00_1_Power(mW)_mean'] = data[['13:00_1_Power(mW)', '13:10_1_Power(mW)', '13:20_1_Power(mW)', '13:30_1_Power(mW)', '13:40_1_Power(mW)', '13:50_1_Power(mW)']].mean(axis=1)
# data['14:00_1_Power(mW)_mean'] = data[['14:00_1_Power(mW)', '14:10_1_Power(mW)', '14:20_1_Power(mW)', '14:30_1_Power(mW)', '14:40_1_Power(mW)', '14:50_1_Power(mW)']].mean(axis=1)
# data['15:00_1_Power(mW)_mean'] = data[['15:00_1_Power(mW)', '15:10_1_Power(mW)', '15:20_1_Power(mW)', '15:30_1_Power(mW)', '15:40_1_Power(mW)', '15:50_1_Power(mW)']].mean(axis=1)
# data['16:00_1_Power(mW)_mean'] = data[['16:00_1_Power(mW)', '16:10_1_Power(mW)', '16:20_1_Power(mW)', '16:30_1_Power(mW)', '16:40_1_Power(mW)', '16:50_1_Power(mW)']].mean(axis=1)
# data['07:00_2_Power(mW)_mean'] = data[['07:00_2_Power(mW)', '07:10_2_Power(mW)', '07:20_2_Power(mW)', '07:30_2_Power(mW)', '07:40_2_Power(mW)', '07:50_2_Power(mW)']].mean(axis=1)
# data['08:00_2_Power(mW)_mean'] = data[['08:00_2_Power(mW)', '08:10_2_Power(mW)', '08:20_2_Power(mW)', '08:30_2_Power(mW)', '08:40_2_Power(mW)', '08:50_2_Power(mW)']].mean(axis=1)
# data['07:00_08:00_2_Power(mW)_mean'] = data[['07:00_2_Power(mW)', '07:10_2_Power(mW)', '07:20_2_Power(mW)', '07:30_2_Power(mW)', '07:40_2_Power(mW)', '07:50_2_Power(mW)', '08:00_2_Power(mW)', '08:10_2_Power(mW)', '08:20_2_Power(mW)', '08:30_2_Power(mW)', '08:40_2_Power(mW)', '08:50_2_Power(mW)']].mean(axis=1)

final_result_11['Date'] = pd.to_datetime(final_result_11['Date'])
final_result_11['Month'] = pd.to_datetime(final_result_11['Date']).dt.month
#第一組(1)，第二組(2、9)，第三組(3)，第四組(4、5)，第五組(6)、第六組(7)、第八組(8)
#把data['Month']中為2、9的值改為29，為4、5的值改為45
#final_result_11['Month'] = final_result_11['Month'].apply(lambda x: 29 if x in [2,9] else 45 if x in [4,5] else x)

#創新欄位"Time"，值為TimeMinGroup的前2碼
final_result_11['Time'] = final_result_11['TimeMinGroup'].astype(str).str[:2]

#創新欄位"Seson"，值為'Date_Day2'的季節，冬天(12,1,2)、春天(3,4,5)、夏天(6,7,8)、秋天(9,10,11)
final_result_11['Season'] = final_result_11['Month'].apply(lambda x: 'Winter' if x in [12,1,2] else 'Spring' if x in [3,4,5] else 'Summer' if x in [6,7,8] else 'Autumn')

final_result_11

,LocationCode,Date,TimeMinGroup,Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW),Month,Time,Season
0,1,2024-01-01,07:00,1016.730,17.50,86.99,470.834,0.083,1,07,Winter
1,1,2024-01-01,07:10,1016.774,17.57,86.97,659.667,0.139,1,07,Winter
2,1,2024-01-01,07:20,1016.922,17.63,86.18,889.666,0.247,1,07,Winter
3,1,2024-01-01,07:30,1016.992,17.74,85.41,1263.833,0.447,1,07,Winter
4,1,2024-01-01,07:40,1017.094,17.90,85.41,2136.833,1.129,1,07,Winter
...,...,...,...,...,...,...,...,...,...,...,...
124907,17,2024-07-12,14:50,1004.010,36.58,64.56,11530.249,29.948,7,14,Summer
124908,17,2024-07-12,15:00,1003.978,36.33,63.15,11156.418,28.025,7,15,Summer
124909,17,2024-07-12,15:10,1004.064,36.11,65.83,13226.666,41.568,7,15,Summer
124910,17,2024-07-12,15:20,1004.078,36.39,65.17,12541.167,36.892,7,15,Summer
124911,17,2024-07-12,15:30,1004.070,36.40,64.90,12288.330,34.870,7,15,Summer

In [44]:
#將final_result_11和lotsDataReports左合併，依照'Date', 'Time'
final_result_11 = pd.merge(final_result_11, lotsDataReports, on=['Date', 'Time'], how='left')
final_result_11

,LocationCode,Date,TimeMinGroup,Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW),Month,Time,...,WD08_72250,PP01_72250,SS01_72250,GR01_72250,TS01_72250,TS02_72250,TS03_72250,TS04_72250,TS06_72250,TS07_72250
0,1,2024-01-01,07:00,1016.730,17.50,86.99,470.834,0.083,1,07,...,10.0,0.0,0.0,0.00,15.9,16.2,17.6,18.6,19.9,20.7
1,1,2024-01-01,07:10,1016.774,17.57,86.97,659.667,0.139,1,07,...,10.0,0.0,0.0,0.00,15.9,16.2,17.6,18.6,19.9,20.7
2,1,2024-01-01,07:20,1016.922,17.63,86.18,889.666,0.247,1,07,...,10.0,0.0,0.0,0.00,15.9,16.2,17.6,18.6,19.9,20.7
3,1,2024-01-01,07:30,1016.992,17.74,85.41,1263.833,0.447,1,07,...,10.0,0.0,0.0,0.00,15.9,16.2,17.6,18.6,19.9,20.7
4,1,2024-01-01,07:40,1017.094,17.90,85.41,2136.833,1.129,1,07,...,10.0,0.0,0.0,0.00,15.9,16.2,17.6,18.6,19.9,20.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105156,17,2024-07-12,14:50,1004.010,36.58,64.56,11530.249,29.948,7,14,...,100.0,0.0,1.0,1.45,32.5,31.2,31.1,30.1,29.2,27.9
105157,17,2024-07-12,15:00,1003.978,36.33,63.15,11156.418,28.025,7,15,...,120.0,0.0,1.0,1.66,32.8,31.3,31.1,30.2,29.2,27.9
105158,17,2024-07-12,15:10,1004.064,36.11,65.83,13226.666,41.568,7,15,...,120.0,0.0,1.0,1.66,32.8,31.3,31.1,30.2,29.2,27.9
105159,17,2024-07-12,15:20,1004.078,36.39,65.17,12541.167,36.892,7,15,...,120.0,0.0,1.0,1.66,32.8,31.3,31.1,30.2,29.2,27.9
105160,17,2024-07-12,15:30,1004.070,36.40,64.90,12288.330,34.870,7,15,...,120.0,0.0,1.0,1.66,32.8,31.3,31.1,30.2,29.2,27.9

In [45]:
#列出final_result_11中有缺失值的row
final_result_11[final_result_11.isnull().any(axis=1)]

,LocationCode,Date,TimeMinGroup,Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW),Month,Time,...,WD08_72250,PP01_72250,SS01_72250,GR01_72250,TS01_72250,TS02_72250,TS03_72250,TS04_72250,TS06_72250,TS07_72250
72,1,2024-01-02,09:00,1014.782000,31.010000,47.780000,70884.743000,1277.553000,1,09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,1,2024-01-02,09:10,1014.696000,32.070000,45.060000,75632.265000,1369.803000,1,09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,1,2024-01-02,09:20,1014.657778,32.711111,41.555556,81495.068889,1462.673333,1,09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,1,2024-01-02,09:30,1014.541000,32.200000,41.670000,89049.711000,1540.396000,1,09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,1,2024-01-02,09:40,1014.441000,32.890000,39.650000,97289.460000,1594.301000,1,09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104348,17,2024-06-24,10:10,1009.315000,51.910000,37.840000,76997.170000,1216.390000,6,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104349,17,2024-06-24,10:20,1009.294000,51.640000,38.170000,78733.490000,1230.044000,6,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104350,17,2024-06-24,10:30,1009.334000,51.260000,38.520000,80190.217000,1243.477000,6,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104351,17,2024-06-24,10:40,1009.311000,51.240000,38.420000,80448.247000,1236.193000,6,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104352,17,2024-06-24,10:50,1009.210000,50.950000,38.820000,80144.038000,1260.685000,6,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
data_after = pd.merge(final_result_11,df_after,on='LocationCode',how='left')
data_after

,LocationCode,Date,TimeMinGroup,Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW),Month,Time,...,TS02_72250,TS03_72250,TS04_72250,TS06_72250,TS07_72250,nearby,Lat,Lon,direction,floor
0,1,2024-01-01,07:00,1016.730,17.50,86.99,470.834,0.083,1,07,...,16.2,17.6,18.6,19.9,20.7,0,23.5358,121.3240,南,5
1,1,2024-01-01,07:10,1016.774,17.57,86.97,659.667,0.139,1,07,...,16.2,17.6,18.6,19.9,20.7,0,23.5358,121.3240,南,5
2,1,2024-01-01,07:20,1016.922,17.63,86.18,889.666,0.247,1,07,...,16.2,17.6,18.6,19.9,20.7,0,23.5358,121.3240,南,5
3,1,2024-01-01,07:30,1016.992,17.74,85.41,1263.833,0.447,1,07,...,16.2,17.6,18.6,19.9,20.7,0,23.5358,121.3240,南,5
4,1,2024-01-01,07:40,1017.094,17.90,85.41,2136.833,1.129,1,07,...,16.2,17.6,18.6,19.9,20.7,0,23.5358,121.3240,南,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105156,17,2024-07-12,14:50,1004.010,36.58,64.56,11530.249,29.948,7,14,...,31.2,31.1,30.1,29.2,27.9,1,23.5352,121.3222,西,5
105157,17,2024-07-12,15:00,1003.978,36.33,63.15,11156.418,28.025,7,15,...,31.3,31.1,30.2,29.2,27.9,1,23.5352,121.3222,西,5
105158,17,2024-07-12,15:10,1004.064,36.11,65.83,13226.666,41.568,7,15,...,31.3,31.1,30.2,29.2,27.9,1,23.5352,121.3222,西,5
105159,17,2024-07-12,15:20,1004.078,36.39,65.17,12541.167,36.892,7,15,...,31.3,31.1,30.2,29.2,27.9,1,23.5352,121.3222,西,5
105160,17,2024-07-12,15:30,1004.070,36.40,64.90,12288.330,34.870,7,15,...,31.3,31.1,30.2,29.2,27.9,1,23.5352,121.3222,西,5

In [47]:
#把data_after的"Month"、"direction"、"floor"做one-hot encoding
data_after = pd.get_dummies(data_after, columns=['Month', 'Season' ,'direction', 'floor'])

# 將布林值 (True, False) 轉換為數值 (1, 0)
data_after = data_after.replace({True: 1, False: 0})

data_after

/tmp/ipykernel_3046393/3220008186.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_after = data_after.replace({True: 1, False: 0})

,LocationCode,Date,TimeMinGroup,Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW),Time,yyyymmddhh,...,Season_Winter,direction_南,direction_東,direction_東南,direction_西,direction_西北,direction_西南,floor_1,floor_3,floor_5
0,1,2024-01-01,07:00,1016.730,17.50,86.99,470.834,0.083,07,2024010107,...,1,1,0,0,0,0,0,0,0,1
1,1,2024-01-01,07:10,1016.774,17.57,86.97,659.667,0.139,07,2024010107,...,1,1,0,0,0,0,0,0,0,1
2,1,2024-01-01,07:20,1016.922,17.63,86.18,889.666,0.247,07,2024010107,...,1,1,0,0,0,0,0,0,0,1
3,1,2024-01-01,07:30,1016.992,17.74,85.41,1263.833,0.447,07,2024010107,...,1,1,0,0,0,0,0,0,0,1
4,1,2024-01-01,07:40,1017.094,17.90,85.41,2136.833,1.129,07,2024010107,...,1,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105156,17,2024-07-12,14:50,1004.010,36.58,64.56,11530.249,29.948,14,2024071214,...,0,0,0,0,1,0,0,0,0,1
105157,17,2024-07-12,15:00,1003.978,36.33,63.15,11156.418,28.025,15,2024071215,...,0,0,0,0,1,0,0,0,0,1
105158,17,2024-07-12,15:10,1004.064,36.11,65.83,13226.666,41.568,15,2024071215,...,0,0,0,0,1,0,0,0,0,1
105159,17,2024-07-12,15:20,1004.078,36.39,65.17,12541.167,36.892,15,2024071215,...,0,0,0,0,1,0,0,0,0,1
105160,17,2024-07-12,15:30,1004.070,36.40,64.90,12288.330,34.870,15,2024071215,...,0,0,0,0,1,0,0,0,0,1

In [48]:
data_after_test = pd.merge(filtered_result_11,df_after,on='LocationCode',how='left')

#把data_after_test的"Month"、"direction"、"floor"做one-hot encoding
data_after_test = pd.get_dummies(data_after_test, columns=['Month', 'Season', 'direction', 'floor'])

# 將布林值 (True, False) 轉換為數值 (1, 0)
data_after_test = data_after_test.replace({True: 1, False: 0})

data_after_test

/tmp/ipykernel_3046393/3512164864.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_after_test = data_after_test.replace({True: 1, False: 0})

,LocationCode,Date,TimeMinGroup,Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW),Time,yyyymmddhh,...,Season_Winter,direction_南,direction_東,direction_東南,direction_西,direction_西北,direction_西南,floor_1,floor_3,floor_5
0,1,2024-01-06,09:00,NaN,NaN,NaN,NaN,NaN,09,2024010609,...,1,1,0,0,0,0,0,0,0,1
1,1,2024-01-06,09:10,NaN,NaN,NaN,NaN,NaN,09,2024010609,...,1,1,0,0,0,0,0,0,0,1
2,1,2024-01-06,09:20,NaN,NaN,NaN,NaN,NaN,09,2024010609,...,1,1,0,0,0,0,0,0,0,1
3,1,2024-01-06,09:30,NaN,NaN,NaN,NaN,NaN,09,2024010609,...,1,1,0,0,0,0,0,0,0,1
4,1,2024-01-06,09:40,NaN,NaN,NaN,NaN,NaN,09,2024010609,...,1,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17888,17,2024-07-12,16:10,NaN,NaN,NaN,NaN,NaN,16,2024071216,...,0,0,0,0,1,0,0,0,0,1
17889,17,2024-07-12,16:20,NaN,NaN,NaN,NaN,NaN,16,2024071216,...,0,0,0,0,1,0,0,0,0,1
17890,17,2024-07-12,16:30,NaN,NaN,NaN,NaN,NaN,16,2024071216,...,0,0,0,0,1,0,0,0,0,1
17891,17,2024-07-12,16:40,NaN,NaN,NaN,NaN,NaN,16,2024071216,...,0,0,0,0,1,0,0,0,0,1
17892,17,2024-07-12,16:50,NaN,NaN,NaN,NaN,NaN,16,2024071216,...,0,0,0,0,1,0,0,0,0,1

In [49]:
#看data_after中有缺失值的欄位，列出大於0的
data_after.isnull().sum()[data_after.isnull().sum() > 0]

data_after_72250 = data_after.copy()
#將data_after_72250中有缺失值的row刪除
data_after_72250 = data_after_72250.dropna()

In [50]:
#看data_after_test中有缺失值的欄位，列出大於0的
data_after_test.isnull().sum()[data_after_test.isnull().sum() > 0]

Pressure(hpa)      17893
Temperature(°C)    17893
Humidity(%)        17893
Sunlight(Lux)      17893
Power(mW)          17893
PS01_72250           104
PS02_72250           104
TX01_72250           104
TD01_72250           104
RH01_72250           104
WD01_72250           104
WD02_72250           104
WD07_72250           104
WD08_72250           104
PP01_72250           104
SS01_72250           104
GR01_72250           104
TS01_72250           104
TS02_72250           104
TS03_72250           104
TS04_72250           104
TS06_72250           104
TS07_72250           104
dtype: int64

In [51]:
data_after_72250_test = data_after_test.copy()
#將data_after_72250_test中RH01_72250欄位有缺失值的row刪除
data_after_72250_test = data_after_72250_test.dropna(subset=['RH01_72250'])
data_after_72250_test

,LocationCode,Date,TimeMinGroup,Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW),Time,yyyymmddhh,...,Season_Winter,direction_南,direction_東,direction_東南,direction_西,direction_西北,direction_西南,floor_1,floor_3,floor_5
0,1,2024-01-06,09:00,NaN,NaN,NaN,NaN,NaN,09,2024010609,...,1,1,0,0,0,0,0,0,0,1
1,1,2024-01-06,09:10,NaN,NaN,NaN,NaN,NaN,09,2024010609,...,1,1,0,0,0,0,0,0,0,1
2,1,2024-01-06,09:20,NaN,NaN,NaN,NaN,NaN,09,2024010609,...,1,1,0,0,0,0,0,0,0,1
3,1,2024-01-06,09:30,NaN,NaN,NaN,NaN,NaN,09,2024010609,...,1,1,0,0,0,0,0,0,0,1
4,1,2024-01-06,09:40,NaN,NaN,NaN,NaN,NaN,09,2024010609,...,1,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17888,17,2024-07-12,16:10,NaN,NaN,NaN,NaN,NaN,16,2024071216,...,0,0,0,0,1,0,0,0,0,1
17889,17,2024-07-12,16:20,NaN,NaN,NaN,NaN,NaN,16,2024071216,...,0,0,0,0,1,0,0,0,0,1
17890,17,2024-07-12,16:30,NaN,NaN,NaN,NaN,NaN,16,2024071216,...,0,0,0,0,1,0,0,0,0,1
17891,17,2024-07-12,16:40,NaN,NaN,NaN,NaN,NaN,16,2024071216,...,0,0,0,0,1,0,0,0,0,1
17892,17,2024-07-12,16:50,NaN,NaN,NaN,NaN,NaN,16,2024071216,...,0,0,0,0,1,0,0,0,0,1

In [52]:
#列出中所有欄位(tolist)
data_after.columns.tolist()
print(data_after.columns.tolist())

data_after_test.columns.tolist()
print(data_after_test.columns.tolist())

data_after_72250.columns.tolist()
print(data_after_72250.columns.tolist())

data_after_72250_test.columns.tolist()
print(data_after_72250_test.columns.tolist())

['LocationCode', 'Date', 'TimeMinGroup', 'Pressure(hpa)', 'Temperature(°C)', 'Humidity(%)', 'Sunlight(Lux)', 'Power(mW)', 'Time', 'yyyymmddhh', 'PS01_466990', 'PS02_466990', 'TX01_466990', 'TD01_466990', 'RH01_466990', 'WD01_466990', 'WD02_466990', 'WD07_466990', 'WD08_466990', 'PP01_466990', 'PP02_466990', 'SS01_466990', 'GR01_466990', 'UV01_466990', 'PS01_72250', 'PS02_72250', 'TX01_72250', 'TD01_72250', 'RH01_72250', 'WD01_72250', 'WD02_72250', 'WD07_72250', 'WD08_72250', 'PP01_72250', 'SS01_72250', 'GR01_72250', 'TS01_72250', 'TS02_72250', 'TS03_72250', 'TS04_72250', 'TS06_72250', 'TS07_72250', 'nearby', 'Lat', 'Lon', 'Month_1', 'Month_2', 'Month_3', 'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8', 'Month_9', 'Month_10', 'Season_Autumn', 'Season_Spring', 'Season_Summer', 'Season_Winter', 'direction_南', 'direction_東', 'direction_東南', 'direction_西', 'direction_西北', 'direction_西南', 'floor_1', 'floor_3', 'floor_5']
['LocationCode', 'Date', 'TimeMinGroup', 'Pressure(hpa)', 'Temperature(°C)', 'Humidity(%)', 'Sunlight(Lux)', 'Power(mW)', 'Time', 'yyyymmddhh', 'PS01_466990', 'PS02_466990', 'TX01_466990', 'TD01_466990', 'RH01_466990', 'WD01_466990', 'WD02_466990', 'WD07_466990', 'WD08_466990', 'PP01_466990', 'PP02_466990', 'SS01_466990', 'GR01_466990', 'UV01_466990', 'PS01_72250', 'PS02_72250', 'TX01_72250', 'TD01_72250', 'RH01_72250', 'WD01_72250', 'WD02_72250', 'WD07_72250', 'WD08_72250', 'PP01_72250', 'SS01_72250', 'GR01_72250', 'TS01_72250', 'TS02_72250', 'TS03_72250', 'TS04_72250', 'TS06_72250', 'TS07_72250', 'nearby', 'Lat', 'Lon', 'Month_1', 'Month_2', 'Month_3', 'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8', 'Month_9', 'Month_10', 'Season_Autumn', 'Season_Spring', 'Season_Summer', 'Season_Winter', 'direction_南', 'direction_東', 'direction_東南', 'direction_西', 'direction_西北', 'direction_西南', 'floor_1', 'floor_3', 'floor_5']
['LocationCode', 'Date', 'TimeMinGroup', 'Pressure(hpa)', 'Temperature(°C)', 'Humidity(%)', 'Sunlight(Lux)', 'Power(mW)', 'Time', 'yyyymmddhh', 'PS01_466990', 'PS02_466990', 'TX01_466990', 'TD01_466990', 'RH01_466990', 'WD01_466990', 'WD02_466990', 'WD07_466990', 'WD08_466990', 'PP01_466990', 'PP02_466990', 'SS01_466990', 'GR01_466990', 'UV01_466990', 'PS01_72250', 'PS02_72250', 'TX01_72250', 'TD01_72250', 'RH01_72250', 'WD01_72250', 'WD02_72250', 'WD07_72250', 'WD08_72250', 'PP01_72250', 'SS01_72250', 'GR01_72250', 'TS01_72250', 'TS02_72250', 'TS03_72250', 'TS04_72250', 'TS06_72250', 'TS07_72250', 'nearby', 'Lat', 'Lon', 'Month_1', 'Month_2', 'Month_3', 'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8', 'Month_9', 'Month_10', 'Season_Autumn', 'Season_Spring', 'Season_Summer', 'Season_Winter', 'direction_南', 'direction_東', 'direction_東南', 'direction_西', 'direction_西北', 'direction_西南', 'floor_1', 'floor_3', 'floor_5']
['LocationCode', 'Date', 'TimeMinGroup', 'Pressure(hpa)', 'Temperature(°C)', 'Humidity(%)', 'Sunlight(Lux)', 'Power(mW)', 'Time', 'yyyymmddhh', 'PS01_466990', 'PS02_466990', 'TX01_466990', 'TD01_466990', 'RH01_466990', 'WD01_466990', 'WD02_466990', 'WD07_466990', 'WD08_466990', 'PP01_466990', 'PP02_466990', 'SS01_466990', 'GR01_466990', 'UV01_466990', 'PS01_72250', 'PS02_72250', 'TX01_72250', 'TD01_72250', 'RH01_72250', 'WD01_72250', 'WD02_72250', 'WD07_72250', 'WD08_72250', 'PP01_72250', 'SS01_72250', 'GR01_72250', 'TS01_72250', 'TS02_72250', 'TS03_72250', 'TS04_72250', 'TS06_72250', 'TS07_72250', 'nearby', 'Lat', 'Lon', 'Month_1', 'Month_2', 'Month_3', 'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8', 'Month_9', 'Month_10', 'Season_Autumn', 'Season_Spring', 'Season_Summer', 'Season_Winter', 'direction_南', 'direction_東', 'direction_東南', 'direction_西', 'direction_西北', 'direction_西南', 'floor_1', 'floor_3', 'floor_5']

LocationCode也做one-hot encoding

In [53]:
data_after_1 = data_after.copy()

#把data_after_1的'LocationCode'做one-hot encoding
data_after_1 = pd.get_dummies(data_after_1, columns=['LocationCode'])

# 將布林值 (True, False) 轉換為數值 (1, 0)
data_after_1 = data_after_1.replace({True: 1, False: 0})

data_after_1

/tmp/ipykernel_3046393/3204877302.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_after_1 = data_after_1.replace({True: 1, False: 0})

,Date,TimeMinGroup,Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW),Time,yyyymmddhh,PS01_466990,...,LocationCode_8,LocationCode_9,LocationCode_10,LocationCode_11,LocationCode_12,LocationCode_13,LocationCode_14,LocationCode_15,LocationCode_16,LocationCode_17
0,2024-01-01,07:00,1016.730,17.50,86.99,470.834,0.083,07,2024010107,1020.7,...,0,0,0,0,0,0,0,0,0,0
1,2024-01-01,07:10,1016.774,17.57,86.97,659.667,0.139,07,2024010107,1020.7,...,0,0,0,0,0,0,0,0,0,0
2,2024-01-01,07:20,1016.922,17.63,86.18,889.666,0.247,07,2024010107,1020.7,...,0,0,0,0,0,0,0,0,0,0
3,2024-01-01,07:30,1016.992,17.74,85.41,1263.833,0.447,07,2024010107,1020.7,...,0,0,0,0,0,0,0,0,0,0
4,2024-01-01,07:40,1017.094,17.90,85.41,2136.833,1.129,07,2024010107,1020.7,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105156,2024-07-12,14:50,1004.010,36.58,64.56,11530.249,29.948,14,2024071214,1002.5,...,0,0,0,0,0,0,0,0,0,1
105157,2024-07-12,15:00,1003.978,36.33,63.15,11156.418,28.025,15,2024071215,1002.4,...,0,0,0,0,0,0,0,0,0,1
105158,2024-07-12,15:10,1004.064,36.11,65.83,13226.666,41.568,15,2024071215,1002.4,...,0,0,0,0,0,0,0,0,0,1
105159,2024-07-12,15:20,1004.078,36.39,65.17,12541.167,36.892,15,2024071215,1002.4,...,0,0,0,0,0,0,0,0,0,1
105160,2024-07-12,15:30,1004.070,36.40,64.90,12288.330,34.870,15,2024071215,1002.4,...,0,0,0,0,0,0,0,0,0,1

In [54]:
data_after_72250_1 = data_after_72250.copy()

#把data_after_1的'LocationCode'做one-hot encoding
data_after_72250_1 = pd.get_dummies(data_after_72250_1, columns=['LocationCode'])

# 將布林值 (True, False) 轉換為數值 (1, 0)
data_after_72250_1 = data_after_72250_1.replace({True: 1, False: 0})

data_after_72250_1

/tmp/ipykernel_3046393/1051354841.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_after_72250_1 = data_after_72250_1.replace({True: 1, False: 0})

,Date,TimeMinGroup,Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW),Time,yyyymmddhh,PS01_466990,...,LocationCode_8,LocationCode_9,LocationCode_10,LocationCode_11,LocationCode_12,LocationCode_13,LocationCode_14,LocationCode_15,LocationCode_16,LocationCode_17
0,2024-01-01,07:00,1016.730,17.50,86.99,470.834,0.083,07,2024010107,1020.7,...,0,0,0,0,0,0,0,0,0,0
1,2024-01-01,07:10,1016.774,17.57,86.97,659.667,0.139,07,2024010107,1020.7,...,0,0,0,0,0,0,0,0,0,0
2,2024-01-01,07:20,1016.922,17.63,86.18,889.666,0.247,07,2024010107,1020.7,...,0,0,0,0,0,0,0,0,0,0
3,2024-01-01,07:30,1016.992,17.74,85.41,1263.833,0.447,07,2024010107,1020.7,...,0,0,0,0,0,0,0,0,0,0
4,2024-01-01,07:40,1017.094,17.90,85.41,2136.833,1.129,07,2024010107,1020.7,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105156,2024-07-12,14:50,1004.010,36.58,64.56,11530.249,29.948,14,2024071214,1002.5,...,0,0,0,0,0,0,0,0,0,1
105157,2024-07-12,15:00,1003.978,36.33,63.15,11156.418,28.025,15,2024071215,1002.4,...,0,0,0,0,0,0,0,0,0,1
105158,2024-07-12,15:10,1004.064,36.11,65.83,13226.666,41.568,15,2024071215,1002.4,...,0,0,0,0,0,0,0,0,0,1
105159,2024-07-12,15:20,1004.078,36.39,65.17,12541.167,36.892,15,2024071215,1002.4,...,0,0,0,0,0,0,0,0,0,1
105160,2024-07-12,15:30,1004.070,36.40,64.90,12288.330,34.870,15,2024071215,1002.4,...,0,0,0,0,0,0,0,0,0,1

In [55]:
data_after_test_1 = data_after_test.copy()

#把data_after_1的'LocationCode'做one-hot encoding
data_after_test_1 = pd.get_dummies(data_after_test_1, columns=['LocationCode'])

# 將布林值 (True, False) 轉換為數值 (1, 0)
data_after_test_1 = data_after_test_1.replace({True: 1, False: 0})

data_after_test_1

/tmp/ipykernel_3046393/2102549650.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_after_test_1 = data_after_test_1.replace({True: 1, False: 0})

,Date,TimeMinGroup,Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW),Time,yyyymmddhh,PS01_466990,...,LocationCode_8,LocationCode_9,LocationCode_10,LocationCode_11,LocationCode_12,LocationCode_13,LocationCode_14,LocationCode_15,LocationCode_16,LocationCode_17
0,2024-01-06,09:00,NaN,NaN,NaN,NaN,NaN,09,2024010609,1019.8,...,0,0,0,0,0,0,0,0,0,0
1,2024-01-06,09:10,NaN,NaN,NaN,NaN,NaN,09,2024010609,1019.8,...,0,0,0,0,0,0,0,0,0,0
2,2024-01-06,09:20,NaN,NaN,NaN,NaN,NaN,09,2024010609,1019.8,...,0,0,0,0,0,0,0,0,0,0
3,2024-01-06,09:30,NaN,NaN,NaN,NaN,NaN,09,2024010609,1019.8,...,0,0,0,0,0,0,0,0,0,0
4,2024-01-06,09:40,NaN,NaN,NaN,NaN,NaN,09,2024010609,1019.8,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17888,2024-07-12,16:10,NaN,NaN,NaN,NaN,NaN,16,2024071216,1002.4,...,0,0,0,0,0,0,0,0,0,1
17889,2024-07-12,16:20,NaN,NaN,NaN,NaN,NaN,16,2024071216,1002.4,...,0,0,0,0,0,0,0,0,0,1
17890,2024-07-12,16:30,NaN,NaN,NaN,NaN,NaN,16,2024071216,1002.4,...,0,0,0,0,0,0,0,0,0,1
17891,2024-07-12,16:40,NaN,NaN,NaN,NaN,NaN,16,2024071216,1002.4,...,0,0,0,0,0,0,0,0,0,1
17892,2024-07-12,16:50,NaN,NaN,NaN,NaN,NaN,16,2024071216,1002.4,...,0,0,0,0,0,0,0,0,0,1

In [56]:
data_after_72250_test_1 = data_after_72250_test.copy()

#把data_after_1的'LocationCode'做one-hot encoding
data_after_72250_test_1 = pd.get_dummies(data_after_72250_test_1, columns=['LocationCode'])

# 將布林值 (True, False) 轉換為數值 (1, 0)
data_after_72250_test_1 = data_after_72250_test_1.replace({True: 1, False: 0})

data_after_72250_test_1

/tmp/ipykernel_3046393/3923868398.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_after_72250_test_1 = data_after_72250_test_1.replace({True: 1, False: 0})

,Date,TimeMinGroup,Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW),Time,yyyymmddhh,PS01_466990,...,LocationCode_8,LocationCode_9,LocationCode_10,LocationCode_11,LocationCode_12,LocationCode_13,LocationCode_14,LocationCode_15,LocationCode_16,LocationCode_17
0,2024-01-06,09:00,NaN,NaN,NaN,NaN,NaN,09,2024010609,1019.8,...,0,0,0,0,0,0,0,0,0,0
1,2024-01-06,09:10,NaN,NaN,NaN,NaN,NaN,09,2024010609,1019.8,...,0,0,0,0,0,0,0,0,0,0
2,2024-01-06,09:20,NaN,NaN,NaN,NaN,NaN,09,2024010609,1019.8,...,0,0,0,0,0,0,0,0,0,0
3,2024-01-06,09:30,NaN,NaN,NaN,NaN,NaN,09,2024010609,1019.8,...,0,0,0,0,0,0,0,0,0,0
4,2024-01-06,09:40,NaN,NaN,NaN,NaN,NaN,09,2024010609,1019.8,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17888,2024-07-12,16:10,NaN,NaN,NaN,NaN,NaN,16,2024071216,1002.4,...,0,0,0,0,0,0,0,0,0,1
17889,2024-07-12,16:20,NaN,NaN,NaN,NaN,NaN,16,2024071216,1002.4,...,0,0,0,0,0,0,0,0,0,1
17890,2024-07-12,16:30,NaN,NaN,NaN,NaN,NaN,16,2024071216,1002.4,...,0,0,0,0,0,0,0,0,0,1
17891,2024-07-12,16:40,NaN,NaN,NaN,NaN,NaN,16,2024071216,1002.4,...,0,0,0,0,0,0,0,0,0,1
17892,2024-07-12,16:50,NaN,NaN,NaN,NaN,NaN,16,2024071216,1002.4,...,0,0,0,0,0,0,0,0,0,1

In [57]:
data_after_1.columns.tolist()
print(data_after_1.columns.tolist())

data_after_test_1.columns.tolist()
print(data_after_test_1.columns.tolist())

data_after_72250_1.columns.tolist()
print(data_after_72250_1.columns.tolist())

data_after_72250_test_1.columns.tolist()
print(data_after_72250_test_1.columns.tolist())

['Date', 'TimeMinGroup', 'Pressure(hpa)', 'Temperature(°C)', 'Humidity(%)', 'Sunlight(Lux)', 'Power(mW)', 'Time', 'yyyymmddhh', 'PS01_466990', 'PS02_466990', 'TX01_466990', 'TD01_466990', 'RH01_466990', 'WD01_466990', 'WD02_466990', 'WD07_466990', 'WD08_466990', 'PP01_466990', 'PP02_466990', 'SS01_466990', 'GR01_466990', 'UV01_466990', 'PS01_72250', 'PS02_72250', 'TX01_72250', 'TD01_72250', 'RH01_72250', 'WD01_72250', 'WD02_72250', 'WD07_72250', 'WD08_72250', 'PP01_72250', 'SS01_72250', 'GR01_72250', 'TS01_72250', 'TS02_72250', 'TS03_72250', 'TS04_72250', 'TS06_72250', 'TS07_72250', 'nearby', 'Lat', 'Lon', 'Month_1', 'Month_2', 'Month_3', 'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8', 'Month_9', 'Month_10', 'Season_Autumn', 'Season_Spring', 'Season_Summer', 'Season_Winter', 'direction_南', 'direction_東', 'direction_東南', 'direction_西', 'direction_西北', 'direction_西南', 'floor_1', 'floor_3', 'floor_5', 'LocationCode_1', 'LocationCode_2', 'LocationCode_3', 'LocationCode_4', 'LocationCode_5', 'LocationCode_6', 'LocationCode_7', 'LocationCode_8', 'LocationCode_9', 'LocationCode_10', 'LocationCode_11', 'LocationCode_12', 'LocationCode_13', 'LocationCode_14', 'LocationCode_15', 'LocationCode_16', 'LocationCode_17']
['Date', 'TimeMinGroup', 'Pressure(hpa)', 'Temperature(°C)', 'Humidity(%)', 'Sunlight(Lux)', 'Power(mW)', 'Time', 'yyyymmddhh', 'PS01_466990', 'PS02_466990', 'TX01_466990', 'TD01_466990', 'RH01_466990', 'WD01_466990', 'WD02_466990', 'WD07_466990', 'WD08_466990', 'PP01_466990', 'PP02_466990', 'SS01_466990', 'GR01_466990', 'UV01_466990', 'PS01_72250', 'PS02_72250', 'TX01_72250', 'TD01_72250', 'RH01_72250', 'WD01_72250', 'WD02_72250', 'WD07_72250', 'WD08_72250', 'PP01_72250', 'SS01_72250', 'GR01_72250', 'TS01_72250', 'TS02_72250', 'TS03_72250', 'TS04_72250', 'TS06_72250', 'TS07_72250', 'nearby', 'Lat', 'Lon', 'Month_1', 'Month_2', 'Month_3', 'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8', 'Month_9', 'Month_10', 'Season_Autumn', 'Season_Spring', 'Season_Summer', 'Season_Winter', 'direction_南', 'direction_東', 'direction_東南', 'direction_西', 'direction_西北', 'direction_西南', 'floor_1', 'floor_3', 'floor_5', 'LocationCode_1', 'LocationCode_2', 'LocationCode_3', 'LocationCode_4', 'LocationCode_5', 'LocationCode_6', 'LocationCode_7', 'LocationCode_8', 'LocationCode_9', 'LocationCode_10', 'LocationCode_11', 'LocationCode_12', 'LocationCode_13', 'LocationCode_14', 'LocationCode_15', 'LocationCode_16', 'LocationCode_17']
['Date', 'TimeMinGroup', 'Pressure(hpa)', 'Temperature(°C)', 'Humidity(%)', 'Sunlight(Lux)', 'Power(mW)', 'Time', 'yyyymmddhh', 'PS01_466990', 'PS02_466990', 'TX01_466990', 'TD01_466990', 'RH01_466990', 'WD01_466990', 'WD02_466990', 'WD07_466990', 'WD08_466990', 'PP01_466990', 'PP02_466990', 'SS01_466990', 'GR01_466990', 'UV01_466990', 'PS01_72250', 'PS02_72250', 'TX01_72250', 'TD01_72250', 'RH01_72250', 'WD01_72250', 'WD02_72250', 'WD07_72250', 'WD08_72250', 'PP01_72250', 'SS01_72250', 'GR01_72250', 'TS01_72250', 'TS02_72250', 'TS03_72250', 'TS04_72250', 'TS06_72250', 'TS07_72250', 'nearby', 'Lat', 'Lon', 'Month_1', 'Month_2', 'Month_3', 'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8', 'Month_9', 'Month_10', 'Season_Autumn', 'Season_Spring', 'Season_Summer', 'Season_Winter', 'direction_南', 'direction_東', 'direction_東南', 'direction_西', 'direction_西北', 'direction_西南', 'floor_1', 'floor_3', 'floor_5', 'LocationCode_1', 'LocationCode_2', 'LocationCode_3', 'LocationCode_4', 'LocationCode_5', 'LocationCode_6', 'LocationCode_7', 'LocationCode_8', 'LocationCode_9', 'LocationCode_10', 'LocationCode_11', 'LocationCode_12', 'LocationCode_13', 'LocationCode_14', 'LocationCode_15', 'LocationCode_16', 'LocationCode_17']
['Date', 'TimeMinGroup', 'Pressure(hpa)', 'Temperature(°C)', 'Humidity(%)', 'Sunlight(Lux)', 'Power(mW)', 'Time', 'yyyymmddhh', 'PS01_466990', 'PS02_466990', 'TX01_466990', 'TD01_466990', 'RH01_466990', 'WD01_466990', 'WD02_466990', 'WD07_466990', 'WD08_466990', 'PP01_466990', 'PP02_466990', 'SS01_466990', 'GR01_466990', 'UV01_466990', 'PS01_72250', 'PS02_72250', 'TX01_72250', 'TD01_72250', 'RH01_72250', 'WD01_72250', 'WD02_72250', 'WD07_72250', 'WD08_72250', 'PP01_72250', 'SS01_72250', 'GR01_72250', 'TS01_72250', 'TS02_72250', 'TS03_72250', 'TS04_72250', 'TS06_72250', 'TS07_72250', 'nearby', 'Lat', 'Lon', 'Month_1', 'Month_2', 'Month_3', 'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8', 'Month_9', 'Month_10', 'Season_Autumn', 'Season_Spring', 'Season_Summer', 'Season_Winter', 'direction_南', 'direction_東', 'direction_東南', 'direction_西', 'direction_西北', 'direction_西南', 'floor_1', 'floor_3', 'floor_5', 'LocationCode_1', 'LocationCode_2', 'LocationCode_3', 'LocationCode_4', 'LocationCode_5', 'LocationCode_6', 'LocationCode_7', 'LocationCode_8', 'LocationCode_9', 'LocationCode_10', 'LocationCode_11', 'LocationCode_12', 'LocationCode_13', 'LocationCode_14', 'LocationCode_15', 'LocationCode_16', 'LocationCode_17']

In [59]:
#存檔
data_after.to_csv('./data/preprocess_data/oneday_weather/data_after.csv', index=False)
data_after_test.to_csv('./data/preprocess_data/oneday_weather/data_after_test.csv', index=False)
data_after_72250.to_csv('./data/preprocess_data/oneday_weather/data_after_72250.csv', index=False)
data_after_72250_test.to_csv('./data/preprocess_data/oneday_weather/data_after_72250_test.csv', index=False)

data_after_1.to_csv('./data/preprocess_data/oneday_weather/data_after_1.csv', index=False)
data_after_test_1.to_csv('./data/preprocess_data/oneday_weather/data_after_test_1.csv', index=False)
data_after_72250_1.to_csv('./data/preprocess_data/oneday_weather/data_after_72250_1.csv', index=False)
data_after_72250_test_1.to_csv('./data/preprocess_data/oneday_weather/data_after_72250_test_1.csv', index=False)

data_after : 完整466990資料，未刪除72250資料有缺失值的row

data_after_test : 完整466990資料，未刪除72250資料有缺失值的row

data_after_72250 : 刪除72250資料有缺失值的row

data_after_72250_test : 刪除72250資料有缺失值的row


data_after_1 : 完整466990資料，未刪除72250資料有缺失值的row，並將LocationCode做one-hot encoding

data_after_test_1 : 完整466990資料，未刪除72250資料有缺失值的row，並將LocationCode做one-hot encoding

data_after_72250_1 : 刪除72250資料有缺失值的row，並將LocationCode做one-hot encoding

data_after_72250_test_1 : 除72250資料有缺失值的row，並將LocationCode做one-hot encoding